# Library

In [5]:
import logging
import requests
from bs4 import BeautifulSoup
from urllib.error import HTTPError

import http.client as httplib  # or http.client if you're on Python 3 # httplib
httplib._MAXHEADERS = 10000
# ChunkedEncodingError

import time
import datetime
from datetime import datetime, timedelta

import re

import json

import warnings
warnings.simplefilter(action='ignore')

import pandas as pd
import numpy as np
import sys

import random 
from random import sample

In [367]:
# pathes
art_project_path = '/content/drive/MyDrive/Art/Art_Project'
art_project_path_backups = '/content/drive/MyDrive/Art/Art_Project/parsing_backups'
art_project_path_tests = '/content/drive/MyDrive/Art/Art_Project/parsing_tests'

url_add = 'https://www.artsy.net'

# files
cat_dict = '/artsy_genom_cat_dict.txt'
gen_dict = '/artsy_genom_gen_dict.txt'
artwork_dict = '/artsy_genom_artwork_dict.txt'
artist_dict = '/artsy_genom_artist_dict.txt'
temp_data = '/artsy_temp_data.csv'
temp_data_add_up = '/artsy_temp_data_add_up.csv'

# id length
cat_id_len = 2
gen_id_len = 5
artist_id_len = 5

# for addition and updating
recently_added_pref = '?sort=-published_at'
recently_updated_pref = '?sort=-partner_updated_at'

# Functions

## Openings and savings

In [7]:
# 1. Save json dict
def save_dict(tree_dict, file, folder):
  if folder=='live':
    with open(art_project_path + file, 'w') as outfile:
      json.dump(tree_dict, outfile)
  elif folder=='backup':
    with open(art_project_path_backups + file, 'w') as outfile:
      json.dump(tree_dict, outfile)

# 2. Open json dict
def open_dict(file, folder):
  if folder=='live':
    with open(art_project_path + file, 'rb') as infile:
      tree_dict = json.load(infile)
  elif folder=='backup':
    with open(art_project_path_backups + file, 'rb') as infile:
      tree_dict = json.load(infile)
  return tree_dict

# 3. Open file.csv
def open_file_csv(file, folder): # folder: live, backup or test
  if folder=='live':
    df = pd.read_csv(art_project_path + file)
  elif folder=='backup':
    df = pd.read_csv(art_project_path_backups + file)
  elif folder=='test':
    df = pd.read_csv(art_project_path_tests + file)
  return df

# 4. Save df to csv file
def save_df_file(df, file, folder): # folder: live, backup or test
  if folder=='live':
    df.to_csv(art_project_path + file, index=False)
  elif folder=='backup':
    df.to_csv(art_project_path_backups + file, index=False)
  elif folder=='test':
    df.to_csv(art_project_path_tests + file, index=False)

## Parsing

### get_page

In [26]:
# 5. get_page
logging.basicConfig(level=logging.DEBUG, format="%(message)s")

def get_page(url, session):
  #response = requests.get(url, headers={'User-Agent': 'Chrome/97.0.4692.71'})
  try:
    response = session.get(url, headers={'User-Agent': 'Chrome/97.0.4692.71'})
  except: # requests.exceptions.ChunkedEncodingError:
    time.sleep(0.5)
    session = requests.Session()
    response = session.get(url, headers={'User-Agent': 'Chrome/97.0.4692.71'})

  try:
    response.raise_for_status()
  except requests.exceptions.HTTPError: # for correction
    sys.exit(print('HTTPError: ' + str(url)))

  bs_page = BeautifulSoup(response.text, 'html.parser')
  return bs_page

### get next pages links list

In [27]:
# 6. get next pages links list
def get_next_page_list(url, page):
  try:
    last_page_data = page.find('main').find_all('nav', class_='Box-sc-15se88d-0 Text-sc-18gcpao-0 ibHUpM gzwvJD')[0].find_all('a')[-2]
    last_page = last_page_data.get_text()
    page_link = last_page_data.get('href')[:-len(last_page)]
    next_page_link_list_new = [url + page_link + str(p) for p in range(2, int(last_page)+1)]
  except:
    next_page_link_list_new = []

  return next_page_link_list_new

# 6.1 get next pages links list
def get_next_page_list_add_up(url, page):
  try:
    last_page_data = page.find('main').find_all('nav', class_='Box-sc-15se88d-0 Text-sc-18gcpao-0 ibHUpM gzwvJD')[0].find_all('a')[-2]
    last_page = last_page_data.get_text()
    last_page_link = last_page_data.get('href')
    next_page_link_list_new = [url + last_page_link.split('&')[0][:-len(last_page)] + str(p) + '&' + last_page_link.split('&')[1] for p in range(2, int(last_page)+1)]
  except:
    next_page_link_list_new = []

  return next_page_link_list_new

In [28]:
# https://www.artsy.net/gene/inlay
# https://www.artsy.net/gene/inlay?page=2
# https://www.artsy.net/gene/inlay?sort=-published_at
# https://www.artsy.net/gene/inlay?page=2&sort=-published_at

### get data from pages

In [29]:
# 7. get data from pages
def get_page_data(page):
  code_block = page.find('main').find_all('div', class_='ArtworkGrid-sc-1jsqquq-0 djwrUe')
  try:
    object_block = code_block[0].find_all('div', relay='[object Object]')
  
    # for the beggining into a DataFrame
    artsy_id_list = [obj.get('data-id') for obj in object_block]
    imgage_list = [obj.find_all('a')[0].find('img').get('src') for obj in object_block]
    artist_list = [obj.find_all('a')[1].find_all('div')[0].get_text() for obj in object_block]
  
    gallery_list = []
    for obj in object_block:
      try:
        gallery_list.append(obj.find_all('a')[1].find('div', class_='Box-sc-15se88d-0 Text-sc-18gcpao-0 caIGcn hENCPo').get_text())
      except:
        gallery_list.append(np.nan)
  
    price_list = []
    for obj in object_block:
      try:
        price_list.append(obj.find_all('a')[1].find('div', class_='Box-sc-15se88d-0 Text-sc-18gcpao-0 eXbAnU jkuGdd').get_text())
      except:
        price_list.append(np.nan)
  
    # can be no year info !!!
    name_list = []
    year_list = []
    for obj in object_block:
      text = obj.find_all('a')[1].find('div', class_='Box-sc-15se88d-0 Text-sc-18gcpao-0 caIGcn kySEpG').get_text()
      name = obj.find_all('a')[1].find('div', class_='Box-sc-15se88d-0 Text-sc-18gcpao-0 caIGcn kySEpG').find('i').get_text()
      year = text.replace(name, '').replace(', ', '')
      if len(year)==0:
        year = np.nan
      name_list.append(name)
      year_list.append(year)

    df_data_new = pd.DataFrame({'artsy_id': artsy_id_list,
                                'name': name_list, 
                                'link': imgage_list, 
                                'year': year_list,
                                'artist': artist_list,
                                'gallery': gallery_list,
                                'price': price_list
                                })
  except:
    df_data_new = pd.DataFrame({'artsy_id': np.nan,
                                'name': np.nan, 
                                'link': np.nan, 
                                'year': np.nan,
                                'artist': np.nan,
                                'gallery': np.nan,
                                'price': np.nan
                                }, index=[0])
  
  return df_data_new

### get category data into df - aggregator

In [30]:
# Function aggregator
# 8. Get the all category data into DataFrame
def get_df_data(df_input, genes_links_list, genes_ids_list, cat):
  start_time = time.time()
  print(datetime.now().time())
  df_output = df_input.copy()
  df_output = df_output[0:0]

  for link in genes_links_list:
    session = requests.Session()
    total_link = url_add + link
    print('Parsing of gene', genes_ids_list[genes_links_list.index(link)], total_link, 'has started')
    # 5. get_page
    gene_page = get_page(total_link, session)
    #           get_page(url, session) -> 
    # -> bs_page
    
    # 6. get next pages links list
    next_page_link_list = get_next_page_list(url_add, gene_page)
    #                     get_next_page_list(url, page) -> 
    # -> next_page_link_list_new
    print(len(next_page_link_list)+1, 'pages for parsing')

    # 7. get data from pages
    df_data = get_page_data(gene_page)
    #         get_page_data(page) -> 
    # -> df_data_new
    df_data['gene_id'] = genes_ids_list[genes_links_list.index(link)]
    df_data['category_id'] = cat
    df_data['parsing_date'] = datetime.now().date().strftime('%Y-%m-%d')
    df_data['updating_date'] = datetime.now().date().strftime('%Y-%m-%d')

    df_output = pd.concat([df_output, df_data])

    # Get data from next pages
    if len(next_page_link_list) > 0:
      for page_link in next_page_link_list:
        # 5. get_page
        gene_page = get_page(page_link, session)
        #           get_page(url, session) -> 
        # -> bs_page

        # 7. get data from pages
        df_data = get_page_data(gene_page)
        #         get_page_data(page) -> 
        # -> df_data_new
        df_data['gene_id'] = genes_ids_list[genes_links_list.index(link)]
        df_data['category_id'] = cat
        df_data['parsing_date'] = datetime.now().date().strftime('%Y-%m-%d')
        df_data['updating_date'] = datetime.now().date().strftime('%Y-%m-%d')

        df_output = pd.concat([df_output, df_data])
      
    print('Parsing of gene', genes_ids_list[genes_links_list.index(link)], total_link, 'has finished')
    print((time.time() - start_time), 'seconds have passed')
    print(datetime.now().time())
    print('')
    time.sleep(0.5)

  return df_output

In [437]:
# Function aggregator
# 8.1 Get the first pages category data into DataFrame
def get_df_data_add_up(df_input, genes_links_list, genes_ids_list, genes_cat_list): # cat !!!!!!!!
  start_time = time.time()
  print(datetime.now().time())
  df_output = df_input.copy()
  #df_output['pages_count'] = np.nan # only for the first time !!!!
  #df_output['second_page_link'] = np.nan # only for the first time !!!!
  df_output = df_output[0:0]

  session = requests.Session()
  l_c = 0
  for link in genes_links_list:
    #session = requests.Session()
    total_link = url_add + link
    print('Parsing of gene', genes_ids_list[genes_links_list.index(link)], total_link, 'has started')
    # 5. get_page
    gene_page = get_page(total_link, session)
    #           get_page(url, session) -> 
    # -> bs_page
    
    # 6.1 get next pages links list
    next_page_link_list = get_next_page_list_add_up(url_add, gene_page)
    #                     get_next_page_list_add_up(url, page) -> 
    # -> next_page_link_list_new
    print(len(next_page_link_list)+1, 'pages for parsing')

    # 7. get data from pages
    df_data = get_page_data(gene_page)
    #         get_page_data(page) -> 
    # -> df_data_new
    df_data['gene_id'] = genes_ids_list[genes_links_list.index(link)]
    df_data['category_id'] = genes_cat_list[genes_links_list.index(link)] # cat !!!!!!!!!
    df_data['parsing_date'] = datetime.now().date().strftime('%Y-%m-%d')
    df_data['updating_date'] = datetime.now().date().strftime('%Y-%m-%d')
    df_data['pages_count'] = len(next_page_link_list)+1
    if len(next_page_link_list) > 0:
      df_data['second_page_link'] = next_page_link_list[0]
    else:
      df_data['second_page_link'] = np.nan

    df_output = pd.concat([df_output, df_data])
      
    print('Parsing of gene', genes_ids_list[genes_links_list.index(link)], total_link, 'has finished')
    print((time.time() - start_time), 'seconds have passed')
    print(datetime.now().time())
    print('')
    time.sleep(0.5)
    l_c += 1
    if l_c == 10:
      session = requests.Session()
      l_c = 0

  return df_output

### correct image link

In [32]:
# 9. correct image link
def img_link_corr(img):
  parts = img.split('.jpg')[0].replace('?', '/').replace('%2F', '/').split('/')
  img_new = parts[0] + '//' + parts[5] + '/' + parts[6] + '/' + parts[7]  + '.jpg'
  return img_new

### filtering

In [33]:
# 10. Filtering
def get_cat_id(cat):
  return cat

def gene_links_samples(gen_key):
  cat_id = get_cat_id(cat)
  return genes_dict[gen_key]['category_id'] == cat_id

# Gens dict

In [161]:
url = 'https://www.artsy.net/categories'

In [162]:
response = requests.get(url, headers={'User-Agent': 'Chrome/97.0.4692.71'})
genome_page = BeautifulSoup(response.text, 'html.parser')
genome_page.title.string

Starting new HTTPS connection (1): www.artsy.net:443
https://www.artsy.net:443 "GET /categories HTTP/1.1" 200 None

'Artsy — Discover, Buy, and Sell Fine Art'

## categories_dict

In [ ]:
# !!!!! For the first time !!!!!
confirmation = input('Confirm the categories_dict re/seting (y/n)')
if confirmation == 'y':
  categories_dict = {}
  print('categories_dict has been re/set {}'.format(datetime.now().strftime('%Y-%m-%d %H:%M')))
  print("dictionary's length is - {}".format(len(categories_dict)))
else:
  print('nothing has happened')

Confirm the categories_dict re/seting (y/n)y
categories_dict has been re/set 2022-03-30 06:01
dictionary's length is - 0

In [163]:
# !!!!! All next times !!!!!
confirmation = input('Confirm the categories_dict opening (y/n)')
if confirmation == 'y':
  categories_dict = open_dict(cat_dict, 'live') # 2. Open json dict
  print('categories_dict has been opened {}'.format(datetime.now().strftime('%Y-%m-%d %H:%M')))
  print("dictionary's length is - {}".format(len(categories_dict)))
else:
  print('nothing has happened')

Confirm the categories_dict opening (y/n)y
categories_dict has been opened 2022-04-20 07:10
dictionary's length is - 16

In [164]:
categories_dict['artistic_disciplines']

{'genes_id': ['01001', '01002', '01003', '01004', '01005', '01006', '01007'],
 'id': '01',
 'link': 'jump--artistic-disciplines',
 'name': 'Artistic Disciplines',
 'parsing_date': '2022-03-30',
 'updating_date': '2022-03-30'}

In [165]:
categories_block = genome_page.find('div', class_='sticky-inner-wrapper').find_all('div', class_='Box-sc-15se88d-0 Flex-cw39ct-0 elJsUD')

#categories_dict = {'artistic_disciplines': {'id': '02', 'name': 'Artistic Disciplines', 'link': 'jump--artistic-disciplines'}}
id = len(categories_dict) + 1
for cat in categories_block:
  key = cat.find('a').get('href').replace('#jump--', '').replace('-', '_')
  if key not in categories_dict.keys():
    categories_dict.update({key: {'id': str(id) if len(str(id))>1 else '0'+str(id), 'name': cat.get_text(), 'link': cat.find('a').get('href').replace('#', ''), 'genes_id': [], 'parsing_date': datetime.now().date().strftime('%Y-%m-%d'), 'updating_date': datetime.now().date().strftime('%Y-%m-%d')}})
    id += 1
    print('New key has been added - {}'.format(key))
  else:
    if categories_dict[key]['link'] != cat.find('a').get('href').replace('#', '') or categories_dict[key]['name'] != cat.get_text():
      print('an Old name - {}\nor an Old link - {}'.format(categories_dict[key]['name'], categories_dict[key]['link']))
      categories_dict[key].update({'link': cat.find('a').get('href').replace('#', '')})
      categories_dict[key].update({'name': cat.get_text()})
      categories_dict[key].update({'updating_date': datetime.now().date().strftime('%Y-%m-%d')})
      print('has been updated with \na New name - {}\nor a New link - {}'.format(categories_dict[key]['name'], categories_dict[key]['link']))
      print('')

In [166]:
len(categories_dict)

16

In [167]:
categories_dict['artistic_disciplines']

{'genes_id': ['01001', '01002', '01003', '01004', '01005', '01006', '01007'],
 'id': '01',
 'link': 'jump--artistic-disciplines',
 'name': 'Artistic Disciplines',
 'parsing_date': '2022-03-30',
 'updating_date': '2022-03-30'}

In [ ]:
confirmation = input('Confirm the categories_dict saving (y/n)')
if confirmation == 'y':
  save_dict(categories_dict, cat_dict) # 1. Save json dict
  print('categories_dict has been saved {}'.format(datetime.now().strftime('%Y-%m-%d %H:%M')))
  print("dictionary's length is - {}".format(len(categories_dict)))
else:
  print('nothing has happened')

Confirm the categories_dict saving (y/n)y
categories_dict has been saved 2022-03-30 06:02
dictionary's length is - 16

## genes_dict

In [ ]:
# !!!!! For the first time !!!!!
confirmation = input('Confirm the genes_dict re/seting (y/n)')
if confirmation == 'y':
  genes_dict = {}
  print('genes_dict has been re/set {}'.format(datetime.now().strftime('%Y-%m-%d %H:%M')))
  print("dictionary's length is - {}".format(len(genes_dict)))
else:
  print('nothing has happened')

Confirm the genes_dict re/seting (y/n)y
genes_dict was re/set

In [168]:
# !!!!! All next times !!!!!
confirmation = input('Confirm the genes_dict opening (y/n)')
if confirmation == 'y':
  genes_dict = open_dict(gen_dict, 'live') # 2. Open json dict
  print('genes_dict has been opened {}'.format(datetime.now().strftime('%Y-%m-%d %H:%M')))
  print("dictionary's length is - {}".format(len(genes_dict)))
else:
  print('nothing has happened')

Confirm the genes_dict opening (y/n)y
genes_dict has been opened 2022-04-20 07:14
dictionary's length is - 1032

In [171]:
# !!!!! All next times !!!!!
# Determining the count of genes in the category for creating an id (using () instead of [] is also possible)
count_list = [sum([1 for v in genes_dict.values() if v['category_id']==value['id']]) for value in categories_dict.values()]
id_len = len(str(max(count_list)))
print(id_len)
print(count_list)

3
[7, 213, 252, 26, 75, 175, 20, 68, 39, 22, 69, 27, 6, 7, 19, 7]

In [170]:
genes_dict['bad_painting']

{'artist_id': ['25055', '21189'],
 'artsy_id': ['553be2df7261692b035d0400',
  '553a8ea872616909c03a0000',
  '54f0c97a7261693fa3ea1400',
  '54f0c97c726169731f9f1400',
  '553a8e737261697635630000',
  '553a8e61726169623a4f0000'],
 'category_id': '03',
 'id': '03001',
 'link': '/gene/bad-painting',
 'name': '"Bad Painting"',
 'parsing_date': '2022-03-29',
 'updating_date': '2022-03-29'}

In [172]:
#genes_dict = {'architecture_1': {'id': '0201', 'name': 'Architecture', 'link': '/gene/architecture-1', 'category_id': '02'}}
# !!! working link is 'https://www.artsy.net' + link !!!
for value in categories_dict.values():
  category = genome_page.find('div', id=value['link']).find('h2').text
  if category == value['name']:
    count = sum([1 for v in genes_dict.values() if v['category_id'] == value['id']])
    id = count+1
    gens_block = genome_page.find('div', id=value['link']).find_all('a')
    for a in gens_block:
      gen_key = a.get('href').replace('/gene/', '').replace('-', '_')
      if gen_key not in genes_dict.keys():
        genes_dict.update({gen_key: {'id': value['id']+('0'*(id_len-len(str(id)))+str(id)), 'name': a.get_text(), 'link': a.get('href'), 'category_id': value['id'], 'artsy_id': [], 'artist_id': [], 'parsing_date': datetime.now().date().strftime('%Y-%m-%d'), 'updating_date': datetime.now().date().strftime('%Y-%m-%d')}})
        id += 1
        print('New key has been added - {}'.format(gen_key)) # !!! Not for the first time
      else:
        if genes_dict[gen_key]['link'] != a.get('href') or genes_dict[gen_key]['name'] != a.get_text():
          print('an Old name - {}\nor an Old link - {}'.format(genes_dict[gen_key]['name'], genes_dict[gen_key]['link']))
          genes_dict[gen_key].update({'link': a.get('href')})
          genes_dict[gen_key].update({'name': a.get_text()})
          genes_dict[gen_key].update({'updating_date': datetime.now().date().strftime('%Y-%m-%d')})
          print('has been updated with \na New name - {}\nor a New link - {}'.format(genes_dict[gen_key]['name'], genes_dict[gen_key]['link']))
          print('')
  else:
    print("Category name doesn't match")

New key has been added - nft

In [173]:
len(genes_dict)

1033

In [174]:
genes_dict['bad_painting']

{'artist_id': ['25055', '21189'],
 'artsy_id': ['553be2df7261692b035d0400',
  '553a8ea872616909c03a0000',
  '54f0c97a7261693fa3ea1400',
  '54f0c97c726169731f9f1400',
  '553a8e737261697635630000',
  '553a8e61726169623a4f0000'],
 'category_id': '03',
 'id': '03001',
 'link': '/gene/bad-painting',
 'name': '"Bad Painting"',
 'parsing_date': '2022-03-29',
 'updating_date': '2022-03-29'}

In [182]:
filtered_dict = {k: v for k, v in categories_dict.items() if v['id'] == genes_dict['nft']['category_id']}
print('New gene in category:', list(filtered_dict.keys())[0])
print('')
genes_dict['nft']

New gene in category: medium_and_techniques

{'artist_id': [],
 'artsy_id': [],
 'category_id': '06',
 'id': '06176',
 'link': '/gene/nft',
 'name': 'NFT',
 'parsing_date': '2022-04-20',
 'updating_date': '2022-04-20'}

In [185]:
print(url_add + genes_dict['nft']['link'])

https://www.artsy.net/gene/nft

In [177]:
confirmation = input('Confirm the genes_dict saving (y/n)')
if confirmation == 'y':
  save_dict(genes_dict, gen_dict, 'live') # 1. Save json dict
  print('genes_dict was saved {}'.format(datetime.now().strftime('%Y-%m-%d %H:%M')))
  print("dictionary's length is - {}".format(len(genes_dict)))
else:
  print('nothing has happened')

Confirm the genes_dict saving (y/n)y
genes_dict was saved 2022-04-20 07:24
dictionary's length is - 1033

### addition/updating lists of genes' id into the categories_dict

In [ ]:
# Dict of genes' id for the categories_dict
#cat_gen_id_dict = {}
#for value in categories_dict.values():
#  gen_id_list = [v['id'] for v in genes_dict.values() if v['category_id'] == value['id']]
#  cat_gen_id_dict.update({value['id']: gen_id_list})

#len(cat_gen_id_dict)

16

In [ ]:
#cat_gen_id_dict['01']

['01001', '01002', '01003', '01004', '01005', '01006', '01007']

In [ ]:
#for k, v in categories_dict.items():
#  for key, value in cat_gen_id_dict.items():
#    if v['id'] == key and categories_dict[k]['genes_id'] != value:
#      categories_dict[k].update({'genes_id': value})
#      categories_dict[k].update({'updating_date': datetime.now().date().strftime('%Y-%m-%d')})

#len(categories_dict)

16

In [186]:
for key, value in categories_dict.items():
  gen_id_list = [v['id'] for v in genes_dict.values() if v['category_id'] == value['id']]
  if categories_dict[key]['genes_id'] != gen_id_list:
      categories_dict[key].update({'genes_id': gen_id_list})
      categories_dict[key].update({'updating_date': datetime.now().date().strftime('%Y-%m-%d')})
      print('Category', key, 'has been updated')

len(categories_dict)

Category {'id': '06', 'name': 'Medium and Techniques', 'link': 'jump--medium-and-techniques', 'genes_id': ['06001', '06002', '06003', '06004', '06005', '06006', '06007', '06008', '06009', '06010', '06011', '06012', '06013', '06014', '06015', '06016', '06017', '06018', '06019', '06020', '06021', '06022', '06023', '06024', '06025', '06026', '06027', '06028', '06029', '06030', '06031', '06032', '06033', '06034', '06035', '06036', '06037', '06038', '06039', '06040', '06041', '06042', '06043', '06044', '06045', '06046', '06047', '06048', '06049', '06050', '06051', '06052', '06053', '06054', '06055', '06056', '06057', '06058', '06059', '06060', '06061', '06062', '06063', '06064', '06065', '06066', '06067', '06068', '06069', '06070', '06071', '06072', '06073', '06074', '06075', '06076', '06077', '06078', '06079', '06080', '06081', '06082', '06083', '06084', '06085', '06086', '06087', '06088', '06089', '06090', '06091', '06092', '06093', '06094', '06095', '06096', '06097', '06098', '06099', '06100', '06101', '06102', '06103', '06104', '06105', '06106', '06107', '06108', '06109', '06110', '06111', '06112', '06113', '06114', '06115', '06116', '06117', '06118', '06119', '06120', '06121', '06122', '06123', '06124', '06125', '06126', '06127', '06128', '06129', '06130', '06131', '06132', '06133', '06134', '06135', '06136', '06137', '06138', '06139', '06140', '06141', '06142', '06143', '06144', '06145', '06146', '06147', '06148', '06149', '06150', '06151', '06152', '06153', '06154', '06155', '06156', '06157', '06158', '06159', '06160', '06161', '06162', '06163', '06164', '06165', '06166', '06167', '06168', '06169', '06170', '06171', '06172', '06173', '06174', '06175', '06176'], 'parsing_date': '2022-03-30', 'updating_date': '2022-04-20'} has been updated

16

In [ ]:
categories_dict['artistic_disciplines']

{'genes_id': ['01001', '01002', '01003', '01004', '01005', '01006', '01007'],
 'id': '01',
 'link': 'jump--artistic-disciplines',
 'name': 'Artistic Disciplines',
 'parsing_date': '2022-03-30',
 'updating_date': '2022-03-30'}

In [188]:
confirmation = input('Confirm the categories_dict saving (y/n)')
if confirmation == 'y':
  save_dict(categories_dict, cat_dict, 'live') # 1. Save json dict
  print('categories_dict has been saved {}'.format(datetime.now().strftime('%Y-%m-%d %H:%M')))
  print("dictionary's length is - {}".format(len(categories_dict)))
else:
  print('nothing has happened')

Confirm the categories_dict saving (y/n)y
categories_dict has been saved 2022-04-20 07:38
dictionary's length is - 16

# Artworks and Artists dicts

## Filtering

The fastest and simplest way to collect data is to go through the genes_dict and read data from a tape of objects like from a news feed. On a tape they have:
- artist's name - to the artists_dict !!!
- artwork name - to the artworks_dict
- artwork year - to the artworks_dict
- Galleries and Institutions name - to the galleries_dict !!!
- price - to the artworks_dict
- image link - to the artworks_dict

That's anough for me.

In parallel I'm going to collect artists_dict and galleries_dict.

Artwork can belong to different genes, but I don't need this repetition in the artworks_dict. So I can't create a composed id for it (like gene id). Artwork id should be end-to-end.

Seems like I should choose the most comprehensive category, collect its database, and then add to it only new information.

But how much artworks are in Artsy database? Via their API I collected around 26 000 once.

In [ ]:
categories_dict = open_dict(cat_dict, 'live') # 2. Open json dict
print("dictionary's length is - {}".format(len(categories_dict)))

dictionary's length is - 16

In [ ]:
def by_value(item):
  return len(item[1]['genes_id'])

for k, v in sorted(categories_dict.items(), key=by_value, reverse=True):
  print(k, '->', 'id', categories_dict[k]['id'], '->', 'genes count' , len(categories_dict[k]['genes_id']))

styles_and_movements -> id 03 -> genes count 252
subject_matter -> id 02 -> genes count 213
medium_and_techniques -> id 06 -> genes count 175
visual_qualities -> id 05 -> genes count 75
cultural_and_religious_styles -> id 11 -> genes count 69
geographic_regions -> id 08 -> genes count 68
materials -> id 09 -> genes count 39
furniture_and_lighting -> id 12 -> genes count 27
design_movements -> id 04 -> genes count 26
design_concepts_and_techniques -> id 10 -> genes count 22
time_periods -> id 07 -> genes count 20
tableware_vessels_and_objects -> id 15 -> genes count 19
artistic_disciplines -> id 01 -> genes count 7
jewelry_and_fashion_object_types -> id 14 -> genes count 7
antiquities_artifacts_and_religious_objects -> id 16 -> genes count 7
textiles -> id 13 -> genes count 6

03 styles_and_movements looks like the the most comprehensive category.
Next will be:
- subject_matter -> 02
- medium_and_techniques -> 06

In [17]:
genes_dict = open_dict(gen_dict, 'live') # 2. Open json dict
print("dictionary's length is - {}".format(len(genes_dict)))

dictionary's length is - 1032

In [141]:
cat = '09'
prefix = recently_added_pref
#prefix = recently_updated_pref

filtered_dict = {k: v for k, v in genes_dict.items() if v['category_id'] == cat}
# for first collection !!!!!!!!!!
#genes_links_list = [v['link'] for v in filtered_dict.values()]
# for addition or updating !!!!!!!!!!!
genes_links_list = [v['link']+prefix for v in filtered_dict.values()]
genes_ids_list = [v['id'] for v in filtered_dict.values()]
print(len(genes_links_list))
print(len(genes_ids_list))

39
39

In [298]:
# NEW GENE !!!
cat = '06'
genes_links_list = [genes_dict['nft']['link']]
genes_ids_list = [genes_dict['nft']['id']]
print(len(genes_links_list))
print(len(genes_ids_list))

1
1

## Data collecting

### Parsing

#### First collection
- reparse categories: 12, 10 !!!

In [ ]:
len(genes_ids_list_er)

2

In [299]:
# too many genes -> let's collect by 50 at a time
backup_names = []

In [300]:
df_temp_data_old = open_file_csv(temp_data, 'live') # 3. Open file.csv
try:
  # 8. Get the all category data into DataFrame    !!!!! [:] or _er         !!!!! [:] or _er 
  df_temp_data_new = get_df_data(df_temp_data_old, genes_links_list, genes_ids_list, cat)
  #                  get_df_data(df_input, genes_links_list, genes_ids_list, cat) ->
  # -> df_output
except SystemExit:
  pass

save_df_file(df_temp_data_new, temp_data, 'live') # 4. Save df to csv file

new_name_csv = temp_data.replace('.csv', '') + '_' + str(datetime.now()) + '.csv'
backup_names.append(new_name_csv)
save_df_file(df_temp_data_new, new_name_csv, 'backup') # 4. Save df to csv file

Starting new HTTPS connection (1): www.artsy.net:443

08:37:53.808458
Parsing of gene 06176 https://www.artsy.net/gene/nft has started

https://www.artsy.net:443 "GET /gene/nft HTTP/1.1" 200 None

9 pages for parsing

https://www.artsy.net:443 "GET /gene/nft?page=2 HTTP/1.1" 200 None
https://www.artsy.net:443 "GET /gene/nft?page=3 HTTP/1.1" 200 None
https://www.artsy.net:443 "GET /gene/nft?page=4 HTTP/1.1" 200 None
https://www.artsy.net:443 "GET /gene/nft?page=5 HTTP/1.1" 200 None
https://www.artsy.net:443 "GET /gene/nft?page=6 HTTP/1.1" 200 None
https://www.artsy.net:443 "GET /gene/nft?page=7 HTTP/1.1" 200 None
https://www.artsy.net:443 "GET /gene/nft?page=8 HTTP/1.1" 200 None
https://www.artsy.net:443 "GET /gene/nft?page=9 HTTP/1.1" 200 None

Parsing of gene 06176 https://www.artsy.net/gene/nft has finished
16.782116651535034 seconds have passed
08:38:10.590718

Saving blocks of 50 genes' data in separate files in beckup folder. Then we'll join them together and check if some pages have been missed during the parsing.

In [301]:
backup_names

['/artsy_temp_data_2022-04-20 08:38:11.107399.csv']

In [ ]:
#backup_names_cat_06 = ['/artsy_temp_data_2022-04-06 07:01:26.758130.csv',
#                       '/artsy_temp_data_2022-04-06 07:19:01.562291.csv',
#                       '/artsy_temp_data_2022-04-06 08:35:48.400500.csv',
#                       '/artsy_temp_data_2022-04-06 10:31:00.254918.csv',
#                       '/artsy_temp_data_2022-04-06 11:58:44.750998.csv',
#                       '/artsy_temp_data_2022-04-06 12:41:26.025146.csv',
#                       '/artsy_temp_data_2022-04-06 13:34:44.996171.csv']
#                       + '/artsy_temp_data_2022-04-06 14:58:06.086053.csv'
#
#backup_names_cat_05 = ['/artsy_temp_data_2022-04-06 16:39:34.236815.csv',
#                       '/artsy_temp_data_2022-04-06 17:49:37.250209.csv']
#                       + 
#                      ['/artsy_temp_data_2022-04-15 07:46:32.183547.csv',
#                       '/artsy_temp_data_2022-04-15 07:56:14.144004.csv']
#
#backup_names_cat_11 = ['/artsy_temp_data_2022-04-08 06:51:14.997844.csv',
#                       '/artsy_temp_data_2022-04-08 07:08:01.411081.csv']
#                       +
#                       '/artsy_temp_data_2022-04-18 09:50:37.600100.csv'
#
#backup_names_cat_08 = ['/artsy_temp_data_2022-04-08 08:57:02.093364.csv',
#                       '/artsy_temp_data_2022-04-08 10:40:21.922750.csv']
#                       +
#                       '/artsy_temp_data_2022-04-18 12:02:55.479950.csv',
#                       '/artsy_temp_data_2022-04-18 12:43:06.028716.csv'
#                       +
#                       '/artsy_temp_data_2022-04-18 14:06:13.761778.csv'
#
#backup_names_cat_09 = ['/artsy_temp_data_2022-04-08 12:02:03.429937.csv',
#                       '/artsy_temp_data_2022-04-08 12:20:19.139091.csv',
#                       '/artsy_temp_data_2022-04-08 12:50:03.398655.csv',
#                       '/artsy_temp_data_2022-04-08 13:09:14.315180.csv']
#                       +
#                       '/artsy_temp_data_2022-04-18 15:58:00.276252.csv',
#                       +
#                       '/artsy_temp_data_2022-04-18 16:07:15.086943.csv'
#
#backup_names_cat_12 = ['/artsy_temp_data_2022-04-19 09:23:10.775068.csv',
#                       '/artsy_temp_data_2022-04-19 09:44:44.394285.csv']
#                       +
#                       '/artsy_temp_data_2022-04-19 10:51:43.926261.csv'
#
#backup_names_cat_04 = ['/artsy_temp_data_2022-04-08 15:20:14.101746.csv']
#                       +
#                       '/artsy_temp_data_2022-04-19 04:08:43.691739.csv'
#
#backup_names_cat_10 = ['/artsy_temp_data_2022-04-19 07:35:01.334592.csv',
#                       '/artsy_temp_data_2022-04-19 07:48:03.359223.csv']
#                       +
#                       '/artsy_temp_data_2022-04-19 08:11:46.261977.csv'
#
#backup_names_cat_07 = ['/artsy_temp_data_2022-04-09 04:15:24.907317.csv',
#                       '/artsy_temp_data_2022-04-09 05:05:55.273163.csv']
#                       +
#                       '/artsy_temp_data_2022-04-19 04:48:56.712756.csv'
#
#backup_names_cat_15 = ['/artsy_temp_data_2022-04-09 05:29:21.939929.csv']
#                       +
#                       '/artsy_temp_data_2022-04-19 05:22:25.192914.csv'
#
#backup_names_cat_01 = ['/artsy_temp_data_2022-04-09 05:43:38.333522.csv']
#
#backup_names_cat_14 = ['/artsy_temp_data_2022-04-09 06:01:02.568000.csv']
#
#backup_names_cat_16 = ['/artsy_temp_data_2022-04-09 06:22:33.619264.csv']
#
#backup_names_cat_13 = ['/artsy_temp_data_2022-04-09 06:44:32.738152.csv']
#                       +
#                       '/artsy_temp_data_2022-04-19 07:06:37.297601.csv'

#### Addition and Updating

In [446]:
backup_names = []

In [443]:
len(genes_ids_list)

129

In [146]:
len(genes_links_list_er)

1

In [444]:
df_temp_data_old = open_file_csv(temp_data_add_up, 'live') # 3. Open file.csv
#  8.1 Get the first pages category data into DataFrame
try:                                   #                     !!!!!!!               !!!!!!      !!!!!!
  df_temp_data_new = get_df_data_add_up(df_temp_data_old, genes_links_list, genes_ids_list, genes_cat_list) # cat !!!!
  #                  get_df_data_add_up(df_input, genes_links_list, genes_ids_list, cat) ->
  # -> df_output
except SystemExit:
  pass

save_df_file(df_temp_data_new, temp_data_add_up, 'live') # 4. Save df to csv file

new_name_csv = temp_data_add_up.replace('.csv', '') + '_' + str(datetime.now()) + '.csv'
backup_names.append(new_name_csv)
save_df_file(df_temp_data_new, new_name_csv, 'backup') # 4. Save df to csv file

Starting new HTTPS connection (1): www.artsy.net:443

11:47:04.018766
Parsing of gene 03142 https://www.artsy.net/gene/hyperrealism-and-photorealism?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/hyperrealism-and-photorealism?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 03142 https://www.artsy.net/gene/hyperrealism-and-photorealism?page=2&sort=-published_at has finished
17.67570424079895 seconds have passed
11:47:21.694525

Parsing of gene 07009 https://www.artsy.net/gene/19th-century?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/19th-century?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 07009 https://www.artsy.net/gene/19th-century?page=2&sort=-published_at has finished
20.89035415649414 seconds have passed
11:47:24.910196

Parsing of gene 07010 https://www.artsy.net/gene/21st-century?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/21st-century?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 07010 https://www.artsy.net/gene/21st-century?page=2&sort=-published_at has finished
23.518813133239746 seconds have passed
11:47:27.539610

Parsing of gene 03120 https://www.artsy.net/gene/figurative-art?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/figurative-art?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 03120 https://www.artsy.net/gene/figurative-art?page=2&sort=-published_at has finished
25.436293125152588 seconds have passed
11:47:29.455125

Parsing of gene 07013 https://www.artsy.net/gene/1960s?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/1960s?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 07013 https://www.artsy.net/gene/1960s?page=2&sort=-published_at has finished
27.520455360412598 seconds have passed
11:47:31.539280

Parsing of gene 08049 https://www.artsy.net/gene/new-york-artists?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/new-york-artists?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 08049 https://www.artsy.net/gene/new-york-artists?page=2&sort=-published_at has finished
32.2415816783905 seconds have passed
11:47:36.260397

Parsing of gene 03056 https://www.artsy.net/gene/contemporary-art?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/contemporary-art?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 03056 https://www.artsy.net/gene/contemporary-art?page=2&sort=-published_at has finished
34.69404983520508 seconds have passed
11:47:38.712877

Parsing of gene 03129 https://www.artsy.net/gene/gestural-abstraction?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/gestural-abstraction?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 03129 https://www.artsy.net/gene/gestural-abstraction?page=2&sort=-published_at has finished
36.89711046218872 seconds have passed
11:47:40.916264

Parsing of gene 06097 https://www.artsy.net/gene/mixed-media?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/mixed-media?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 06097 https://www.artsy.net/gene/mixed-media?page=2&sort=-published_at has finished
40.05048322677612 seconds have passed
11:47:44.069638

Parsing of gene 05051 https://www.artsy.net/gene/patterns?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/patterns?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 05051 https://www.artsy.net/gene/patterns?page=2&sort=-published_at has finished
43.34674525260925 seconds have passed
11:47:47.365570

Starting new HTTPS connection (1): www.artsy.net:443

Parsing of gene 07015 https://www.artsy.net/gene/1980s?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/1980s?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 07015 https://www.artsy.net/gene/1980s?page=2&sort=-published_at has finished
45.76797127723694 seconds have passed
11:47:49.786795

Parsing of gene 03013 https://www.artsy.net/gene/abstract-versus-figurative-art?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/abstract-versus-figurative-art?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 03013 https://www.artsy.net/gene/abstract-versus-figurative-art?page=2&sort=-published_at has finished
47.8823766708374 seconds have passed
11:47:51.901195

Parsing of gene 06122 https://www.artsy.net/gene/photography?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/photography?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 06122 https://www.artsy.net/gene/photography?page=2&sort=-published_at has finished
50.9878032207489 seconds have passed
11:47:55.006625

Parsing of gene 05026 https://www.artsy.net/gene/earth-tones?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/earth-tones?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 05026 https://www.artsy.net/gene/earth-tones?page=2&sort=-published_at has finished
53.02536964416504 seconds have passed
11:47:57.044197

Parsing of gene 03057 https://www.artsy.net/gene/contemporary-asian-art?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/contemporary-asian-art?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 03057 https://www.artsy.net/gene/contemporary-asian-art?page=2&sort=-published_at has finished
55.8428750038147 seconds have passed
11:47:59.861710

Parsing of gene 08002 https://www.artsy.net/gene/united-states?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/united-states?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 08002 https://www.artsy.net/gene/united-states?page=2&sort=-published_at has finished
57.72470450401306 seconds have passed
11:48:01.744208

Parsing of gene 02040 https://www.artsy.net/gene/cultural-commentary?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/cultural-commentary?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 02040 https://www.artsy.net/gene/cultural-commentary?page=2&sort=-published_at has finished
59.57631826400757 seconds have passed
11:48:03.595447

Parsing of gene 06078 https://www.artsy.net/gene/intentionally-exposed-canvas?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/intentionally-exposed-canvas?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 06078 https://www.artsy.net/gene/intentionally-exposed-canvas?page=2&sort=-published_at has finished
61.68018627166748 seconds have passed
11:48:05.699436

Parsing of gene 08004 https://www.artsy.net/gene/latin-america-and-the-caribbean?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/latin-america-and-the-caribbean?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 08004 https://www.artsy.net/gene/latin-america-and-the-caribbean?page=2&sort=-published_at has finished
63.93706560134888 seconds have passed
11:48:07.955905

Parsing of gene 08031 https://www.artsy.net/gene/germany?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/germany?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 08031 https://www.artsy.net/gene/germany?page=2&sort=-published_at has finished
66.24959754943848 seconds have passed
11:48:10.268730

Starting new HTTPS connection (1): www.artsy.net:443

Parsing of gene 02105 https://www.artsy.net/gene/machines?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/machines?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 02105 https://www.artsy.net/gene/machines?page=2&sort=-published_at has finished
68.66007900238037 seconds have passed
11:48:12.679546

Parsing of gene 08013 https://www.artsy.net/gene/brooklyn-artists?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/brooklyn-artists?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 08013 https://www.artsy.net/gene/brooklyn-artists?page=2&sort=-published_at has finished
71.19059705734253 seconds have passed
11:48:15.209724

Parsing of gene 08052 https://www.artsy.net/gene/paris-artists?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/paris-artists?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 08052 https://www.artsy.net/gene/paris-artists?page=2&sort=-published_at has finished
73.4054069519043 seconds have passed
11:48:17.424232

Parsing of gene 08010 https://www.artsy.net/gene/berlin-artists?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/berlin-artists?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 08010 https://www.artsy.net/gene/berlin-artists?page=2&sort=-published_at has finished
75.89641380310059 seconds have passed
11:48:19.915556

Parsing of gene 02155 https://www.artsy.net/gene/representations-of-everyday-objects?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/representations-of-everyday-objects?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 02155 https://www.artsy.net/gene/representations-of-everyday-objects?page=2&sort=-published_at has finished
77.90988779067993 seconds have passed
11:48:21.929073

Parsing of gene 08014 https://www.artsy.net/gene/california-art?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/california-art?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 08014 https://www.artsy.net/gene/california-art?page=2&sort=-published_at has finished
80.26734185218811 seconds have passed
11:48:24.286474

Parsing of gene 03054 https://www.artsy.net/gene/contemporary-african-art?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/contemporary-african-art?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 03054 https://www.artsy.net/gene/contemporary-african-art?page=2&sort=-published_at has finished
82.1971709728241 seconds have passed
11:48:26.216325

Parsing of gene 06123 https://www.artsy.net/gene/photojournalism?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/photojournalism?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 06123 https://www.artsy.net/gene/photojournalism?page=2&sort=-published_at has finished
85.1695909500122 seconds have passed
11:48:29.188422

Parsing of gene 02161 https://www.artsy.net/gene/science?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/science?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 02161 https://www.artsy.net/gene/science?page=2&sort=-published_at has finished
87.32084035873413 seconds have passed
11:48:31.339665

Parsing of gene 07014 https://www.artsy.net/gene/1970s?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/1970s?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 07014 https://www.artsy.net/gene/1970s?page=2&sort=-published_at has finished
89.74257516860962 seconds have passed
11:48:33.761399

Starting new HTTPS connection (1): www.artsy.net:443

Parsing of gene 07017 https://www.artsy.net/gene/1970-present?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/1970-present?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 07017 https://www.artsy.net/gene/1970-present?page=2&sort=-published_at has finished
91.86693239212036 seconds have passed
11:48:35.885761

Parsing of gene 08009 https://www.artsy.net/gene/belgium?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/belgium?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 08009 https://www.artsy.net/gene/belgium?page=2&sort=-published_at has finished
94.6225209236145 seconds have passed
11:48:38.641347

Parsing of gene 08022 https://www.artsy.net/gene/the-netherlands?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/the-netherlands?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 08022 https://www.artsy.net/gene/the-netherlands?page=2&sort=-published_at has finished
96.95516157150269 seconds have passed
11:48:40.973989

Parsing of gene 06171 https://www.artsy.net/gene/wall-sculpture-and-installation?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/wall-sculpture-and-installation?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 06171 https://www.artsy.net/gene/wall-sculpture-and-installation?page=2&sort=-published_at has finished
103.62338209152222 seconds have passed
11:48:47.642517

Parsing of gene 06172 https://www.artsy.net/gene/watercolor?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/watercolor?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 06172 https://www.artsy.net/gene/watercolor?page=2&sort=-published_at has finished
105.95556259155273 seconds have passed
11:48:49.974400

Parsing of gene 05008 https://www.artsy.net/gene/black-and-white?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/black-and-white?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 05008 https://www.artsy.net/gene/black-and-white?page=2&sort=-published_at has finished
108.42264366149902 seconds have passed
11:48:52.441471

Parsing of gene 02030 https://www.artsy.net/gene/cityscapes-and-city-scenes?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/cityscapes-and-city-scenes?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 02030 https://www.artsy.net/gene/cityscapes-and-city-scenes?page=2&sort=-published_at has finished
111.3919563293457 seconds have passed
11:48:55.411142

Parsing of gene 06072 https://www.artsy.net/gene/illustration?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/illustration?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 06072 https://www.artsy.net/gene/illustration?page=2&sort=-published_at has finished
114.31003212928772 seconds have passed
11:48:58.328860

Parsing of gene 07008 https://www.artsy.net/gene/1940s-1950s?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/1940s-1950s?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 07008 https://www.artsy.net/gene/1940s-1950s?page=2&sort=-published_at has finished
117.59549021720886 seconds have passed
11:49:01.614308

Parsing of gene 02180 https://www.artsy.net/gene/technology?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/technology?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 02180 https://www.artsy.net/gene/technology?page=2&sort=-published_at has finished
119.91376972198486 seconds have passed
11:49:03.932592

Starting new HTTPS connection (1): www.artsy.net:443

Parsing of gene 08056 https://www.artsy.net/gene/scandinavia?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/scandinavia?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 08056 https://www.artsy.net/gene/scandinavia?page=2&sort=-published_at has finished
122.29723238945007 seconds have passed
11:49:06.316060

Parsing of gene 03248 https://www.artsy.net/gene/women-artists?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/women-artists?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 03248 https://www.artsy.net/gene/women-artists?page=2&sort=-published_at has finished
124.74870586395264 seconds have passed
11:49:08.768874

Parsing of gene 07016 https://www.artsy.net/gene/1990s?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/1990s?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 07016 https://www.artsy.net/gene/1990s?page=2&sort=-published_at has finished
128.138601064682 seconds have passed
11:49:12.157423

Parsing of gene 03053 https://www.artsy.net/gene/contemporary-academic-realism?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/contemporary-academic-realism?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 03053 https://www.artsy.net/gene/contemporary-academic-realism?page=2&sort=-published_at has finished
130.77439141273499 seconds have passed
11:49:14.793219

Parsing of gene 06025 https://www.artsy.net/gene/close-up?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/close-up?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 06025 https://www.artsy.net/gene/close-up?page=2&sort=-published_at has finished
132.80020928382874 seconds have passed
11:49:16.819035

Parsing of gene 06111 https://www.artsy.net/gene/painting?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/painting?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 06111 https://www.artsy.net/gene/painting?page=2&sort=-published_at has finished
135.28411674499512 seconds have passed
11:49:19.302992

Parsing of gene 06153 https://www.artsy.net/gene/splattered-slash-dripped?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/splattered-slash-dripped?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 06153 https://www.artsy.net/gene/splattered-slash-dripped?page=2&sort=-published_at has finished
137.49859976768494 seconds have passed
11:49:21.517732

Parsing of gene 06144 https://www.artsy.net/gene/sculpture?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/sculpture?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 06144 https://www.artsy.net/gene/sculpture?page=2&sort=-published_at has finished
139.68548727035522 seconds have passed
11:49:23.704328

Parsing of gene 06088 https://www.artsy.net/gene/lithograph-1?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/lithograph-1?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 06088 https://www.artsy.net/gene/lithograph-1?page=2&sort=-published_at has finished
142.01205611228943 seconds have passed
11:49:26.030911

Parsing of gene 06174 https://www.artsy.net/gene/woodcut-and-linocut?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/woodcut-and-linocut?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 06174 https://www.artsy.net/gene/woodcut-and-linocut?page=2&sort=-published_at has finished
144.61986327171326 seconds have passed
11:49:28.638683

Starting new HTTPS connection (1): www.artsy.net:443

Parsing of gene 08011 https://www.artsy.net/gene/brazil?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/brazil?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 08011 https://www.artsy.net/gene/brazil?page=2&sort=-published_at has finished
147.30171036720276 seconds have passed
11:49:31.320542

Parsing of gene 02083 https://www.artsy.net/gene/human-figure?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/human-figure?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 02083 https://www.artsy.net/gene/human-figure?page=2&sort=-published_at has finished
149.72964143753052 seconds have passed
11:49:33.748468

Parsing of gene 05011 https://www.artsy.net/gene/bright-and-vivid-colors?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/bright-and-vivid-colors?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 05011 https://www.artsy.net/gene/bright-and-vivid-colors?page=2&sort=-published_at has finished
152.22433257102966 seconds have passed
11:49:36.243160

Parsing of gene 03058 https://www.artsy.net/gene/contemporary-british-art?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/contemporary-british-art?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 03058 https://www.artsy.net/gene/contemporary-british-art?page=2&sort=-published_at has finished
154.99825716018677 seconds have passed
11:49:39.017083

Parsing of gene 03119 https://www.artsy.net/gene/feminist-art-and-contemporary-feminist?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/feminist-art-and-contemporary-feminist?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 03119 https://www.artsy.net/gene/feminist-art-and-contemporary-feminist?page=2&sort=-published_at has finished
157.15559148788452 seconds have passed
11:49:41.175996

Parsing of gene 07007 https://www.artsy.net/gene/1918-1939-interwar?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/1918-1939-interwar?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 07007 https://www.artsy.net/gene/1918-1939-interwar?page=2&sort=-published_at has finished
161.2484564781189 seconds have passed
11:49:45.267279

Parsing of gene 08015 https://www.artsy.net/gene/canada?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/canada?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 08015 https://www.artsy.net/gene/canada?page=2&sort=-published_at has finished
164.13944053649902 seconds have passed
11:49:48.158261

Parsing of gene 02174 https://www.artsy.net/gene/still-life?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/still-life?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 02174 https://www.artsy.net/gene/still-life?page=2&sort=-published_at has finished
166.55391359329224 seconds have passed
11:49:50.572743

Parsing of gene 03090 https://www.artsy.net/gene/contemporary-scandinavian-art?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/contemporary-scandinavian-art?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 03090 https://www.artsy.net/gene/contemporary-scandinavian-art?page=2&sort=-published_at has finished
168.45435643196106 seconds have passed
11:49:52.475483

Parsing of gene 08044 https://www.artsy.net/gene/los-angeles-artists?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/los-angeles-artists?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 08044 https://www.artsy.net/gene/los-angeles-artists?page=2&sort=-published_at has finished
171.0182089805603 seconds have passed
11:49:55.037045

Starting new HTTPS connection (1): www.artsy.net:443

Parsing of gene 09001 https://www.artsy.net/gene/aluminum?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/aluminum?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 09001 https://www.artsy.net/gene/aluminum?page=2&sort=-published_at has finished
173.46734166145325 seconds have passed
11:49:57.486473

Parsing of gene 03011 https://www.artsy.net/gene/abstract-photography?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/abstract-photography?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 03011 https://www.artsy.net/gene/abstract-photography?page=2&sort=-published_at has finished
178.6762773990631 seconds have passed
11:50:02.695087

Parsing of gene 03107 https://www.artsy.net/gene/documentary-travel-photography?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/documentary-travel-photography?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 03107 https://www.artsy.net/gene/documentary-travel-photography?page=2&sort=-published_at has finished
181.41964602470398 seconds have passed
11:50:05.438477

Parsing of gene 03131 https://www.artsy.net/gene/graffiti-and-street-art?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/graffiti-and-street-art?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 03131 https://www.artsy.net/gene/graffiti-and-street-art?page=2&sort=-published_at has finished
183.83003664016724 seconds have passed
11:50:07.848861

Parsing of gene 02170 https://www.artsy.net/gene/skyscapes?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/skyscapes?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 02170 https://www.artsy.net/gene/skyscapes?page=2&sort=-published_at has finished
185.9771089553833 seconds have passed
11:50:09.995946

Parsing of gene 03146 https://www.artsy.net/gene/impressionism-and-contemporary-impressionist?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/impressionism-and-contemporary-impressionist?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 03146 https://www.artsy.net/gene/impressionism-and-contemporary-impressionist?page=2&sort=-published_at has finished
188.66761231422424 seconds have passed
11:50:12.686748

Parsing of gene 06154 https://www.artsy.net/gene/spray-paint?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/spray-paint?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 06154 https://www.artsy.net/gene/spray-paint?page=2&sort=-published_at has finished
190.66291403770447 seconds have passed
11:50:14.681741

Parsing of gene 08062 https://www.artsy.net/gene/spain?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/spain?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 08062 https://www.artsy.net/gene/spain?page=2&sort=-published_at has finished
193.37627816200256 seconds have passed
11:50:17.395882

Parsing of gene 09030 https://www.artsy.net/gene/steel?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/steel?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 09030 https://www.artsy.net/gene/steel?page=2&sort=-published_at has finished
195.92822909355164 seconds have passed
11:50:19.947061

Parsing of gene 06045 https://www.artsy.net/gene/drawing?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/drawing?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 06045 https://www.artsy.net/gene/drawing?page=2&sort=-published_at has finished
198.1733376979828 seconds have passed
11:50:22.192161

Starting new HTTPS connection (1): www.artsy.net:443

Parsing of gene 06100 https://www.artsy.net/gene/multiple-exposure?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/multiple-exposure?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 06100 https://www.artsy.net/gene/multiple-exposure?page=2&sort=-published_at has finished
202.4306399822235 seconds have passed
11:50:26.449469

Parsing of gene 06026 https://www.artsy.net/gene/collage?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/collage?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 06026 https://www.artsy.net/gene/collage?page=2&sort=-published_at has finished
204.83038067817688 seconds have passed
11:50:28.849208

Parsing of gene 06039 https://www.artsy.net/gene/digital-painting-and-drawing?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/digital-painting-and-drawing?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 06039 https://www.artsy.net/gene/digital-painting-and-drawing?page=2&sort=-published_at has finished
207.92666244506836 seconds have passed
11:50:31.945494

Parsing of gene 06105 https://www.artsy.net/gene/oil-painting?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/oil-painting?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 06105 https://www.artsy.net/gene/oil-painting?page=2&sort=-published_at has finished
210.27002334594727 seconds have passed
11:50:34.289500

Parsing of gene 06040 https://www.artsy.net/gene/digital-print?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/digital-print?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 06040 https://www.artsy.net/gene/digital-print?page=2&sort=-published_at has finished
212.93604183197021 seconds have passed
11:50:36.954865

Parsing of gene 06162 https://www.artsy.net/gene/topographic-photography?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/topographic-photography?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 06162 https://www.artsy.net/gene/topographic-photography?page=2&sort=-published_at has finished
215.07236409187317 seconds have passed
11:50:39.091192

Parsing of gene 06054 https://www.artsy.net/gene/etching-slash-engraving?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/etching-slash-engraving?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 06054 https://www.artsy.net/gene/etching-slash-engraving?page=2&sort=-published_at has finished
217.52001667022705 seconds have passed
11:50:41.540984

Parsing of gene 02071 https://www.artsy.net/gene/flora?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/flora?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 02071 https://www.artsy.net/gene/flora?page=2&sort=-published_at has finished
220.26986598968506 seconds have passed
11:50:44.288697

Parsing of gene 03115 https://www.artsy.net/gene/fashion-photography?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/fashion-photography?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 03115 https://www.artsy.net/gene/fashion-photography?page=2&sort=-published_at has finished
222.94595766067505 seconds have passed
11:50:46.964789

Parsing of gene 02073 https://www.artsy.net/gene/food?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/food?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 02073 https://www.artsy.net/gene/food?page=2&sort=-published_at has finished
225.47486186027527 seconds have passed
11:50:49.493693

Starting new HTTPS connection (1): www.artsy.net:443

Parsing of gene 05049 https://www.artsy.net/gene/pastel-colors?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/pastel-colors?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 05049 https://www.artsy.net/gene/pastel-colors?page=2&sort=-published_at has finished
228.28536581993103 seconds have passed
11:50:52.304199

Parsing of gene 02138 https://www.artsy.net/gene/portrait?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/portrait?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 02138 https://www.artsy.net/gene/portrait?page=2&sort=-published_at has finished
230.5133821964264 seconds have passed
11:50:54.533630

Parsing of gene 08067 https://www.artsy.net/gene/turkey?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/turkey?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 08067 https://www.artsy.net/gene/turkey?page=2&sort=-published_at has finished
233.05439496040344 seconds have passed
11:50:57.073250

Parsing of gene 06107 https://www.artsy.net/gene/oil-on-panel?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/oil-on-panel?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 06107 https://www.artsy.net/gene/oil-on-panel?page=2&sort=-published_at has finished
235.1849822998047 seconds have passed
11:50:59.203821

Parsing of gene 05069 https://www.artsy.net/gene/striped?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/striped?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 05069 https://www.artsy.net/gene/striped?page=2&sort=-published_at has finished
237.69536209106445 seconds have passed
11:51:01.714196

Parsing of gene 08029 https://www.artsy.net/gene/france?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/france?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 08029 https://www.artsy.net/gene/france?page=2&sort=-published_at has finished
240.85034465789795 seconds have passed
11:51:04.869779

Parsing of gene 06175 https://www.artsy.net/gene/work-on-paper?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/work-on-paper?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 06175 https://www.artsy.net/gene/work-on-paper?page=2&sort=-published_at has finished
243.01046538352966 seconds have passed
11:51:07.029293

Parsing of gene 03078 https://www.artsy.net/gene/contemporary-latin-american-art?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/contemporary-latin-american-art?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 03078 https://www.artsy.net/gene/contemporary-latin-american-art?page=2&sort=-published_at has finished
245.47690629959106 seconds have passed
11:51:09.495737

Parsing of gene 08006 https://www.artsy.net/gene/australia-and-new-zealand?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/australia-and-new-zealand?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 08006 https://www.artsy.net/gene/australia-and-new-zealand?page=2&sort=-published_at has finished
248.63970398902893 seconds have passed
11:51:12.658558

Parsing of gene 08024 https://www.artsy.net/gene/eastern-europe?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/eastern-europe?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 08024 https://www.artsy.net/gene/eastern-europe?page=2&sort=-published_at has finished
250.82365894317627 seconds have passed
11:51:14.842493

Starting new HTTPS connection (1): www.artsy.net:443

Parsing of gene 06148 https://www.artsy.net/gene/silkscreen-1?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/silkscreen-1?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 06148 https://www.artsy.net/gene/silkscreen-1?page=2&sort=-published_at has finished
253.96405029296875 seconds have passed
11:51:17.983911

Parsing of gene 03059 https://www.artsy.net/gene/contemporary-canadian-art?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/contemporary-canadian-art?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 03059 https://www.artsy.net/gene/contemporary-canadian-art?page=2&sort=-published_at has finished
256.3648602962494 seconds have passed
11:51:20.383685

Parsing of gene 02010 https://www.artsy.net/gene/animals?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/animals?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 02010 https://www.artsy.net/gene/animals?page=2&sort=-published_at has finished
258.52116203308105 seconds have passed
11:51:22.539985

Parsing of gene 06096 https://www.artsy.net/gene/miniature-and-small-scale-paintings?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/miniature-and-small-scale-paintings?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 06096 https://www.artsy.net/gene/miniature-and-small-scale-paintings?page=2&sort=-published_at has finished
261.1936650276184 seconds have passed
11:51:25.212500

Parsing of gene 06028 https://www.artsy.net/gene/color-photography?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/color-photography?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 06028 https://www.artsy.net/gene/color-photography?page=2&sort=-published_at has finished
263.5653188228607 seconds have passed
11:51:27.584150

Parsing of gene 08037 https://www.artsy.net/gene/israel?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/israel?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 08037 https://www.artsy.net/gene/israel?page=2&sort=-published_at has finished
266.09923338890076 seconds have passed
11:51:30.118376

Parsing of gene 09007 https://www.artsy.net/gene/ceramic?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/ceramic?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 09007 https://www.artsy.net/gene/ceramic?page=2&sort=-published_at has finished
269.11529183387756 seconds have passed
11:51:33.134118

Parsing of gene 02154 https://www.artsy.net/gene/representations-of-architecture?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/representations-of-architecture?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 02154 https://www.artsy.net/gene/representations-of-architecture?page=2&sort=-published_at has finished
271.5658793449402 seconds have passed
11:51:35.584714

Parsing of gene 03221 https://www.artsy.net/gene/outsider-art?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/outsider-art?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 03221 https://www.artsy.net/gene/outsider-art?page=2&sort=-published_at has finished
273.61097168922424 seconds have passed
11:51:37.630158

Parsing of gene 06150 https://www.artsy.net/gene/snapshot-aesthetic?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/snapshot-aesthetic?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 06150 https://www.artsy.net/gene/snapshot-aesthetic?page=2&sort=-published_at has finished
276.3428285121918 seconds have passed
11:51:40.362024

Starting new HTTPS connection (1): www.artsy.net:443

Parsing of gene 08039 https://www.artsy.net/gene/japan?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/japan?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 08039 https://www.artsy.net/gene/japan?page=2&sort=-published_at has finished
279.07332134246826 seconds have passed
11:51:43.092453

Parsing of gene 08005 https://www.artsy.net/gene/asian-art?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/asian-art?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 08005 https://www.artsy.net/gene/asian-art?page=2&sort=-published_at has finished
281.4902243614197 seconds have passed
11:51:45.509041

Parsing of gene 03008 https://www.artsy.net/gene/abstract-art?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/abstract-art?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 03008 https://www.artsy.net/gene/abstract-art?page=2&sort=-published_at has finished
284.0117633342743 seconds have passed
11:51:48.030586

Parsing of gene 08012 https://www.artsy.net/gene/united-kingdom-and-ireland?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/united-kingdom-and-ireland?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 08012 https://www.artsy.net/gene/united-kingdom-and-ireland?page=2&sort=-published_at has finished
286.26453971862793 seconds have passed
11:51:50.283350

Parsing of gene 07019 https://www.artsy.net/gene/1860-1969?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/1860-1969?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 07019 https://www.artsy.net/gene/1860-1969?page=2&sort=-published_at has finished
288.98797488212585 seconds have passed
11:51:53.006799

Parsing of gene 03093 https://www.artsy.net/gene/contemporary-turkish-art?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/contemporary-turkish-art?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 03093 https://www.artsy.net/gene/contemporary-turkish-art?page=2&sort=-published_at has finished
292.3800644874573 seconds have passed
11:51:56.398911

Parsing of gene 03205 https://www.artsy.net/gene/post-war-european-art?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/post-war-european-art?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 03205 https://www.artsy.net/gene/post-war-european-art?page=2&sort=-published_at has finished
295.51567673683167 seconds have passed
11:51:59.535538

Parsing of gene 03204 https://www.artsy.net/gene/post-war-american-art?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/post-war-american-art?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 03204 https://www.artsy.net/gene/post-war-american-art?page=2&sort=-published_at has finished
297.81013441085815 seconds have passed
11:52:01.829273

Parsing of gene 02119 https://www.artsy.net/gene/mythology-and-religion?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/mythology-and-religion?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 02119 https://www.artsy.net/gene/mythology-and-religion?page=2&sort=-published_at has finished
299.859206199646 seconds have passed
11:52:03.878033

Parsing of gene 06092 https://www.artsy.net/gene/manipulated-photography?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/manipulated-photography?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 06092 https://www.artsy.net/gene/manipulated-photography?page=2&sort=-published_at has finished
302.21159505844116 seconds have passed
11:52:06.230417

Starting new HTTPS connection (1): www.artsy.net:443

Parsing of gene 03087 https://www.artsy.net/gene/contemporary-portrait-photography?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/contemporary-portrait-photography?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 03087 https://www.artsy.net/gene/contemporary-portrait-photography?page=2&sort=-published_at has finished
304.55539441108704 seconds have passed
11:52:08.574215

Parsing of gene 08043 https://www.artsy.net/gene/london-artists?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/london-artists?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 08043 https://www.artsy.net/gene/london-artists?page=2&sort=-published_at has finished
306.96950674057007 seconds have passed
11:52:10.988351

Parsing of gene 06044 https://www.artsy.net/gene/documentary-photography?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/documentary-photography?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 06044 https://www.artsy.net/gene/documentary-photography?page=2&sort=-published_at has finished
309.04070115089417 seconds have passed
11:52:13.060239

Parsing of gene 03127 https://www.artsy.net/gene/geometric-abstraction?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/geometric-abstraction?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 03127 https://www.artsy.net/gene/geometric-abstraction?page=2&sort=-published_at has finished
311.11353039741516 seconds have passed
11:52:15.132670

Parsing of gene 05066 https://www.artsy.net/gene/smooth-surface?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/smooth-surface?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 05066 https://www.artsy.net/gene/smooth-surface?page=2&sort=-published_at has finished
314.38820910453796 seconds have passed
11:52:18.407039

Parsing of gene 02125 https://www.artsy.net/gene/nude?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/nude?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 02125 https://www.artsy.net/gene/nude?page=2&sort=-published_at has finished
316.54275345802307 seconds have passed
11:52:20.561580

Parsing of gene 06015 https://www.artsy.net/gene/black-and-white-photography?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/black-and-white-photography?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 06015 https://www.artsy.net/gene/black-and-white-photography?page=2&sort=-published_at has finished
320.6327097415924 seconds have passed
11:52:24.651937

Parsing of gene 03159 https://www.artsy.net/gene/minimalism-and-contemporary-minimalist?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/minimalism-and-contemporary-minimalist?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 03159 https://www.artsy.net/gene/minimalism-and-contemporary-minimalist?page=2&sort=-published_at has finished
322.89960169792175 seconds have passed
11:52:26.918733

Parsing of gene 05021 https://www.artsy.net/gene/dark-colors?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/dark-colors?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 05021 https://www.artsy.net/gene/dark-colors?page=2&sort=-published_at has finished
326.2552695274353 seconds have passed
11:52:30.274430

Parsing of gene 06075 https://www.artsy.net/gene/impasto?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/impasto?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 06075 https://www.artsy.net/gene/impasto?page=2&sort=-published_at has finished
328.31383776664734 seconds have passed
11:52:32.333078

Starting new HTTPS connection (1): www.artsy.net:443

Parsing of gene 06131 https://www.artsy.net/gene/prints?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/prints?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 06131 https://www.artsy.net/gene/prints?page=2&sort=-published_at has finished
331.1050343513489 seconds have passed
11:52:35.124505

Parsing of gene 05034 https://www.artsy.net/gene/grid?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/grid?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 05034 https://www.artsy.net/gene/grid?page=2&sort=-published_at has finished
334.2654845714569 seconds have passed
11:52:38.284308

Parsing of gene 06064 https://www.artsy.net/gene/glass-and-ceramics?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/glass-and-ceramics?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 06064 https://www.artsy.net/gene/glass-and-ceramics?page=2&sort=-published_at has finished
337.10136890411377 seconds have passed
11:52:41.121204

Parsing of gene 02181 https://www.artsy.net/gene/text?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/text?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 02181 https://www.artsy.net/gene/text?page=2&sort=-published_at has finished
339.4063096046448 seconds have passed
11:52:43.425607

Parsing of gene 02092 https://www.artsy.net/gene/interiors?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/interiors?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 02092 https://www.artsy.net/gene/interiors?page=2&sort=-published_at has finished
342.61826062202454 seconds have passed
11:52:46.637090

Parsing of gene 08041 https://www.artsy.net/gene/latin-american-art?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/latin-american-art?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 08041 https://www.artsy.net/gene/latin-american-art?page=2&sort=-published_at has finished
345.06120777130127 seconds have passed
11:52:49.080039

Parsing of gene 03199 https://www.artsy.net/gene/pop-and-contemporary-pop?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/pop-and-contemporary-pop?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 03199 https://www.artsy.net/gene/pop-and-contemporary-pop?page=2&sort=-published_at has finished
347.51602125167847 seconds have passed
11:52:51.534853

Parsing of gene 09039 https://www.artsy.net/gene/wood?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/wood?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 09039 https://www.artsy.net/gene/wood?page=2&sort=-published_at has finished
350.92029428482056 seconds have passed
11:52:54.939430

Parsing of gene 08040 https://www.artsy.net/gene/korea?page=2&sort=-published_at has started

https://www.artsy.net:443 "GET /gene/korea?page=2&sort=-published_at HTTP/1.1" 200 None

1 pages for parsing
Parsing of gene 08040 https://www.artsy.net/gene/korea?page=2&sort=-published_at has finished
355.65659856796265 seconds have passed
11:52:59.675438

In [448]:
print(len(backup_names))
backup_names

1

['/artsy_temp_data_add_up_2022-04-20 11:53:00.238091.csv']

In [ ]:
#16
#['/artsy_temp_data_add_up_2022-04-20 05:02:01.952344.csv',
# '/artsy_temp_data_add_up_2022-04-20 05:24:48.842989.csv',
# '/artsy_temp_data_add_up_2022-04-20 05:42:10.688512.csv',
# '/artsy_temp_data_add_up_2022-04-20 05:51:12.039562.csv',
# '/artsy_temp_data_add_up_2022-04-20 05:56:56.573465.csv',
# '/artsy_temp_data_add_up_2022-04-20 06:00:15.881305.csv',
# '/artsy_temp_data_add_up_2022-04-20 06:04:28.699579.csv',
# '/artsy_temp_data_add_up_2022-04-20 06:08:26.309967.csv',
# '/artsy_temp_data_add_up_2022-04-20 06:12:17.323396.csv',
# '/artsy_temp_data_add_up_2022-04-20 06:15:23.899838.csv',
# '/artsy_temp_data_add_up_2022-04-20 06:18:51.838690.csv',
# '/artsy_temp_data_add_up_2022-04-20 06:21:20.375642.csv',
# '/artsy_temp_data_add_up_2022-04-20 06:22:54.784599.csv',
# '/artsy_temp_data_add_up_2022-04-20 06:23:51.062563.csv',
# '/artsy_temp_data_add_up_2022-04-20 06:25:09.194797.csv',
# '/artsy_temp_data_add_up_2022-04-20 06:25:52.799921.csv']

# ['/artsy_temp_data_add_up_2022-04-20 06:54:25.118334.csv']

In [449]:
df_temp_data_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3870 entries, 0 to 29
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   artsy_id          3870 non-null   object
 1   name              3870 non-null   object
 2   link              3870 non-null   object
 3   year              3857 non-null   object
 4   artist            3870 non-null   object
 5   gallery           3870 non-null   object
 6   price             3870 non-null   object
 7   gene_id           3870 non-null   object
 8   category_id       3870 non-null   object
 9   parsing_date      3870 non-null   object
 10  updating_date     3870 non-null   object
 11  pages_count       3870 non-null   float64
 12  second_page_link  0 non-null      object
dtypes: float64(1), object(12)
memory usage: 423.3+ KB

In [450]:
df_temp_data_new.sample(5)

,artsy_id,name,link,year,artist,gallery,price,gene_id,category_id,parsing_date,updating_date,pages_count,second_page_link
3,625cea18b65677000dad66c1,"Big Flowers, Coffee and Pears",https://d7hftxdivxxvm.cloudfront.net?resize_to...,2021,"erikaintheislandBig Flowers, Coffee and Pears,...",Casie Kyoto,US$549,02073,02,2022-04-20,2022-04-20,1.0,NaN
25,625a41457ae207000d445934,Sylph,https://d7hftxdivxxvm.cloudfront.net?resize_to...,2022,"Kirsten Thys van den AudenaerdeSylph, 2022Inst...",Instantdreams,US$380–US$650,08009,08,2022-04-20,2022-04-20,1.0,NaN
20,625988cdb502a0000be5d753,VerbumCall,https://d7hftxdivxxvm.cloudfront.net?resize_to...,2007,"Peter WüthrichVerbumCall, 2007Galleria Fumagal...",Galleria Fumagalli,"€2,500–€3,000",06025,06,2022-04-20,2022-04-20,1.0,NaN
8,61706474a1b107000d9b6399,Core Desires,https://d7hftxdivxxvm.cloudfront.net?resize_to...,2020,"Marisa AdesmanCore Desires, 2020Anat EbgiPrice...",Anat Ebgi,Price on request,02073,02,2022-04-20,2022-04-20,1.0,NaN
20,625e84341d4ecd000e7790fc,Diane,https://d7hftxdivxxvm.cloudfront.net?resize_to...,17th Century,"Laurent de La HyreDiane, 17th CenturyWallector...",Wallector,£400,02119,02,2022-04-20,2022-04-20,1.0,NaN

In [106]:
for l in df_temp_data_new.sample(5)['second_page_link']:
  print(l)

https://www.artsy.net/gene/women-designers?page=2&sort=-published_at
https://www.artsy.net/gene/handcrafted-furniture-and-design?page=2&sort=-published_at
https://www.artsy.net/gene/focus-on-joints-slash-connections?page=2&sort=-published_at
https://www.artsy.net/gene/design-by-architects?page=2&sort=-published_at
https://www.artsy.net/gene/engineering-slash-construction-and-design?page=2&sort=-published_at

In [451]:
print(len(genes_ids_list))
df_temp_data_new['gene_id'].dropna().nunique()

129

129

In [78]:
# !!! cat 08 !!!
check_gene_id = df_temp_data_new['gene_id'].dropna().unique().tolist()
len(check_gene_id)

67

In [79]:
genes_ids_list_er = list(set(genes_ids_list) - set(check_gene_id))
genes_ids_list_er

['08066']

In [80]:
genes_links_list_er = [genes_links_list[genes_ids_list.index(g_id)] for g_id in genes_ids_list_er]
for link in genes_links_list_er:
  print(url_add + link)

https://www.artsy.net/gene/tokyo-artists?sort=-published_at

Pages of these genes ('03133', '03185', '08066') are empty, so everything's allright.

Merging

In [399]:
backup_names = ['/artsy_temp_data_add_up_2022-04-20 05:02:01.952344.csv',
                '/artsy_temp_data_add_up_2022-04-20 05:24:48.842989.csv',
                '/artsy_temp_data_add_up_2022-04-20 05:42:10.688512.csv',
                '/artsy_temp_data_add_up_2022-04-20 05:51:12.039562.csv',
                '/artsy_temp_data_add_up_2022-04-20 05:56:56.573465.csv',
                '/artsy_temp_data_add_up_2022-04-20 06:00:15.881305.csv',
                '/artsy_temp_data_add_up_2022-04-20 06:04:28.699579.csv',
                '/artsy_temp_data_add_up_2022-04-20 06:08:26.309967.csv',
                '/artsy_temp_data_add_up_2022-04-20 06:12:17.323396.csv',
                '/artsy_temp_data_add_up_2022-04-20 06:15:23.899838.csv',
                '/artsy_temp_data_add_up_2022-04-20 06:18:51.838690.csv',
                '/artsy_temp_data_add_up_2022-04-20 06:21:20.375642.csv',
                '/artsy_temp_data_add_up_2022-04-20 06:22:54.784599.csv',
                '/artsy_temp_data_add_up_2022-04-20 06:23:51.062563.csv',
                '/artsy_temp_data_add_up_2022-04-20 06:25:09.194797.csv',
                '/artsy_temp_data_add_up_2022-04-20 06:25:52.799921.csv',
                '/artsy_temp_data_add_up_2022-04-20 06:54:25.118334.csv']

In [400]:
df_cat_dat = open_file_csv(backup_names[0], 'backup') # 3. Open file.csv
for name in backup_names[1:]:
  df_cat_dat_part = open_file_csv(name, 'backup') # 3. Open file.csv
  df_cat_dat = pd.concat([df_cat_dat, df_cat_dat_part])

df_cat_dat['category_id'] = df_cat_dat['category_id'].dropna().apply(lambda x: str(x) if len(str(x))==cat_id_len else ('0'*(cat_id_len-len(str(x)))+str(x)))
df_cat_dat['gene_id'] = df_cat_dat['gene_id'].dropna().apply(lambda x: str(x) if len(str(x))==gen_id_len else ('0'*(gen_id_len-len(str(x)))+str(x)))

df_cat_dat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 29307 entries, 0 to 29
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   artsy_id          29306 non-null  object
 1   name              29306 non-null  object
 2   link              29306 non-null  object
 3   year              28034 non-null  object
 4   artist            29306 non-null  object
 5   gallery           29300 non-null  object
 6   price             29306 non-null  object
 7   gene_id           29307 non-null  object
 8   category_id       29307 non-null  object
 9   parsing_date      29307 non-null  object
 10  updating_date     29307 non-null  object
 11  pages_count       29307 non-null  float64
 12  second_page_link  28163 non-null  object
dtypes: float64(1), object(12)
memory usage: 3.1+ MB

In [401]:
df_cat_dat.loc[df_cat_dat['artsy_id'].isna()==True]

,artsy_id,name,link,year,artist,gallery,price,gene_id,category_id,parsing_date,updating_date,pages_count,second_page_link
900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,09031,09,2022-04-20,2022-04-20,1.0,NaN

In [140]:
df_cat_dat.loc[df_cat_dat['gene_id']=='09031'].head()

,artsy_id,name,link,year,artist,gallery,price,gene_id,category_id,parsing_date,updating_date,pages_count,second_page_link
900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,09031,09,2022-04-20,2022-04-20,1.0,NaN

In [142]:
genes_links_list_er = [genes_links_list[genes_ids_list.index('09031')] for g_id in genes_ids_list_er]
for link in genes_links_list_er:
  print(url_add + link)

https://www.artsy.net/gene/stone?sort=-published_at

In [143]:
genes_ids_list_er = [str(g_id) for g_id in df_cat_dat.loc[df_cat_dat['artsy_id'].isna()==True]['gene_id']]
genes_ids_list_er = list(set(genes_ids_list_er))
genes_ids_list_er

['09031']

In [144]:
genes_links_list_er = [genes_links_list[genes_ids_list.index(g_id)] for g_id in genes_ids_list_er]
genes_links_list_er

['/gene/stone?sort=-published_at']

In [402]:
df_cat_dat = df_cat_dat.dropna(subset=['artsy_id'], axis=0)

In [152]:
df_cat_dat_total = pd.concat([df_cat_dat, df_temp_data_new])
df_cat_dat_total.drop_duplicates(subset = ['gene_id', 'artsy_id'], keep = 'first', inplace = True)
df_cat_dat_total = df_cat_dat_total.reset_index().drop(['index'], axis=1)

df_cat_dat_total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29306 entries, 0 to 29305
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   artsy_id          29306 non-null  object
 1   name              29306 non-null  object
 2   link              29306 non-null  object
 3   year              28034 non-null  object
 4   artist            29306 non-null  object
 5   gallery           29300 non-null  object
 6   price             29306 non-null  object
 7   gene_id           29306 non-null  object
 8   category_id       29306 non-null  object
 9   parsing_date      29306 non-null  object
 10  updating_date     29306 non-null  object
 11  pages_count       29306 non-null  float64
 12  second_page_link  28163 non-null  object
dtypes: float64(1), object(12)
memory usage: 2.9+ MB

In [153]:
df_cat_dat_total.loc[df_cat_dat_total['artsy_id'].isna()==True]

Empty DataFrame
Columns: [artsy_id, name, link, year, artist, gallery, price, gene_id, category_id, parsing_date, updating_date, pages_count, second_page_link]
Index: []

In [154]:
add_up_name_csv = temp_data_add_up.replace('.csv', '') + '_' + str(datetime.now()) + '.csv'
print(add_up_name_csv)
save_df_file(df_cat_dat_total, add_up_name_csv, 'backup') # 4. Save df to csv file

/artsy_temp_data_add_up_2022-04-20 07:00:41.219261.csv

In [157]:
print(df_cat_dat_total['category_id'].nunique())
df_cat_dat_total['category_id'].unique()

16

array(['13', '03', '02', '06', '05', '11', '08', '09', '12', '04', '10',
       '07', '15', '01', '14', '16'], dtype=object)

In [158]:
df_cat_dat_total['artsy_id'].nunique()

17344

In [159]:
artworks_dict = open_dict(artwork_dict, 'live')
print(len(artworks_dict))

450574

In [160]:
old_id_list = list(artworks_dict.keys()) # list of str

# New df data

new_id_list = df_cat_dat_total['artsy_id'].unique() # list of str
#cat = [v['category_id'] for v in artworks_dict_new.values()][0] # list of lists with str
#print('New category:', cat[0])
#print('')

new_artwork_id = list(set(new_id_list) - set(old_id_list))
cross_artwork_id = list(set(old_id_list) & set(new_id_list))
print('New id count:', len(new_artwork_id))
print('Cross id count:', len(cross_artwork_id))
print('Check the division:', len(new_id_list)==len(new_artwork_id)+len(cross_artwork_id))
print('')

artworks_dict_total_len = len(old_id_list) + len(new_artwork_id)
print('New dict length must be:', artworks_dict_total_len)

New id count: 3191
Cross id count: 14153
Check the division: True

New dict length must be: 453765

In [189]:
df_cat_dat_new_ids = df_cat_dat_total.loc[df_cat_dat_total['artsy_id'].isin(new_artwork_id)]
df_cat_dat_new_ids.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6033 entries, 0 to 29293
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   artsy_id          6033 non-null   object
 1   name              6033 non-null   object
 2   link              6033 non-null   object
 3   year              6009 non-null   object
 4   artist            6033 non-null   object
 5   gallery           6033 non-null   object
 6   price             6033 non-null   object
 7   gene_id           6033 non-null   object
 8   category_id       6033 non-null   object
 9   parsing_date      6033 non-null   object
 10  updating_date     6033 non-null   object
 11  pages_count       6033 non-null   float64
 12  second_page_link  6032 non-null   object
dtypes: float64(1), object(12)
memory usage: 659.9+ KB

In [190]:
df_cat_dat_new_ids.sample(10)

,artsy_id,name,link,year,artist,gallery,price,gene_id,category_id,parsing_date,updating_date,pages_count,second_page_link
12295,625f1623e0180b000c044ebd,Refulgence #20,https://d7hftxdivxxvm.cloudfront.net?resize_to...,2022,"Suzanne Howes StevensRefulgence #20, 2022Rice ...",Rice Polak Gallery,"US$2,000",02170,02,2022-04-20,2022-04-20,100.0,https://www.artsy.net/gene/skyscapes?page=2&so...
4292,625f1606c582a1000cffdffb,If,https://d7hftxdivxxvm.cloudfront.net?resize_to...,2022,"Suzanne Howes StevensIf, 2022Rice Polak Galler...",Rice Polak Gallery,"US$3,300",03146,03,2022-04-20,2022-04-20,100.0,https://www.artsy.net/gene/impressionism-and-c...
24290,625e56c17c4a9a000c8bad19,Rosebush II,https://d7hftxdivxxvm.cloudfront.net?resize_to...,2021,"Sarah ContosRosebush II, 2021STATIONSold",STATION,Sold,09002,09,2022-04-20,2022-04-20,100.0,https://www.artsy.net/gene/assemblage?page=2&s...
22296,6257a63addb48f000bb165d3,8 Sword Swallower,https://d7hftxdivxxvm.cloudfront.net?resize_to...,2017,"Gil Batle8 Sword Swallower, 2017Walking House ...",Walking House New York,"US$2,500",08002,08,2022-04-20,2022-04-20,100.0,https://www.artsy.net/gene/united-states?page=...
8395,625f531bf3b1ca000e846fa3,Judith Nungarrayi Martin- Janganpa Jukurrpa ( ...,https://d7hftxdivxxvm.cloudfront.net?resize_to...,2022,Artists of Yuendumu WarlukurlanguJudith Nungar...,Wentworth Galleries,"AU$1,880",02040,02,2022-04-20,2022-04-20,100.0,https://www.artsy.net/gene/cultural-commentary...
4161,625f26787546b0000c2db70b,Exit,https://d7hftxdivxxvm.cloudfront.net?resize_to...,2019,"Eric ZenerExit, 2019Gallery HenochUS$56,000",Gallery Henoch,"US$56,000",03142,03,2022-04-20,2022-04-20,100.0,https://www.artsy.net/gene/hyperrealism-and-ph...
1782,625f7da138651b000bc2d1aa,YINGGG,https://d7hftxdivxxvm.cloudfront.net?resize_to...,2022,"Timothy Hon Hung LeeYINGGG, 2022Karin Weber Ga...",Karin Weber Gallery,"US$7,574",03058,03,2022-04-20,2022-04-20,100.0,https://www.artsy.net/gene/contemporary-britis...
1717,625f879b4b02fe000d4eea15,The Tree,https://d7hftxdivxxvm.cloudfront.net?resize_to...,1983,"Jim DineThe Tree, 1983Rago/Wright/LAMAPrice on...",Rago/Wright/LAMA,Price on request,03056,03,2022-04-20,2022-04-20,100.0,https://www.artsy.net/gene/contemporary-art?pa...
23434,625f85322847c9000d452682,Conjunction 18-23,https://d7hftxdivxxvm.cloudfront.net?resize_to...,2018,"Ha Chong-hyunConjunction 18-23, 2018Seojung Ar...",Seojung Art,On hold,08040,08,2022-04-20,2022-04-20,100.0,https://www.artsy.net/gene/korea?page=2&sort=-...
17075,625960d707c6fb000c696d6c,Le Corps Fusion,https://d7hftxdivxxvm.cloudfront.net?resize_to...,2018,"Laurent HiniLe Corps Fusion, 2018Galerie Viven...",Galerie Vivendi,"€6,800",06117,06,2022-04-20,2022-04-20,100.0,https://www.artsy.net/gene/performance-art?pag...

In [191]:
save_df_file(df_cat_dat_total, '/artsy_temp_data_add.csv', 'backup') # 4. Save df to csv file

/artsy_temp_data_add_up_2022-04-20 07:44:29.078033.csv

Check for parsing next page

In [428]:
gene_grouped_total = df_cat_dat_total.groupby(['gene_id'])['artsy_id'].agg(['count']).reset_index()
gene_grouped_new = df_cat_dat_new_ids.groupby(['gene_id'])['artsy_id'].agg(['count']).reset_index()

In [440]:
gene_id_list = list(set(df_cat_dat_new_ids['gene_id'].tolist()))
gene_id_dict = {}
for gene in gene_id_list:
  if gene_grouped_new.loc[gene_grouped_new['gene_id']==gene]['count'].values[0] < gene_grouped_total.loc[gene_grouped_total['gene_id']==gene]['count'].values[0]:
    pass
  else:
    gene_id_dict.update({gene: {'pages_count': df_cat_dat_new_ids.loc[df_cat_dat_new_ids['gene_id']==gene]['pages_count'].mean(),
                                'second_page_link': df_cat_dat_new_ids.loc[df_cat_dat_new_ids['gene_id']==gene]['second_page_link'].tolist()[0].replace(url_add, ''),
                                'category_id': df_cat_dat_new_ids.loc[df_cat_dat_new_ids['gene_id']==gene]['category_id'].tolist()[0]
                                }
                         })

print('New ids genes count', len(gene_id_list))
print('Need to check next pages for', len(gene_id_dict), 'genes')

New ids genes count 288
Need to check next pages for 129 genes

In [441]:
gene_id_dict['03142']

{'category_id': '03',
 'pages_count': 100.0,
 'second_page_link': '/gene/hyperrealism-and-photorealism?page=2&sort=-published_at'}

In [442]:
genes_links_list = [v['second_page_link'] for v in gene_id_dict.values()]
genes_cat_list = [v['category_id'] for v in gene_id_dict.values()]
genes_ids_list = list(gene_id_dict.keys())
print(len(genes_links_list))
print(len(genes_cat_list))
print(len(genes_ids_list))

129
129
129

Check for parsing next page

In [452]:
artworks_dict = open_dict(artwork_dict, 'live')
print(len(artworks_dict))

453832

In [453]:
old_id_list = list(artworks_dict.keys()) # list of str

# New df data

new_id_list = df_temp_data_new['artsy_id'].unique() # list of str
#cat = [v['category_id'] for v in artworks_dict_new.values()][0] # list of lists with str
#print('New category:', cat[0])
#print('')

new_artwork_id = list(set(new_id_list) - set(old_id_list))
cross_artwork_id = list(set(old_id_list) & set(new_id_list))
print('New id count:', len(new_artwork_id))
print('Cross id count:', len(cross_artwork_id))
print('Check the division:', len(new_id_list)==len(new_artwork_id)+len(cross_artwork_id))
print('')

artworks_dict_total_len = len(old_id_list) + len(new_artwork_id)
print('New dict length must be:', artworks_dict_total_len)

New id count: 1152
Cross id count: 1615
Check the division: True

New dict length must be: 454984

In [454]:
df_temp_data_new_ids = df_temp_data_new.loc[df_temp_data_new['artsy_id'].isin(new_artwork_id)]
df_temp_data_new_ids.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1449 entries, 7 to 23
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   artsy_id          1449 non-null   object
 1   name              1449 non-null   object
 2   link              1449 non-null   object
 3   year              1446 non-null   object
 4   artist            1449 non-null   object
 5   gallery           1449 non-null   object
 6   price             1449 non-null   object
 7   gene_id           1449 non-null   object
 8   category_id       1449 non-null   object
 9   parsing_date      1449 non-null   object
 10  updating_date     1449 non-null   object
 11  pages_count       1449 non-null   float64
 12  second_page_link  0 non-null      object
dtypes: float64(1), object(12)
memory usage: 158.5+ KB

In [455]:
gene_grouped_total = df_temp_data_new.groupby(['gene_id'])['artsy_id'].agg(['count']).reset_index()
gene_grouped_new = df_temp_data_new_ids.groupby(['gene_id'])['artsy_id'].agg(['count']).reset_index()

In [456]:
gene_id_list_new = list(set(df_temp_data_new_ids['gene_id'].tolist()))
gene_id_dict_new = {}
for gene in gene_id_list_new:
  if gene_grouped_new.loc[gene_grouped_new['gene_id']==gene]['count'].values[0] < gene_grouped_total.loc[gene_grouped_total['gene_id']==gene]['count'].values[0]:
    pass
  else:
    gene_id_dict_new.update({gene: {'pages_count': gene_id_dict[gene]['pages_count'],
                                    'second_page_link': gene_id_dict[gene]['second_page_link'],
                                    'category_id': df_temp_data_new_ids.loc[df_temp_data_new_ids['gene_id']==gene]['category_id'].tolist()[0]
                                }
                         })

print('New ids genes count', len(gene_id_list_new))
print('Need to check next pages for', len(gene_id_dict_new), 'genes')

New ids genes count 113
Need to check next pages for 8 genes

In [457]:
gene_id_dict_new['03008']

{'category_id': '03',
 'pages_count': 100.0,
 'second_page_link': '/gene/abstract-art?page=2&sort=-published_at'}

In [461]:
genes_links_list = [v['second_page_link'].split('&')[0][:-1] + str(3) + '&' + v['second_page_link'].split('&')[1] for v in gene_id_dict_new.values()]
genes_cat_list = [v['category_id'] for v in gene_id_dict_new.values()]
genes_ids_list = list(gene_id_dict_new.keys())
print(len(genes_links_list))
print(len(genes_cat_list))
print(len(genes_ids_list))

8
8
8

In [463]:
save_df_file(df_temp_data_new, '/artsy_temp_data_add.csv', 'backup') # 4. Save df to csv file

### Errors' parsing checking

Checking the completeness of a new data after collecting error genes

In [ ]:
# !!!!!!!!!!!!!!!!!

In [ ]:
# cat 09
backup_names = ['/artsy_temp_data_2022-04-18 15:58:00.276252.csv',
                '/artsy_temp_data_2022-04-18 16:07:15.086943.csv']

In [ ]:
df_temp_data_new = open_file_csv(backup_names[0], 'backup') # 3. Open file.csv
for name in backup_names[1:]:
  df_temp_data_new_part = open_file_csv(name, 'backup') # 3. Open file.csv
  df_temp_data_new = pd.concat([df_temp_data_new, df_temp_data_new_part])

#df_temp_data_new = df_temp_data_new.dropna(subset=['artsy_id'], axis=0) # !!!
df_temp_data_new.drop_duplicates(subset = ['gene_id', 'artsy_id'], keep = 'first', inplace = True)
df_temp_data_new = df_temp_data_new.reset_index().drop(['index'], axis=1) # !!!

In [ ]:
df_temp_data_new['category_id'] = df_temp_data_new['category_id'].dropna().apply(lambda x: str(x) if len(str(x))==cat_id_len else ('0'*(cat_id_len-len(str(x)))+str(x)))
df_temp_data_new['gene_id'] = df_temp_data_new['gene_id'].dropna().apply(lambda x: str(x) if len(str(x))==gen_id_len else ('0'*(gen_id_len-len(str(x)))+str(x)))

In [ ]:
# !!!!!!!!!!!!!

In [ ]:
df_temp_data_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2373 entries, 0 to 7
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   artsy_id       2373 non-null   object
 1   name           2373 non-null   object
 2   link           2373 non-null   object
 3   year           2315 non-null   object
 4   artist         2373 non-null   object
 5   gallery        2357 non-null   object
 6   price          2373 non-null   object
 7   gene_id        2373 non-null   object
 8   category_id    2373 non-null   object
 9   parsing_date   2373 non-null   object
 10  updating_date  2373 non-null   object
dtypes: object(11)
memory usage: 222.5+ KB

Everything is correct in case of empty df. -> Mergening

In [ ]:
df_temp_data_new.loc[df_temp_data_new['artsy_id'].isna()==True]

Empty DataFrame
Columns: [artsy_id, name, link, year, artist, gallery, price, gene_id, category_id, parsing_date, updating_date]
Index: []

In [ ]:
df_temp_data_new.loc[df_temp_data_new['gene_id']=='04016'].head()

,artsy_id,name,link,year,artist,gallery,price,gene_id,category_id,parsing_date,updating_date
0,6234540a64caba000b7d3d9e,Osvaldo Borsani & Eugenio Gerli for Tecno Oval...,https://d7hftxdivxxvm.cloudfront.net?resize_to...,1968,"Osvaldo Borsani, Eugenio GerliOsvaldo Borsani ...",MORENTZ,"US$6,450",04016,04,2022-04-19,2022-04-19
1,623b0890478704000b678259,Desk,https://d7hftxdivxxvm.cloudfront.net?resize_to...,ca. 1960,"Marco ZanusoDesk , ca. 1960Gokelaere & Robinso...",Gokelaere & Robinson,"€25,000",04016,04,2022-04-19,2022-04-19
2,545a72c57261692cdfe90100,"""Nitor,"" Bronze Candlestick",https://d7hftxdivxxvm.cloudfront.net?resize_to...,2014,"Aldus""Nitor,"" Bronze Candlestick, 2014Maison G...",Maison Gerard,"US$6,200",04016,04,2022-04-19,2022-04-19
3,5592bc6e7261693ebf00003d,Try Tray,https://d7hftxdivxxvm.cloudfront.net?resize_to...,1995,"Gaetano PesceTry Tray, 1995The Modern ArchiveU...",The Modern Archive,US$595,04016,04,2022-04-19,2022-04-19
4,53eac6aa7261691149ef0000,Octopus Chandelier,https://d7hftxdivxxvm.cloudfront.net?resize_to...,2014,"Achille SalvagniOctopus Chandelier, 2014Maison...",Maison Gerard,"US$147,500",04016,04,2022-04-19,2022-04-19

In [ ]:
print(url_add + genes_links_list[15])
print(genes_ids_list[15])

https://www.artsy.net/gene/italian-furniture-and-design
04016

In [ ]:
genes_ids_list_er = [genes_ids_list[15]]
genes_links_list_er = [genes_links_list[15]]

In [ ]:
# or

In [ ]:
genes_ids_list_er = [g_id for g_id in df_temp_data_new.loc[df_temp_data_new['artsy_id'].isna()==True]['gene_id']]
genes_ids_list_er = list(set(genes_ids_list_er))
genes_ids_list_er

['09039', '09031']

In [ ]:
genes_links_list_er = [genes_links_list[genes_ids_list.index(g_id)] for g_id in genes_ids_list_er]
genes_links_list_er

['/gene/wood', '/gene/stone']

In [ ]:
df_temp_data_new = df_temp_data_new.dropna(subset=['artsy_id'], axis=0)

In [ ]:
save_df_file(df_temp_data_new, new_name_csv, 'backup') # 4. Save df to csv file

### Primary parsing checking

Checking the completeness of the data

In [302]:
# cat 06 NEW GENE
#backup_names = ['/artsy_temp_data_2022-04-09 06:44:32.738152.csv']
backup_names

['/artsy_temp_data_2022-04-20 08:38:11.107399.csv']

In [ ]:
df_cat_dat = open_file_csv(backup_names[0], 'backup') # 3. Open file.csv
for name in backup_names[1:]:
  df_cat_dat_part = open_file_csv(name, 'backup') # 3. Open file.csv
  df_cat_dat = pd.concat([df_cat_dat, df_cat_dat_part])

In [303]:
# or
df_cat_dat = open_file_csv(backup_names[0], 'backup') # 3. Open file.csv

In [304]:
df_cat_dat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 263 entries, 0 to 262
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   artsy_id       263 non-null    object
 1   name           263 non-null    object
 2   link           263 non-null    object
 3   year           257 non-null    object
 4   artist         263 non-null    object
 5   gallery        263 non-null    object
 6   price          263 non-null    object
 7   gene_id        263 non-null    int64
 8   category_id    263 non-null    int64
 9   parsing_date   263 non-null    object
 10  updating_date  263 non-null    object
dtypes: int64(2), object(9)
memory usage: 22.7+ KB

In [305]:
df_cat_dat['category_id'].unique()

array([6])

In [ ]:
# !!!!!!!!!!!!!!!!

In [ ]:
df_cat_dat_nan = df_cat_dat.loc[df_cat_dat['category_id'].isna()==True]
df_cat_dat_nan.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 2611 to 4705
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   artsy_id       2 non-null      object
 1   name           2 non-null      object
 2   link           0 non-null      object
 3   year           0 non-null      object
 4   artist         0 non-null      object
 5   gallery        0 non-null      object
 6   price          0 non-null      object
 7   gene_id        0 non-null      float64
 8   category_id    0 non-null      object
 9   parsing_date   0 non-null      object
 10  updating_date  0 non-null      object
dtypes: float64(1), object(10)
memory usage: 192.0+ bytes

In [ ]:
df_cat_dat_nan

,artsy_id,name,link,year,artist,gallery,price,gene_id,category_id,parsing_date,updating_date
2611,61698fb5299f47000de9a839,‘Ero’ chairs by Starck for Kartell,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4705,61698fb5299f47000de9a839,‘Ero’ chairs by Starck for Kartell,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
artsy_id_list = df_cat_dat_nan['artsy_id'].tolist()
name_list = df_cat_dat_nan['name'].tolist()

In [ ]:
df_cat_dat_date = df_cat_dat.loc[df_cat_dat['category_id']=='2022-04-19']
df_cat_dat_date.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 2612 to 4706
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   artsy_id       2 non-null      object
 1   name           2 non-null      object
 2   link           2 non-null      object
 3   year           2 non-null      object
 4   artist         2 non-null      object
 5   gallery        2 non-null      object
 6   price          2 non-null      object
 7   gene_id        2 non-null      float64
 8   category_id    2 non-null      object
 9   parsing_date   2 non-null      object
 10  updating_date  0 non-null      object
dtypes: float64(1), object(10)
memory usage: 192.0+ bytes

In [ ]:
df_cat_dat_date

,artsy_id,name,link,year,artist,gallery,price,gene_id,category_id,parsing_date,updating_date
2612,(Italy),https://d7hftxdivxxvm.cloudfront.net?resize_to...,Circa 2000,Philippe Starck‘Ero’ chairs by Starck for Kart...,Eclectica Contemporary,Price on request,12005,12.0,2022-04-19,2022-04-19,NaN
4706,(Italy),https://d7hftxdivxxvm.cloudfront.net?resize_to...,Circa 2000,Philippe Starck‘Ero’ chairs by Starck for Kart...,Eclectica Contemporary,Price on request,12017,12.0,2022-04-19,2022-04-19,NaN

In [ ]:
imgage_list = df_cat_dat_date['name'].tolist()
year_list = df_cat_dat_date['link'].tolist()
artist_list = df_cat_dat_date['year'].tolist()
gallery_list = df_cat_dat_date['artist'].tolist()
price_list = df_cat_dat_date['gallery'].tolist()
gene_list = df_cat_dat_date['price'].tolist()
cat_list = df_cat_dat_date['gene_id'].tolist()
parsing_list = df_cat_dat_date['parsing_date'].tolist()

In [ ]:
df_data_new = pd.DataFrame({'artsy_id': artsy_id_list,
                            'name': name_list, 
                            'link': imgage_list, 
                            'year': year_list,
                            'artist': artist_list,
                            'gallery': gallery_list,
                            'price': price_list,
                            'gene_id': gene_list,
                            'category_id': cat_list,
                            'parsing_date': parsing_list,
                            'updating_date': parsing_list,
                            })
df_data_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   artsy_id       2 non-null      object
 1   name           2 non-null      object
 2   link           2 non-null      object
 3   year           2 non-null      object
 4   artist         2 non-null      object
 5   gallery        2 non-null      object
 6   price          2 non-null      object
 7   gene_id        2 non-null      object
 8   category_id    2 non-null      float64
 9   parsing_date   2 non-null      object
 10  updating_date  2 non-null      object
dtypes: float64(1), object(10)
memory usage: 304.0+ bytes

In [ ]:
df_data_new['category_id'].unique()

array([12.])

In [ ]:
df_cat_dat_12 = df_cat_dat.loc[df_cat_dat['category_id']=='12']
df_cat_dat_12.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23348 entries, 0 to 13960
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   artsy_id       23345 non-null  object
 1   name           23345 non-null  object
 2   link           23345 non-null  object
 3   year           22845 non-null  object
 4   artist         23345 non-null  object
 5   gallery        23091 non-null  object
 6   price          23345 non-null  object
 7   gene_id        23348 non-null  float64
 8   category_id    23348 non-null  object
 9   parsing_date   23348 non-null  object
 10  updating_date  23348 non-null  object
dtypes: float64(1), object(10)
memory usage: 2.1+ MB

In [ ]:
df_cat_dat_12['category_id'].unique()

array(['12'], dtype=object)

In [ ]:
df_cat_dat = df_cat_dat_12.copy()
df_cat_dat = pd.concat([df_cat_dat, df_data_new])
df_cat_dat = df_cat_dat.reset_index().drop(['index'], axis=1)
df_cat_dat['category_id'] = 12

df_cat_dat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23350 entries, 0 to 23349
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   artsy_id       23347 non-null  object
 1   name           23347 non-null  object
 2   link           23347 non-null  object
 3   year           22847 non-null  object
 4   artist         23347 non-null  object
 5   gallery        23093 non-null  object
 6   price          23347 non-null  object
 7   gene_id        23350 non-null  object
 8   category_id    23350 non-null  int64
 9   parsing_date   23350 non-null  object
 10  updating_date  23350 non-null  object
dtypes: int64(1), object(10)
memory usage: 2.0+ MB

In [ ]:
df_cat_dat['category_id'].unique()

array([12])

In [ ]:
# !!!!!!!!

In [306]:
df_cat_dat['category_id'] = df_cat_dat['category_id'].dropna().apply(lambda x: str(x) if len(str(x))==cat_id_len else ('0'*(cat_id_len-len(str(x)))+str(x)))
df_cat_dat['gene_id'] = df_cat_dat['gene_id'].dropna().apply(lambda x: str(x) if len(str(x))==gen_id_len else ('0'*(gen_id_len-len(str(x)))+str(x)))

#df_cat_dat['category_id'] = df_cat_dat['category_id'].dropna().apply(lambda x: str(int(float(x))) if len(str(int(float(x))))==cat_id_len else ('0'*(cat_id_len-len(str(int(float(x)))))+str(int(float(x)))))
#df_cat_dat['gene_id'] = df_cat_dat['gene_id'].dropna().apply(lambda x: str(int(float(x))) if len(str(int(float(x))))==gen_id_len else ('0'*(gen_id_len-len(str(int(float(x)))))+str(int(float(x)))))

In [307]:
df_cat_dat.loc[df_cat_dat['artsy_id'].isna()==True]

Empty DataFrame
Columns: [artsy_id, name, link, year, artist, gallery, price, gene_id, category_id, parsing_date, updating_date]
Index: []

In [ ]:
df_cat_dat.loc[df_cat_dat['gene_id']=='12011'].head()

,artsy_id,name,link,year,artist,gallery,price,gene_id,category_id,parsing_date,updating_date
5611,624d61a5e25714000c32bde3,Spanish 18th Century Refectory Dining Table,https://d7hftxdivxxvm.cloudfront.net?resize_to...,1700-1750,Unknown ArtistSpanish 18th Century Refectory D...,AVANTIQUES,"US$4,500",12011,12,2022-04-19,2022-04-19
5612,5eb1d70b3e52a6000df08763,"""Cloud"" CenterTable",https://d7hftxdivxxvm.cloudfront.net?resize_to...,2020,"Jacques Jarrige""Cloud"" CenterTable, 2020Valeri...",Valerie Goodman Gallery,"US$27,000",12011,12,2022-04-19,2022-04-19
5613,59da74309c18db249fcdbccd,"Lacquered desk table ""Luca""",https://d7hftxdivxxvm.cloudfront.net?resize_to...,2017,"Jacques JarrigeLacquered desk table ""Luca"", 20...",Valerie Goodman Gallery,"US$23,750",12011,12,2022-04-19,2022-04-19
5614,5bae2d5b1f74731ca8eac04a,Oval dining table with leaves,https://d7hftxdivxxvm.cloudfront.net?resize_to...,1952,"Hans J. WegnerOval dining table with leaves, 1...",Dansk Møbelkunst Gallery,Price on request,12011,12,2022-04-19,2022-04-19
5615,620258c734e7fc000b5e722f,Lovö dining table,https://d7hftxdivxxvm.cloudfront.net?resize_to...,1930,"Axel Einar HjorthLovö dining table, 1930Gokela...",Gokelaere & Robinson,"€14,000",12011,12,2022-04-19,2022-04-19

Getting list of genes with missing pages parsing and lounch parsing of these genes (not pages !!!) again.

In [ ]:
genes_ids_list_er = [str(g_id) for g_id in df_cat_dat.loc[df_cat_dat['artsy_id'].isna()==True]['gene_id']]
genes_ids_list_er = list(set(genes_ids_list_er))
genes_ids_list_er

['12014', '12011']

In [ ]:
genes_links_list_er = [genes_links_list[genes_ids_list.index(g_id)] for g_id in genes_ids_list_er]
genes_links_list_er

['/gene/lighting', '/gene/dining-table']

In [ ]:
df_cat_dat = df_cat_dat.dropna(subset=['artsy_id'], axis=0)

It would be better for faster errors' parsing if I got the page number info...

!!! One item can belong not only to different categoryes but also to different genes into one category. That's very important for joining with reparsed data !!!

In [ ]:
print(df_cat_dat['artsy_id'].count())
print(df_cat_dat['artsy_id'].nunique())

110253
73696

In [ ]:
print(df_cat_dat.groupby(['gene_id', 'artsy_id'])['artsy_id'].count().max())
print(df_cat_dat.groupby(['gene_id', 'artsy_id'])['artsy_id'].nunique().max())

2
1

In [ ]:
gene_artsy_groupped = df_cat_dat.groupby(['gene_id', 'artsy_id'])['artsy_id'].agg(['count']).reset_index()
gene_artsy_groupped.loc[gene_artsy_groupped['count']>1]

       gene_id                  artsy_id  count
4309     06007  540f40cd7261692d6d550000      2
18541    06021  5ae9db4a9c18db166e639c7e      2
20019    06021  606d59a4b58b09000e0f0fed      2
20209    06021  60e05ea715fca20013f5854a      2
20657    06021  61c0ee1e845711000bf8163c      2
...        ...                       ...    ...
247062   06174  5f172c2dea92a20011267465      2
250018   06175  618bea8b5180b7000e0faba9      2
250139   06175  61ba11e097ec3a000b017724      2
251094   06175  623b41fed562fe000c49e3ba      2
251699   06175  6248b64fa3259b000c24e910      2

[236 rows x 3 columns]

In [ ]:
df_cat_dat.loc[df_cat_dat['artsy_id']=='6248b64fa3259b000c24e910']

,artsy_id,name,link,year,artist,gallery,price,gene_id,category_id,parsing_date,updating_date
39366,6248b64fa3259b000c24e910,Time Is Movin’,https://d7hftxdivxxvm.cloudfront.net?resize_to...,2021,"Mitsuyo OkadaTime Is Movin’, 2021Space 776US$290",Space 776,US$290,06175,06,2022-04-06,2022-04-06
39369,6248b64fa3259b000c24e910,Time Is Movin’,https://d7hftxdivxxvm.cloudfront.net?resize_to...,2021,"Mitsuyo OkadaTime Is Movin’, 2021Space 776US$290",Space 776,US$290,06175,06,2022-04-06,2022-04-06

In [ ]:
for link in df_cat_dat.loc[df_cat_dat['artsy_id']=='4d8b93484eb68a1b2c00125b']['link']:
  print(link)

https://d7hftxdivxxvm.cloudfront.net?resize_to=fit&src=https%3A%2F%2Fd32dm0rphc51dk.cloudfront.net%2F8NpaJhOeMqPmSGH2IdLcWw%2Flarge.jpg&width=445&height=353&quality=80
https://d7hftxdivxxvm.cloudfront.net?resize_to=fit&src=https%3A%2F%2Fd32dm0rphc51dk.cloudfront.net%2F8NpaJhOeMqPmSGH2IdLcWw%2Flarge.jpg&width=445&height=353&quality=80
https://d7hftxdivxxvm.cloudfront.net?resize_to=fit&src=https%3A%2F%2Fd32dm0rphc51dk.cloudfront.net%2F8NpaJhOeMqPmSGH2IdLcWw%2Flarge.jpg&width=445&height=353&quality=80
https://d7hftxdivxxvm.cloudfront.net?resize_to=fit&src=https%3A%2F%2Fd32dm0rphc51dk.cloudfront.net%2F8NpaJhOeMqPmSGH2IdLcWw%2Flarge.jpg&width=445&height=353&quality=80
https://d7hftxdivxxvm.cloudfront.net?resize_to=fit&src=https%3A%2F%2Fd32dm0rphc51dk.cloudfront.net%2F8NpaJhOeMqPmSGH2IdLcWw%2Flarge.jpg&width=445&height=353&quality=80
https://d7hftxdivxxvm.cloudfront.net?resize_to=fit&src=https%3A%2F%2Fd32dm0rphc51dk.cloudfront.net%2F8NpaJhOeMqPmSGH2IdLcWw%2Flarge.jpg&width=445&height=353&quality=80
https://d7hftxdivxxvm.cloudfront.net?resize_to=fit&src=https%3A%2F%2Fd32dm0rphc51dk.cloudfront.net%2F8NpaJhOeMqPmSGH2IdLcWw%2Flarge.jpg&width=445&height=353&quality=80
https://d7hftxdivxxvm.cloudfront.net?resize_to=fit&src=https%3A%2F%2Fd32dm0rphc51dk.cloudfront.net%2F8NpaJhOeMqPmSGH2IdLcWw%2Flarge.jpg&width=445&height=353&quality=80

There can be item duplicates inside one gene items' list also. Delete them.

### Merging of all the data

In [ ]:
# cat 10
df_cat_dat_total = pd.concat([df_cat_dat, df_temp_data_new])
df_cat_dat_total.drop_duplicates(subset = ['gene_id', 'artsy_id'], keep = 'first', inplace = True)
df_cat_dat_total = df_cat_dat_total.reset_index().drop(['index'], axis=1) # !!!

In [308]:
# or
df_cat_dat_total = df_cat_dat.copy()

In [309]:
df_cat_dat_total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 263 entries, 0 to 262
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   artsy_id       263 non-null    object
 1   name           263 non-null    object
 2   link           263 non-null    object
 3   year           257 non-null    object
 4   artist         263 non-null    object
 5   gallery        263 non-null    object
 6   price          263 non-null    object
 7   gene_id        263 non-null    object
 8   category_id    263 non-null    object
 9   parsing_date   263 non-null    object
 10  updating_date  263 non-null    object
dtypes: object(11)
memory usage: 22.7+ KB

Genes checking: sometimes there may be a problem (like with cat 03)

In [310]:
print(len(genes_ids_list))
df_cat_dat_total['gene_id'].dropna().nunique()

1

1

In [311]:
save_df_file(df_cat_dat_total, '/artsy_temp_data_new_gene.csv', 'backup') # 4. Save df to csv file
#df_cat_dat_total = open_file_csv('/artsy_temp_data_09.csv', 'backup') # 3. Open file.csv

In [ ]:
# !!! cat 10 !!!
check_gene_id = df_cat_dat_total['gene_id'].dropna().unique().tolist()
len(check_gene_id)

27

In [ ]:
genes_ids_list_er = list(set(genes_ids_list) - set(check_gene_id))
genes_ids_list_er

['10021',
 '10008',
 '10001',
 '10013',
 '10006',
 '10017',
 '10020',
 '10004',
 '10009',
 '10003',
 '10014',
 '10015',
 '10012',
 '10016',
 '10005',
 '10010',
 '10011',
 '10018',
 '10002',
 '10007',
 '10022',
 '10019']

In [ ]:
genes_links_list_er = [genes_links_list[genes_ids_list.index(g_id)] for g_id in genes_ids_list_er]
for link in genes_links_list_er:
  print(url_add + link)

https://www.artsy.net/gene/whimsical-design
https://www.artsy.net/gene/handcrafted-furniture-and-design
https://www.artsy.net/gene/cad-computer-aided-design
https://www.artsy.net/gene/modular-design
https://www.artsy.net/gene/engineering-slash-construction-and-design
https://www.artsy.net/gene/restrained-forms
https://www.artsy.net/gene/timber-frame-construction
https://www.artsy.net/gene/design-by-artists
https://www.artsy.net/gene/iconic-works-of-design
https://www.artsy.net/gene/design-by-architects
https://www.artsy.net/gene/non-functional-design
https://www.artsy.net/gene/reinforced-concrete-construction
https://www.artsy.net/gene/masonry-construction
https://www.artsy.net/gene/religious-building
https://www.artsy.net/gene/emerging-design
https://www.artsy.net/gene/industrial-and-product-design
https://www.artsy.net/gene/jewelry-by-painters-and-sculptors
https://www.artsy.net/gene/steel-slash-iron-frame-construction
https://www.artsy.net/gene/childrens-furniture-and-design
https://www.artsy.net/gene/focus-on-joints-slash-connections
https://www.artsy.net/gene/women-designers
https://www.artsy.net/gene/sustainable-design

Pages of these genes are empty, so everything's allright.

## Data studying

In [312]:
#df_cat_dat_total = open_file_csv('/artsy_temp_data_05.csv', 'backup') # 3. Open file.csv
df_cat_dat_total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 263 entries, 0 to 262
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   artsy_id       263 non-null    object
 1   name           263 non-null    object
 2   link           263 non-null    object
 3   year           257 non-null    object
 4   artist         263 non-null    object
 5   gallery        263 non-null    object
 6   price          263 non-null    object
 7   gene_id        263 non-null    object
 8   category_id    263 non-null    object
 9   parsing_date   263 non-null    object
 10  updating_date  263 non-null    object
dtypes: object(11)
memory usage: 22.7+ KB

In [313]:
print(df_cat_dat_total.groupby(['gene_id', 'artsy_id'])['artsy_id'].count().max())
print(df_cat_dat_total.groupby(['gene_id', 'artsy_id'])['artsy_id'].nunique().max())

1
1

Transform id from int into str and link into a working one.

In [314]:
#df_cat_dat_total['category_id'] = df_cat_dat_total['category_id'].dropna().apply(lambda x: str(x) if len(str(x))==cat_id_len else ('0'*(cat_id_len-len(str(x)))+str(x)))
#df_cat_dat_total['gene_id'] = df_cat_dat_total['gene_id'].dropna().apply(lambda x: str(x) if len(str(x))==gen_id_len else ('0'*(gen_id_len-len(str(x)))+str(x)))

df_cat_dat_total['link'] = df_cat_dat_total['link'].dropna().apply(lambda x: img_link_corr(x))

df_cat_dat_total.sample(5)

,artsy_id,name,link,year,artist,gallery,price,gene_id,category_id,parsing_date,updating_date
19,621921dd61a45e000bc36767,¡Préstame tu lifestyle! (Alpha),https://d32dm0rphc51dk.cloudfront.net/avnWaGa7...,2021,Pedro Friedeberg¡Préstame tu lifestyle! (Alpha...,CAM Galería,Price on request,06176,06,2022-04-20,2022-04-20
41,620d4e5c32fe75000b65e6b0,"Impression (NFT) - surreal, figurative, pop art",https://d32dm0rphc51dk.cloudfront.net/EmbGNUnh...,2022,"Clairé HillsImpression (NFT) - surreal, figura...",Santiago Soares Gallery,US$666,06176,06,2022-04-20,2022-04-20
249,621876a5d755e3000d4b727c,CryptoPunk #1253,https://d32dm0rphc51dk.cloudfront.net/uEmWSduZ...,2017,"Larva LabsCryptoPunk #1253, 2017Asia Art Cente...",Asia Art Center,On hold,06176,06,2022-04-20,2022-04-20
206,60b8f973f0e8ae0013f20f2d,QUEER BLOOD AMERICA (Black/Red),https://d32dm0rphc51dk.cloudfront.net/XPhpK9xz...,2021,"Jordan EaglesQUEER BLOOD AMERICA (Black/Red), ...",New Discretions,Price on request,06176,06,2022-04-20,2022-04-20
35,621921dcda6402000c858c86,Sana distancia (Alpha),https://d32dm0rphc51dk.cloudfront.net/xBVH13SC...,2021,"Pedro FriedebergSana distancia (Alpha), 2021CA...",CAM Galería,Price on request,06176,06,2022-04-20,2022-04-20

In [315]:
for link in df_cat_dat_total['link'].sample(5):
  print(link)

https://d32dm0rphc51dk.cloudfront.net/gKVTipOer_-fvaV51oVJOQ/large.jpg
https://d32dm0rphc51dk.cloudfront.net/C-1xFW3WOtoVlD6iYwq3ug/large.jpg
https://d32dm0rphc51dk.cloudfront.net/Taj1c2AwI-pXaDPMzuGk9w/large.jpg
https://d32dm0rphc51dk.cloudfront.net/XJA5yQWqlpdp4jttN1DFiA/large.jpg
https://d32dm0rphc51dk.cloudfront.net/8vnx4x-fjFl_E9-KE8Gykw/large.jpg

Count of unique artsy_id and link should be equal. But sometimes they're not (like in cat 03).

In [316]:
print(df_cat_dat_total['artsy_id'].nunique())
print(df_cat_dat_total['link'].nunique())

263
263

In [ ]:
# !!! links' problem solving !!!

In [ ]:
artsy_id_link = df_cat_dat_total[['artsy_id', 'link']]
artsy_id_link.drop_duplicates(subset = ['link', 'artsy_id'], keep = 'first', inplace = True)
artsy_id_link.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 138883 entries, 0 to 179744
Data columns (total 2 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   artsy_id  138883 non-null  object
 1   link      138883 non-null  object
dtypes: object(2)
memory usage: 3.2+ MB

In [ ]:
artsy_link_groupped = artsy_id_link.groupby(['artsy_id'])['link'].agg(['count']).reset_index()
links_prob_list = artsy_link_groupped.loc[artsy_link_groupped['count']>1]['artsy_id'].tolist()
len(links_prob_list)

1

In [ ]:
links_prob_list

['6247862634f6b2000b712474']

In [ ]:
id = links_prob_list[0]
df_cat_dat_total.loc[df_cat_dat_total['artsy_id']==id]

,artsy_id,name,link,year,artist,gallery,price,gene_id,category_id,parsing_date,updating_date
132903,6247862634f6b2000b712474,PORTRAIT STYLISÉ DE JACQUELINE (TÊTE DE FEMME)...,https://d32dm0rphc51dk.cloudfront.net/dIHPcpGC...,1962,Pablo PicassoPORTRAIT STYLISÉ DE JACQUELINE (T...,Robert Fontaine Gallery,Price on request,08052,08,2022-04-08,2022-04-08
162343,6247862634f6b2000b712474,PORTRAIT STYLISÉ DE JACQUELINE (TÊTE DE FEMME)...,https://d32dm0rphc51dk.cloudfront.net/3gxxZMXE...,1962,Pablo PicassoPORTRAIT STYLISÉ DE JACQUELINE (T...,Robert Fontaine Gallery,Price on request,08062,08,2022-04-08,2022-04-08

In [ ]:
for link in df_cat_dat_total.loc[df_cat_dat_total['artsy_id']==id]['link'].unique():
  print(link)

https://d32dm0rphc51dk.cloudfront.net/dIHPcpGCPw8QyU-YRGQRMA/large.jpg
https://d32dm0rphc51dk.cloudfront.net/3gxxZMXEYPjh8hhouRj9lQ/large.jpg

These pictures are the same but shots were done with different light. Replace the last one.

In [ ]:
df_cat_dat_total.at[162343, 'link'] = 'https://d32dm0rphc51dk.cloudfront.net/dIHPcpGCPw8QyU-YRGQRMA/large.jpg'

In [ ]:
print(df_cat_dat_total['artsy_id'].nunique())
print(df_cat_dat_total['link'].nunique())

138882
138882

In [ ]:
save_df_file(df_cat_dat_total, '/artsy_temp_data_08.csv', 'backup') # 4. Save df to csv file
#df_cat_dat_total = open_file_csv('/artsy_temp_data_05.csv', 'backup') # 3. Open file.csv

In [ ]:
# !!! links' problem solving !!!

### Artists

We need to create artist id for artworks dict. Artists seem to be ok.

In [ ]:
#df_cat_dat_total = open_file_csv('/artsy_temp_data_05.csv', 'backup') # 3. Open file.csv

In [317]:
print(df_cat_dat_total['artist'].dropna().nunique())
artists_list = sorted(df_cat_dat_total['artist'].dropna().unique().tolist())
print(len(artists_list))

261
261

In [318]:
artists_list[:10]

['Adam MartinakisLast Kiss, 2021HOFA Gallery (House of Fine Art)Price on request ',
 'Alejandra EspañaVer voces III, 2022CAM GaleríaUS$1,300 ',
 'Aleksandar PWomen, 2021HOFA Gallery (House of Fine Art)Sold ',
 'Alexandrin DamascanStation 1986, N/ADependent de Arta€1,206 ',
 'Alice QuaresmaGlorious Spell of Sobriety, 2022CASANOVAUS$1,000 ',
 'Amr AlngmahNFT Donkey Kong, 2021Al-Tiba9 Contemporary ArtUS$2,600 ',
 "Andree MartisCosmic Reflections, 2021De Mimi's GalleryUS$4,000–US$5,000 ",
 'Andrew FaulknerOutlier, 2022Pamela Walsh GalleryPrice on request ',
 'Anna CondoRed Flower, 2020Museum of Arts and Design Benefit AuctionBidding closed ',
 'Annibale SiconolfiThe Cycle, 2022Pellas GallerySold ']

In [319]:
artists_list[-10:]

['ZazuleteMNight, 2022Maggio Art Consultancy£1,000 ',
 'Zina Saro-WiwaSarogua Spirit - Akogbara (Oil Bean), 2022Montague ContemporaryPrice on request ',
 'Zina Saro-WiwaSarogua Spirit - Green Orange, 2022Montague ContemporaryPrice on request ',
 'Zina Saro-WiwaSarogua Spirit - Guinea Corn Leaf, 2022Montague ContemporaryPrice on request ',
 'Zina Saro-WiwaSarogua Spirit - Kpa Azii (Tree Bark), 2022Montague ContemporaryPrice on request ',
 'Zohar FraimanPorsche Divorce (NFT), 2021PRISKA PASQUERSold ',
 'ha:arImpossible Sculptures No. 24, 2021JD Malat GalleryPrice on request ',
 'ha:arImpossible Sculptures No. 25, 2022JD Malat GalleryPrice on request ',
 'ha:arImpossible Sculptures No. 27, 2022JD Malat GalleryPrice on request ',
 'mvhvmacrossing dimensions to fill the void (NFT), 2021TDC GalleryUS$7,000 ']

In [320]:
artists_list[(len(artists_list)//2):(len(artists_list)//2+10)]

['Glicia de Figueiredoinnermost, 2022CHEGAMOSUS$1,700 ',
 'Glicia de Figueiredojelly fish, 2022CHEGAMOSUS$1,700 ',
 'Gregory SiffGames of Youth & Legend, 2021HOFA Gallery (House of Fine Art)Price on request ',
 'Gretchen AndrewContemporary Art Auction Record (Growing), 2022GalloireSold ',
 'Gretchen AndrewContemporary Art Auction Record (Orange Butterfly Effect), 2022GalloireSold ',
 'JENISUGirls & Love #5, 2020TDC GallerySold ',
 'Jalal Mashhadi FardDuff Marilyn Monroe - NFT, 2021Al-Tiba9 Contemporary ArtUS$2,800 ',
 'Jan KalábBreathing Violet Void, 2021HOFA Gallery (House of Fine Art)Price on request ',
 'Jan KalábUntitled, 2021HOFA Gallery (House of Fine Art)Price on request ',
 'JarvinartPROLOGUE, 2022Pellas GallerySold ']

Not ok actually. If it become important, I'll do somthing with it. -> It became. Look 'artists name revision' block

In [ ]:
#decoding_table = (
#'\x00'     #  0x00 -> NULL
#'\x01'     #  0x01 -> START OF HEADING
#'\x02'     #  0x02 -> START OF TEXT
#'\x03'     #  0x03 -> END OF TEXT
#'\x04'     #  0x04 -> END OF TRANSMISSION
#'\x05'     #  0x05 -> ENQUIRY
#'\x06'     #  0x06 -> ACKNOWLEDGE
#'\x07'     #  0x07 -> BELL
#'\x08'     #  0x08 -> BACKSPACE
#'\t'       #  0x09 -> HORIZONTAL TABULATION
#'\n'       #  0x0A -> LINE FEED
#'\x0b'     #  0x0B -> VERTICAL TABULATION
#'\x0c'     #  0x0C -> FORM FEED
#'\r'       #  0x0D -> CARRIAGE RETURN
#'\x0e'     #  0x0E -> SHIFT OUT
#'\x0f'     #  0x0F -> SHIFT IN
#'\x10'     #  0x10 -> DATA LINK ESCAPE
#'\x11'     #  0x11 -> DE
#add the character code here
#'\u200b' #add this in the file and save it.

### Galleries

We also need to create gallery id for artworks dict.

In [ ]:
print(df_cat_dat_total['gallery'].nunique())
gallery_list = sorted(df_cat_dat_total['gallery'].dropna().unique().tolist())
print(len(gallery_list))

4104
4104

In [ ]:
gallery_list[:10]

[' "A Brush with Reality: Calligraphic Paintings by Lobsang Choephel" at Tibet House US, New York (2015)',
 ' "Disguise: Masks and Global African Art" at Seattle Art Museum, Seattle (2015)',
 '"2015 Wolfgang Hahn Prize: Michael Krebber and R. H. Quaytman" at Museum Ludwig, Cologne (2015)',
 '"21er Raum: Iman Issa - Material" at 21er Haus, Vienna',
 '"4 REAL & TRUE 2. Wim Wenders. Landscapes. Photographs." at Museum Kunstpalast, Düsseldorf (2015)',
 '"A Beautiful Lie – Eckersberg" at Statens Museum for Kunst, Copenhagen ',
 '"A New Dynasty – Created in China"  Venue: ARoS Aarhus Museum of Art, Aarhus ',
 '"Abstract/Object" at Art Institute of Chicago, Chicago',
 '"Accrochage 3: Pop & Music/Sound" at Fondation Louis Vuitton, Paris',
 '"Adventures of the Black Square: Abstract Art and Society 1915-2015" at Whitechapel Gallery, London (2015)']

In [ ]:
gallery_list[-10:]

['°CLAIRbyKahn Galerie',
 'ÆRENA Galleries and Gardens',
 'Österreichische Galerie Belvedere, Vienna',
 '“Clifford Ross: Landscape Seen & Imagined” at MASS MoCA, North Adams (2015)',
 '“Collectionism and Modernity. Two Case Studies: The Im Obersteg and Rudolf Staechelin Collections” at the Museo Reina Sofía, Madrid',
 '“Created by a Hand with but a Chisel Armed…” Sculpture in St Petersburg’s Palaces in the 19th Century at The State Hermitage Museum, 2016',
 '“L’image volée” at Fondazione Prada, Milan (2016)',
 '√K Contemporary',
 '首都藝術中心 Capital Art Center',
 '鳩ノ森美術 / HATONOMORI ART']

Seems like in some cases there's a exhibition name in a gellery name box. Let's try to divide them.

In [ ]:
exhib_list = []
gal_list = []

for g in gallery_list:
  try:
    gal = g.split(' at ')[-1]
    gal_list.append(gal)
    exhib_list.append(g.replace(' at ' + gal, ''))
  except:
    gal_list.append(g)

gal_list = sorted(list(set(gal_list)))
print(len(gal_list))
exhib_list = sorted(list(set(exhib_list)))
print(len(exhib_list))

5256
5360

In [ ]:
gal_list[:10]

[' Museum Ludwig, Cologne',
 '"A New Dynasty – Created in China"  Venue: ARoS Aarhus Museum of Art, Aarhus ',
 '"Anselm Kiefer"at Centre Pompidou, Paris',
 '"Barbie"at Musée des Arts Décoratifs, Paris',
 '"Chen Zhen: Without going to New York and Paris, life could be internationalized"  Venue: Rockbund Art Museum, Shanghai',
 '"Inhuman"at Fridericianum, Kassel, Germany',
 '"Joaquín Torres-García: The Arcadian Modern"at the Museum of Modern Art, New York',
 '"Landscapes of Belgium" Musée d\'Ixelles, Brussels (2015)',
 '"Philippe Parreno: Anywhere, Anywhere, Out Of The World", Palais de Tokyo, Paris (2013)',
 '"This Art is Your Art" Competition: The White House Historical Association, Artsy, and the Robert Rauschenberg Foundation']

The data is not clear and this info is not critical, leave it as it is, won't do gallery id.

### Artworks

In [ ]:
#df_cat_dat_total = open_file_csv('/artsy_temp_data_05.csv', 'backup') # 3. Open file.csv

In [ ]:
# Addition and Updating !!!!!!!!!!!!!
#df_cat_dat_total = open_file_csv('/artsy_temp_data_add.csv', 'backup') # 3. Open file.csv

In [ ]:
#df_cat_dat_total.columns

Index(['artsy_id', 'name', 'link', 'year', 'artist', 'gallery', 'price',
       'gene_id', 'category_id', 'parsing_date', 'updating_date'],
      dtype='object')

In [193]:
# Addition and Updating !!!!!!!!!!!!!
df_cat_dat_total.columns

Index(['artsy_id', 'name', 'link', 'year', 'artist', 'gallery', 'price',
       'gene_id', 'category_id', 'parsing_date', 'updating_date',
       'pages_count', 'second_page_link'],
      dtype='object')

For ***one to one connections***

In [321]:
one_to_one = df_cat_dat_total.groupby(['artsy_id', 'name', 'link', 'year', 'artist', 'gallery', 'price', 'parsing_date', 'updating_date'])['category_id'].agg(['count']).reset_index()
one_to_one.sample(5)

,artsy_id,name,link,year,artist,gallery,price,parsing_date,updating_date,count
159,62186dfbee6b52000b06e989,Bored Ape Yacht Club #7337,https://d32dm0rphc51dk.cloudfront.net/lziK8Ogd...,2021,"Yuga LabsBored Ape Yacht Club #7337, 2021Asia ...",Asia Art Center,On hold,2022-04-20,2022-04-20,1
28,608b41be45ae6a000f43d2a8,Cornælhuys 5/18 - Le Grand Nasal (NFT),https://d32dm0rphc51dk.cloudfront.net/Z_Zb6JIT...,2021,"JænCornælhuys 5/18 - Le Grand Nasal (NFT), 202...",TDC Gallery,Sold,2022-04-20,2022-04-20,1
94,6196a5241f1534000b8aec70,"Yellow Mandala (NFT) - figurative, pop art",https://d32dm0rphc51dk.cloudfront.net/_zOP3ivX...,2021,"Clairé HillsYellow Mandala (NFT) - figurative,...",Santiago Soares Gallery,"US$1,189",2022-04-20,2022-04-20,1
18,60898d944163ac0012d87f1c,Taste of Açaí,https://d32dm0rphc51dk.cloudfront.net/-dvkMZNp...,2021,"Marie SolimanTaste of Açaí , 2021HOFA Gallery ...",HOFA Gallery (House of Fine Art),Sold,2022-04-20,2022-04-20,1
190,622211aa1c9af3000c715e21,Workroom 02,https://d32dm0rphc51dk.cloudfront.net/nZ0p7RAi...,2021,"SosuksaWorkroom 02, 2021Fragmata GalleryUS$1,000",Fragmata Gallery,"US$1,000",2022-04-20,2022-04-20,1

In [322]:
print(df_cat_dat_total['artsy_id'].nunique())
print(one_to_one['artsy_id'].count())
print(one_to_one['artsy_id'].nunique())

263
257
257

In [323]:
print('artsy_id count must be', df_cat_dat_total['artsy_id'].nunique())
print('')
for col in ['name', 'link', 'year', 'artist', 'gallery', 'price', 'parsing_date', 'updating_date']:
  group_df = df_cat_dat_total.groupby(['artsy_id', col])['category_id'].agg(['count']).reset_index()
  print('by column', col)
  print('artsy_id count is', group_df['artsy_id'].count())
  print('artsy_id nunique is', group_df['artsy_id'].nunique())
  print('count and nunique is the same - ', group_df['artsy_id'].count()==group_df['artsy_id'].nunique())
  print(list(set(df_cat_dat_total['artsy_id'].unique()) - set(group_df['artsy_id'].unique())))
  print('')

artsy_id count must be 263

by column name
artsy_id count is 263
artsy_id nunique is 263
count and nunique is the same -  True
[]

by column link
artsy_id count is 263
artsy_id nunique is 263
count and nunique is the same -  True
[]

by column year
artsy_id count is 257
artsy_id nunique is 257
count and nunique is the same -  True
['6202a88dd3842f000e2bdeb1', '619572ad4c4986000c652224', '619572acb685c5000ceca694', '619572af9bb476000da5f24e', '619572a89bb476000da5f243', '619572aeec21a7000d2534fc']

by column artist
artsy_id count is 263
artsy_id nunique is 263
count and nunique is the same -  True
[]

by column gallery
artsy_id count is 263
artsy_id nunique is 263
count and nunique is the same -  True
[]

by column price
artsy_id count is 263
artsy_id nunique is 263
count and nunique is the same -  True
[]

by column parsing_date
artsy_id count is 263
artsy_id nunique is 263
count and nunique is the same -  True
[]

by column updating_date
artsy_id count is 263
artsy_id nunique is 263
count and nunique is the same -  True
[]

In [ ]:
df_cat_dat_total.loc[df_cat_dat_total['artsy_id'].isin(['5ade13f79c18db6586720662', '57e27e8a7622dd65fc000380', '57ee50cbcd530e65fa00003f'])]

,artsy_id,name,link,year,artist,gallery,price,gene_id,category_id,parsing_date,updating_date
27348,57ee50cbcd530e65fa00003f,"A Large White-ground Lekythos, Attributed to t...",https://d32dm0rphc51dk.cloudfront.net/91vHFCn1...,Attic-ca. 410 B.C.,"Unknown GreekA Large White-ground Lekythos, At...",NaN,,07012,07,2022-04-09,2022-04-09
27360,57e27e8a7622dd65fc000380,A Torso of an Athlete,https://d32dm0rphc51dk.cloudfront.net/rgHMZzri...,Late HellenisticRoman1st cent. B.C.,"Unknown GreekA Torso of an Athlete, Late Helle...",NaN,Sold,07012,07,2022-04-09,2022-04-09
28164,5ade13f79c18db6586720662,An Attic Bilingual Eye-cup,https://d32dm0rphc51dk.cloudfront.net/5qmgVLxc...,NaN,Unknown GreekAn Attic Bilingual Eye-cup,NaN,,07012,07,2022-04-09,2022-04-09

Due to NaNs in 'name' (sometimes), 'year' and 'gallery' we can loose ids. And we have problems with prices, sometimes in years and artists.

#### name

In [197]:
artsy_id_name = df_cat_dat_total[['artsy_id', 'name']]
artsy_id_name.drop_duplicates(subset = ['name', 'artsy_id'], keep = 'first', inplace = True)
id_name_g = artsy_id_name.groupby(['artsy_id'])['name'].agg(['count']).reset_index()

id_prob_name = id_name_g.loc[id_name_g['count']>1]['artsy_id'].tolist()
len(id_prob_name)

4

In [207]:
inx = 3
df_cat_dat_total.loc[df_cat_dat_total['artsy_id']==id_prob_name[inx]]

,artsy_id,name,link,year,artist,gallery,price,gene_id,category_id,parsing_date,updating_date,pages_count,second_page_link
1047,625f87aa633f55000bc648e8,Roast Iguana (from the Wild Raspberries portfo...,https://d7hftxdivxxvm.cloudfront.net?resize_to...,1959,Andy WarholRoast Iguana (from the Wild Raspber...,Rago/Wright/LAMA,Price on request,03204,03,2022-04-20,2022-04-20,100.0,https://www.artsy.net/gene/post-war-american-a...
5636,625f87aa633f55000bc648e8,Roast Iguana (Wild Raspberries),https://d7hftxdivxxvm.cloudfront.net?resize_to...,1959,"Andy WarholRoast Iguana (Wild Raspberries), 19...",Rago/Wright/LAMA,"$3,200",07008,07,2022-04-20,2022-04-20,100.0,https://www.artsy.net/gene/1940s-1950s?page=2&...

In [208]:
inx_list = df_cat_dat_total.loc[df_cat_dat_total['artsy_id']==id_prob_name[inx]].index.tolist()

name_list = df_cat_dat_total.loc[df_cat_dat_total['artsy_id']==id_prob_name[inx]]['name'].unique()
name_list

array(['Roast Iguana (from the Wild Raspberries portfolio)',
       'Roast Iguana (Wild Raspberries)'], dtype=object)

In [209]:
for i in inx_list:
  df_cat_dat_total.at[i, 'name'] = name_list[1]
  #df_cat_dat_total.at[i, 'name'] = 'Salade de Alf Landon'

#### price

In [210]:
artsy_id_price = df_cat_dat_total[['artsy_id', 'price']]
artsy_id_price.drop_duplicates(subset = ['price', 'artsy_id'], keep = 'first', inplace = True)
id_price_g = artsy_id_price.groupby(['artsy_id'])['price'].agg(['count']).reset_index()

id_prob_price = id_price_g.loc[id_price_g['count']>1]['artsy_id'].tolist()
len(id_prob_price)

56

In different genes mentioned price could be different. In most cases prices are very similar -> put the mode or one that in the interval. Sometims there isn't a mode or it's 'Price on request'. Put the maximum. We don't need history here.

In [211]:
inx = 0
df_cat_dat_total.loc[df_cat_dat_total['artsy_id']==id_prob_price[inx]]
#df_cat_dat_total.loc[df_cat_dat_total['artsy_id'].isin(id_prob_price)]

,artsy_id,name,link,year,artist,gallery,price,gene_id,category_id,parsing_date,updating_date,pages_count,second_page_link
285,625a412cfdea8d000e76fe31,Landslide,https://d7hftxdivxxvm.cloudfront.net?resize_to...,2022,"Kirsten Thys van den AudenaerdeLandslide, 2022...",Instantdreams,US$380–US$700,03056,03,2022-04-20,2022-04-20,100.0,https://www.artsy.net/gene/contemporary-art?pa...
471,625a412cfdea8d000e76fe31,Landslide,https://d7hftxdivxxvm.cloudfront.net?resize_to...,2022,"Kirsten Thys van den AudenaerdeLandslide, 2022...",Instantdreams,US$380–US$700,03087,03,2022-04-20,2022-04-20,100.0,https://www.artsy.net/gene/contemporary-portra...
1023,625a412cfdea8d000e76fe31,Landslide,https://d7hftxdivxxvm.cloudfront.net?resize_to...,2022,"Kirsten Thys van den AudenaerdeLandslide, 2022...",Instantdreams,US$380–US$700,03199,03,2022-04-20,2022-04-20,100.0,https://www.artsy.net/gene/pop-and-contemporar...
1208,625a412cfdea8d000e76fe31,Landslide,https://d7hftxdivxxvm.cloudfront.net?resize_to...,2022,"Kirsten Thys van den AudenaerdeLandslide, 2022...",Instantdreams,US$380–US$650,03248,03,2022-04-20,2022-04-20,100.0,https://www.artsy.net/gene/women-artists?page=...
1540,625a412cfdea8d000e76fe31,Landslide,https://d7hftxdivxxvm.cloudfront.net?resize_to...,2022,"Kirsten Thys van den AudenaerdeLandslide, 2022...",Instantdreams,US$380–US$650,02125,02,2022-04-20,2022-04-20,100.0,https://www.artsy.net/gene/nude?page=2&sort=-p...
1912,625a412cfdea8d000e76fe31,Landslide,https://d7hftxdivxxvm.cloudfront.net?resize_to...,2022,"Kirsten Thys van den AudenaerdeLandslide, 2022...",Instantdreams,US$380–US$650,06015,06,2022-04-20,2022-04-20,100.0,https://www.artsy.net/gene/black-and-white-pho...
2972,625a412cfdea8d000e76fe31,Landslide,https://d7hftxdivxxvm.cloudfront.net?resize_to...,2022,"Kirsten Thys van den AudenaerdeLandslide, 2022...",Instantdreams,US$380–US$650,06122,06,2022-04-20,2022-04-20,100.0,https://www.artsy.net/gene/photography?page=2&...
3243,625a412cfdea8d000e76fe31,Landslide,https://d7hftxdivxxvm.cloudfront.net?resize_to...,2022,"Kirsten Thys van den AudenaerdeLandslide, 2022...",Instantdreams,US$380–US$650,06155,06,2022-04-20,2022-04-20,100.0,https://www.artsy.net/gene/staged-photography?...
4011,625a412cfdea8d000e76fe31,Landslide,https://d7hftxdivxxvm.cloudfront.net?resize_to...,2022,"Kirsten Thys van den AudenaerdeLandslide, 2022...",Instantdreams,US$380–US$650,08009,08,2022-04-20,2022-04-20,100.0,https://www.artsy.net/gene/belgium?page=2&sort...

In [212]:
inx_list = df_cat_dat_total.loc[df_cat_dat_total['artsy_id']==id_prob_price[inx]].index.tolist()

price_list = df_cat_dat_total.loc[df_cat_dat_total['artsy_id']==id_prob_price[inx]]['price'].unique()
price_list

array(['US$380–US$700 ', 'US$380–US$650 '], dtype=object)

In [ ]:
for i in inx_list:
  df_cat_dat_total.at[i, 'price'] = price_list[1]

In [ ]:
# OR !!!!!!

In [214]:
for inx in id_prob_price:
  inx_list = df_cat_dat_total.loc[df_cat_dat_total['artsy_id']==inx].index.tolist()
  price_list = df_cat_dat_total.loc[df_cat_dat_total['artsy_id']==inx]['price'].unique()
  for i in inx_list:
    df_cat_dat_total.at[i, 'price'] = price_list[0]

In [ ]:
#for i in inx_list:
#  print(df_cat_dat_total['price'].iloc[[i]].index.values[0])

#### year

In [ ]:
artsy_id_year = df_cat_dat_total[['artsy_id', 'year']]
artsy_id_year.drop_duplicates(subset = ['year', 'artsy_id'], keep = 'first', inplace = True)
id_year_g = artsy_id_year.groupby(['artsy_id'])['year'].agg(['count']).reset_index()

id_prob_year = id_year_g.loc[id_year_g['count']>1]['artsy_id'].tolist()
len(id_prob_year)

0

In [ ]:
inx = 1
df_cat_dat_total.loc[df_cat_dat_total['artsy_id']==id_prob_year[inx]]

,artsy_id,name,link,year,artist,gallery,price,gene_id,category_id,parsing_date,updating_date
65426,6229f8fddf1d11000d69c4f4,Caballero I,https://d32dm0rphc51dk.cloudfront.net/KDZ7OhTx...,2015,"Manolo ValdésCaballero I, 2015Proyecto H€7,500...",Proyecto H,"€9,000–€11,000",06054,06,2022-04-06,2022-04-06
187793,6229f8fddf1d11000d69c4f4,Caballero I,https://d32dm0rphc51dk.cloudfront.net/KDZ7OhTx...,2006,"Manolo ValdésCaballero I, 2006Proyecto H€9,000...",Proyecto H,"€9,000–€11,000",06131,06,2022-04-06,2022-04-06

In [ ]:
df_cat_dat_total.loc[df_cat_dat_total['artsy_id']==id_prob_year[inx]]['year'].unique()

array(['2015', '2006'], dtype=object)

In [ ]:
df_cat_dat_total.at[65609, 'year'] = '2006'
df_cat_dat_total.at[65426, 'year'] = '2006'

#### gallery

In [ ]:
artsy_id_gallery = df_cat_dat_total[['artsy_id', 'gallery']]
artsy_id_gallery.drop_duplicates(subset = ['gallery', 'artsy_id'], keep = 'first', inplace = True)
id_gallery_g = artsy_id_gallery.groupby(['artsy_id'])['gallery'].agg(['count']).reset_index()

id_prob_gallery = id_gallery_g.loc[id_gallery_g['count']>1]['artsy_id'].tolist()
len(id_prob_gallery)

1

In [ ]:
inx = 0
df_cat_dat_total.loc[df_cat_dat_total['artsy_id']==id_prob_gallery[inx]]

,artsy_id,name,link,year,artist,gallery,price,gene_id,category_id,parsing_date,updating_date
22221,61e7987ef82abd000c0fb200,Salute (White) Artist Proof,https://d32dm0rphc51dk.cloudfront.net/wkoV4skP...,2021,"Shen Jingdong 沈敬东Salute (White) Artist Proof, ...",SimpleArte,US$700,08008,08,2022-04-08,2022-04-08
179437,61e7987ef82abd000c0fb200,Salute (White) Artist Proof,https://d32dm0rphc51dk.cloudfront.net/wkoV4skP...,2021,"Shen Jingdong 沈敬东Salute (White) Artist Proof, ...",iCare4U,US$700,08005,08,2022-04-18,2022-04-18

In [ ]:
inx_list = df_cat_dat_total.loc[df_cat_dat_total['artsy_id']==id_prob_gallery[inx]].index.tolist()

gallery_list = df_cat_dat_total.loc[df_cat_dat_total['artsy_id']==id_prob_gallery[inx]]['gallery'].unique()
gallery_list

array(['SimpleArte', 'iCare4U'], dtype=object)

In [ ]:
for i in inx_list:
  df_cat_dat_total.at[i, 'gallery'] = gallery_list[0]

#### artist

In [215]:
artsy_id_artist = df_cat_dat_total[['artsy_id', 'artist']]
artsy_id_artist.drop_duplicates(subset = ['artist', 'artsy_id'], keep = 'first', inplace = True)
id_artist_g = artsy_id_artist.groupby(['artsy_id'])['artist'].agg(['count']).reset_index()

id_prob_artist = id_artist_g.loc[id_artist_g['count']>1]['artsy_id'].tolist()
len(id_prob_artist)

56

In [ ]:
inx = 0
df_cat_dat_total.loc[df_cat_dat_total['artsy_id']==id_prob_artist[inx]]

,artsy_id,name,link,year,artist,gallery,price,gene_id,category_id,parsing_date,updating_date
5106,5c75c7b07f2e1f1daf553e74,Homage to the Square: Full (Rug),https://d32dm0rphc51dk.cloudfront.net/Y-veD8oj...,Current production based on 1962 work,"Josef AlbersHomage to the Square: Full (Rug), ...",Artware Editions,"US$1,250",13003,13,2022-04-09,2022-04-09
14367,5c75c7b07f2e1f1daf553e74,Homage to the Square: Full (Rug),https://d32dm0rphc51dk.cloudfront.net/Y-veD8oj...,Current production based on 1962 work,"Josef AlbersHomage to the Square: Full (Rug), ...",Artware Editions,"US$1,250",13005,13,2022-04-19,2022-04-19

In [ ]:
inx_list = df_cat_dat_total.loc[df_cat_dat_total['artsy_id']==id_prob_artist[inx]].index.tolist()

df_cat_dat_total.loc[df_cat_dat_total['artsy_id']==id_prob_artist[inx]]['artist'].unique()

array(['Josef AlbersHomage to the Square: Full (Rug), Current production based on 1962 workArtware EditionsSold ',
       'Josef AlbersHomage to the Square: Full (Rug), Current production based on 1962 workArtware EditionsUS$1,250 '],
      dtype=object)

In [ ]:
for i in inx_list:
  df_cat_dat_total.at[i, 'artist'] = 'Josef Albers'

In [ ]:
# OR !!!!!!!!!!!!!!!

In [216]:
for inx in id_prob_artist:
  inx_list = df_cat_dat_total.loc[df_cat_dat_total['artsy_id']==inx].index.tolist()
  artists_list = df_cat_dat_total.loc[df_cat_dat_total['artsy_id']==inx]['artist'].unique()
  for i in inx_list:
    df_cat_dat_total.at[i, 'artist'] = artists_list[0]

#### dates

In [ ]:
df_cat_dat_total['parsing_date'].max()

'2022-04-19'

In [ ]:
df_cat_dat_total['parsing_date'].min()

'2022-04-09'

In [ ]:
date = df_cat_dat_total['parsing_date'].unique().min()
df_cat_dat_total['parsing_date'] = date
df_cat_dat_total['updating_date'] = date

#### check

In [324]:
# 'name', - ???
one_to_one = df_cat_dat_total.groupby(['artsy_id', 'name', 'link', 'artist', 'price', 'parsing_date', 'updating_date'])['category_id'].agg(['count']).reset_index()

print(df_cat_dat_total['artsy_id'].nunique())
print(one_to_one['artsy_id'].count())
print(one_to_one['artsy_id'].nunique())

263
263
263

In [325]:
#save_df_file(df_cat_dat_total, '/artsy_temp_data_add.csv', 'backup') # 4. Save df to csv file
save_df_file(df_cat_dat_total, '/artsy_temp_data_new_gene.csv', 'backup') # 4. Save df to csv file

## Dict creating

In [326]:
#df_cat_dat_total = open_file_csv('/artsy_temp_data_11.csv', 'backup') # 3. Open file.csv
# '/artsy_temp_data_add.csv'

df_cat_dat_total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 263 entries, 0 to 262
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   artsy_id       263 non-null    object
 1   name           263 non-null    object
 2   link           263 non-null    object
 3   year           257 non-null    object
 4   artist         263 non-null    object
 5   gallery        263 non-null    object
 6   price          263 non-null    object
 7   gene_id        263 non-null    object
 8   category_id    263 non-null    object
 9   parsing_date   263 non-null    object
 10  updating_date  263 non-null    object
dtypes: object(11)
memory usage: 22.7+ KB

In [ ]:
#df_cat_dat_total['category_id'] = df_cat_dat_total['category_id'].dropna().apply(lambda x: str(x) if len(str(x))==cat_id_len else ('0'*(cat_id_len-len(str(x)))+str(x)))
#df_cat_dat_total['gene_id'] = df_cat_dat_total['gene_id'].dropna().apply(lambda x: str(x) if len(str(x))==gen_id_len else ('0'*(gen_id_len-len(str(x)))+str(x)))

In [327]:
df_cat_dat_total['category_id'].unique()

array(['06'], dtype=object)

### artworks_dict

#### initiation

In [ ]:
#artworks_dict = {'artsy_id': {'name': 'Portrait of a Man in Armour', 
#                              'link': 'https://d32dm0rphc51dk.cloudfront.net/yaB__0LXFvbXC4jiUK4Vpw/large.jpg', 
#                              'year': 'ca. 1560',
#                              'artist_id': '000000', # Jacopo Bassano
#                              -- 'gallery_id': '000000', # Robilant+Voena
#                              'price': 'Price on request',
#                              'gene_id': ['21603', ''],
#                              'category_id': ['03', '']}}

***One to one connections***

Let's create a dict from complete data.

In [328]:
# 'name' - ??? !!!
one_to_one = df_cat_dat_total.groupby(['artsy_id', 'name', 'link', 'artist', 'price', 'parsing_date', 'updating_date'])['category_id'].agg(['count']).reset_index().drop('count', axis=1)

check_id_list = one_to_one['artsy_id'].sample(10).tolist()

print(df_cat_dat_total['artsy_id'].nunique())
print(one_to_one['artsy_id'].count())
print(one_to_one['artsy_id'].nunique())

263
263
263

In [329]:
# Dict creation
artworks_dict = one_to_one.set_index('artsy_id').to_dict('index')
len(artworks_dict)

263

In [330]:
for id in check_id_list:
  print(artworks_dict[id])

{'name': 'La gente que canta y baila', 'link': 'https://d32dm0rphc51dk.cloudfront.net/29qaUsaaRjov5tv5L-cwng/large.jpg', 'artist': 'Daniel BermanLa gente que canta y baila, 2022CAM GaleríaUS$1,600 ', 'price': 'US$1,600 ', 'parsing_date': '2022-04-20', 'updating_date': '2022-04-20'}
{'name': "Driver's Seat", 'link': 'https://d32dm0rphc51dk.cloudfront.net/cNhBCQ4W2zHxEybNqxMGfg/large.jpg', 'artist': "Udi CassirerDriver's Seat, 2022Maggio Art ConsultancyUS$100 ", 'price': 'US$100 ', 'parsing_date': '2022-04-20', 'updating_date': '2022-04-20'}
{'name': 'QUEER BLOOD AMERICA (Black/Red)', 'link': 'https://d32dm0rphc51dk.cloudfront.net/XPhpK9xz2NayVzVkTLb0mw/large.jpg', 'artist': 'Jordan EaglesQUEER BLOOD AMERICA (Black/Red), 2021New DiscretionsPrice on request ', 'price': 'Price on request ', 'parsing_date': '2022-04-20', 'updating_date': '2022-04-20'}
{'name': 'Like Diamond (NFT) - photo, contemporary art, pop art', 'link': 'https://d32dm0rphc51dk.cloudfront.net/D7m3N7faQVKETy-UQ8YhVQ/large.jpg', 'artist': 'Clairé HillsLike Diamond (NFT) - photo, contemporary art, pop art, 2020Santiago Soares GalleryUS$12,563 ', 'price': 'US$12,563 ', 'parsing_date': '2022-04-20', 'updating_date': '2022-04-20'}
{'name': '14:30', 'link': 'https://d32dm0rphc51dk.cloudfront.net/-NPueWFF2kQPULiFDHGd5Q/large.jpg', 'artist': 'Oleksii Yevdokimov14:30, 2021Promotion GalleryUS$7 ', 'price': 'US$7 ', 'parsing_date': '2022-04-20', 'updating_date': '2022-04-20'}
{'name': 'Soft Body Dynamics 40', 'link': 'https://d32dm0rphc51dk.cloudfront.net/xJwzX8EeFAnqZdz_wPE8gg/large.jpg', 'artist': 'Vickie VainionpaaSoft Body Dynamics 40, 2021GR GallerySold ', 'price': 'Sold ', 'parsing_date': '2022-04-20', 'updating_date': '2022-04-20'}
{'name': 'XL Air #1', 'link': 'https://d32dm0rphc51dk.cloudfront.net/Z9dymW9fKvHQg1H3231BXw/large.jpg', 'artist': 'Pedro FriedebergXL Air #1, 2022CAM GaleríaUS$3,900 ', 'price': 'US$3,900 ', 'parsing_date': '2022-04-20', 'updating_date': '2022-04-20'}
{'name': 'Hold each other tight | NFT', 'link': 'https://d32dm0rphc51dk.cloudfront.net/5QshJoHWDSKP24ExL-BziA/large.jpg', 'artist': 'Nika QuteliaHold each other tight | NFT, 2022ArtUp - Street GallerySold ', 'price': 'Sold ', 'parsing_date': '2022-04-20', 'updating_date': '2022-04-20'}
{'name': '"B"', 'link': 'https://d32dm0rphc51dk.cloudfront.net/W7xGQB0VSsLTlgHcYvMh8w/large.jpg', 'artist': 'Elia Panori"B", 2022Almach Art GalleryUS$2,000 ', 'price': 'US$2,000 ', 'parsing_date': '2022-04-20', 'updating_date': '2022-04-20'}
{'name': 'V (NFT) - surreal, figurative, pop art', 'link': 'https://d32dm0rphc51dk.cloudfront.net/Is4LSUPusQAIw-N6HSlW_g/large.jpg', 'artist': 'Clairé HillsV (NFT) - surreal, figurative, pop art, 2019Santiago Soares GalleryUS$666 ', 'price': 'US$666 ', 'parsing_date': '2022-04-20', 'updating_date': '2022-04-20'}

#### expansion

In [ ]:
#artworks_dict = open_dict(artwork_dict)

Columns with NaNs:
- 'name' (not always), 'year', 'gallery'
- ***one to one connection***
- info is in the **df**

In [234]:
# one to one connection from df
def artwork_dict_expan_oto(df, main_dict, param):
  group_df = df.groupby(['artsy_id', param])['category_id'].agg(['count']).reset_index().drop('count', axis=1)
  group_dict = group_df.set_index('artsy_id').to_dict('index')

  for k in main_dict:
    if k in group_dict.keys():
      main_dict[k].update(group_dict[k])
    else:
      main_dict[k].update({param: ' '}) # !!!!

# one to many connection from df
def artwork_dict_expan_otm(df, main_dict, param):
  group_df = df.groupby(['artsy_id'])[param].apply(list).apply(set).apply(list).reset_index(name=param)
  group_dict = group_df.set_index('artsy_id').to_dict('index')

  for k in main_dict:
    if k in group_dict.keys():
      main_dict[k].update(group_dict[k])
    else:
      main_dict[k].update({param: [' ']}) # !!!!

In [331]:
# name - !!!!!!
#artwork_dict_expan_oto(df_cat_dat_total, artworks_dict, 'name')
# year
artwork_dict_expan_oto(df_cat_dat_total, artworks_dict, 'year')
# gallery
artwork_dict_expan_oto(df_cat_dat_total, artworks_dict, 'gallery')

In [332]:
for id in check_id_list:
  print('name:', artworks_dict[id]['name'], 'year:', artworks_dict[id]['year'], 'gallery:', artworks_dict[id]['gallery'])

name: La gente que canta y baila year: 2022 gallery: CAM Galería
name: Driver's Seat year: 2022 gallery: Maggio Art Consultancy
name: QUEER BLOOD AMERICA (Black/Red) year: 2021 gallery: New Discretions
name: Like Diamond (NFT) - photo, contemporary art, pop art year: 2020 gallery: Santiago Soares Gallery
name: 14:30 year: 2021 gallery: Promotion Gallery
name: Soft Body Dynamics 40 year: 2021 gallery: GR Gallery
name: XL Air #1 year: 2022 gallery: CAM Galería
name: Hold each other tight | NFT year: 2022 gallery: ArtUp - Street Gallery
name: "B" year: 2022 gallery: Almach Art Gallery
name: V (NFT) - surreal, figurative, pop art year: 2019 gallery: Santiago Soares Gallery

Columns with repeating values:
- 'gene_id', 'category_id'
- list type parametr - ***one to many connection***
- id info is in the **df**

In [333]:
# category_id
artwork_dict_expan_otm(df_cat_dat_total, artworks_dict, 'category_id')
# gene_id
artwork_dict_expan_otm(df_cat_dat_total, artworks_dict, 'gene_id')

In [334]:
for id in check_id_list:
  print('category_id:', artworks_dict[id]['category_id'], 'gene_id:', artworks_dict[id]['gene_id'])

category_id: ['06'] gene_id: ['06176']
category_id: ['06'] gene_id: ['06176']
category_id: ['06'] gene_id: ['06176']
category_id: ['06'] gene_id: ['06176']
category_id: ['06'] gene_id: ['06176']
category_id: ['06'] gene_id: ['06176']
category_id: ['06'] gene_id: ['06176']
category_id: ['06'] gene_id: ['06176']
category_id: ['06'] gene_id: ['06176']
category_id: ['06'] gene_id: ['06176']

In [335]:
#save_dict(artworks_dict, '/artsy_genom_artwork_dict_add.txt', 'backup') # 1. Save json dict
save_dict(artworks_dict, '/artsy_genom_artwork_dict_new_gene.txt', 'backup') # 1. Save json dict

#### artists name revision

In [336]:
#artworks_dict = open_dict(artwork_dict, 'live')
#print(len(artworks_dict))

In [337]:
filtered_dict = {k: v for k, v in artworks_dict.items() if k == check_id_list[0]} # v['artist_id'] == '00047'
filtered_dict

{'62190e6f3deebf000b70506d': {'artist': 'Daniel BermanLa gente que canta y baila, 2022CAM GaleríaUS$1,600 ',
  'category_id': ['06'],
  'gallery': 'CAM Galería',
  'gene_id': ['06176'],
  'link': 'https://d32dm0rphc51dk.cloudfront.net/29qaUsaaRjov5tv5L-cwng/large.jpg',
  'name': 'La gente que canta y baila',
  'parsing_date': '2022-04-20',
  'price': 'US$1,600 ',
  'updating_date': '2022-04-20',
  'year': '2022'}}

In [338]:
# Old data
artists_name_list_old = [v['artist'] for v in artworks_dict.values()]

artists_name_list_old_ = list(set(artists_name_list_old))
print(len(artists_name_list_old_))

261

In [339]:
sample(artists_name_list_old, 10)

['Charlie SteinSentient Bag (NFT), 2021PRISKA PASQUERUnder €1,000 ',
 'Margret EicherShining Boys , 2021Galerie Michael JanssenUnder €1,000 ',
 'GMUNKEthero Stratos, 2022Pellas GalleryUS$12,500 ',
 'Udi CassirerView 11 (NFT) Digital Artwork 1998., 2021Maggio Art Consultancy£2,400 ',
 'Zairan YuPilgrim, 2022Sun Art Space GalleryUS$300 ',
 'Celia PattaciniFables of Eva - With love, Eva, 2021CHEGAMOSUS$4,000 ',
 'Larva LabsCryptoPunk #4285, 2017Asia Art CenterPrice on request ',
 'Marco Aurelio ReyGentileza (NFT), 2021Abba GalleryUS$300–US$500 ',
 'Pedro FriedebergSana distancia (Alpha), 2021CAM GaleríaPrice on request ',
 'The WeekndArtifact 001, 2021Plastic GalleryUS$1,000 ']

In [340]:
for v in artworks_dict.values():
  v.update({'artist': v['artist'].replace(v['name'], '') if v['name']!=' ' else v['artist']})
  v.update({'artist': v['artist'].replace(v['year'], '') if v['year']!=' ' else v['artist']})
  v.update({'artist': v['artist'].replace(v['gallery'], '') if v['gallery']!=' ' else v['artist']})
  v.update({'artist': v['artist'].replace(v['price'], '') if v['price']!=' ' else v['artist']})
  v.update({'artist': 'Unknown' if len(v['artist'])==0 else v['artist']})
  v.update({'artist': v['artist'].strip(u'\u200b')})
  v.update({'artist': re.sub(r'\xa0|\n|\t', ' ', v['artist'])})
  v.update({'artist': v['artist'].strip()})
  v.update({'artist': v['artist'][:-1] if v['artist'][-1:]==',' else v['artist']})
  try:
    v.update({'artist': v['artist'][1:] if v['artist'][0]==',' else v['artist']})
  except:
    pass
  v.update({'artist': v['artist'].strip()})
  v.update({'artist': 'Unknown' if len(v['artist'])==0 else v['artist']})

In [341]:
filtered_dict = {k: v for k, v in artworks_dict.items() if k == check_id_list[0]} # v['artist_id'] == '00047'
filtered_dict

{'62190e6f3deebf000b70506d': {'artist': 'Daniel Berman',
  'category_id': ['06'],
  'gallery': 'CAM Galería',
  'gene_id': ['06176'],
  'link': 'https://d32dm0rphc51dk.cloudfront.net/29qaUsaaRjov5tv5L-cwng/large.jpg',
  'name': 'La gente que canta y baila',
  'parsing_date': '2022-04-20',
  'price': 'US$1,600 ',
  'updating_date': '2022-04-20',
  'year': '2022'}}

In [342]:
# New data
artists_name_list_new = [v['artist'] for v in artworks_dict.values()]

artists_name_list_new_ = list(set(artists_name_list_new))
print(len(artists_name_list_new_))

114

In [343]:
sample(artists_name_list_new, 10)

['Clairé Hills',
 'Cinello',
 'Clairé Hills',
 'Larva Labs',
 'Rabee Baghshani',
 'Sin Bin',
 'Christoph Brandl',
 'BIIMO',
 'Pedro Friedeberg',
 'Eric Blanc']

In [344]:
artists_name_list_diff_1 = list(set(artists_name_list_old_) - set(artists_name_list_new_))
len(artists_name_list_diff_1)

261

In [345]:
sample(artists_name_list_diff_1, 10)

['Larva LabsMeebit #18516, 2021HOFA Gallery (House of Fine Art)Sold ',
 'Clairé HillsGreen Halloween (NFT) - figurative, pop art, 2020Santiago Soares GalleryUS$2,365 ',
 'JænCornælhuys 5/18 - Le Grand Nasal (NFT), 2021TDC GallerySold ',
 'Skye NicolasNFT I NEED YOU NOW LIKE I NEED YOU THEN, 2022PRISKA PASQUERPrice on request ',
 'Christoph BrandlNo Show, 2022Maggio Art ConsultancyUS$155 ',
 'BIIMONefertiti | NFT, 2021ArtUp - Street GallerySold ',
 'Clairé HillsClairé Dolls - Purpure - (NFT) - surreal, figurative, pop art, 2019Santiago Soares GalleryUS$999 ',
 'BIIMOFEED ME #5 | NFT, 2021ArtUp - Street GalleryUS$200 ',
 'Eduardo Marizpós-oceano 1 b, 2022CHEGAMOSUS$4,000 ',
 'Romina RessiaPop-Corn Pixel, 2021HOFA Gallery (House of Fine Art)Price on request ']

In [346]:
artists_name_list_diff_2 = list(set(artists_name_list_new_) - set(artists_name_list_old_))
len(artists_name_list_diff_2)

114

In [347]:
sample(artists_name_list_diff_2, 10)

['Nicolas Guzman',
 'Tako Kopaliani',
 'Forwart',
 'Stefanie Schneider',
 'Christopher Lizarraga',
 'Marco Aurelio Rey',
 'BIIMO',
 'Katya Zvereva',
 'Jalal Mashhadi Fard',
 'Mary Ronayne']

In [348]:
not_title_name = []
for n in artists_name_list_new:
  if n[0].isupper()==False and n[0].isdigit()==False: # n.istitle() doesn't work correctly
    not_title_name.append(n)
not_title_name = [n for n in not_title_name if n != 'unknown']
not_title_name = list(set(not_title_name))
len(not_title_name)

2

In [349]:
sample(not_title_name, 2) # 10

['mvhvma', 'ha:ar']

In [ ]:
# !!!!!!!!!

In [ ]:
not_title_name

['gerrit rietveldt',
 ':mentalKLINIK',
 'gt2P',
 'david/nicolas',
 'bahraini—danish',
 'chmara.rosinke',
 'nendo',
 'antoine phillippon',
 'wells coates',
 'nendo,',
 'elias sequra pasquale',
 '&Tradition',
 'morito ebine',
 'touche—touche']

In [ ]:
n = not_title_name[11]
n
# ', Florence'
# ', Venice'
# 'nendo,'

'&Tradition'

In [ ]:
for l in n:
  print(l, l==',')
print(n[-1]==',') # 0

n False
e False
n False
d False
o False
, True
True

In [ ]:
filtered_dict = {k: v for k, v in artworks_dict.items() if v['artist']=='&Tradition'}
len(filtered_dict)

3

In [ ]:
filtered_dict

{'5fe1f9d309672600114e2bfa': {'artist': '&Tradition',
  'category_id': ['12'],
  'gallery': 'THEFOURTH',
  'gene_id': ['12020', '12025'],
  'link': 'https://d32dm0rphc51dk.cloudfront.net/sra72EpyMQR11YmeYACbfw/large.jpg',
  'name': 'Lato LN9 Table ',
  'parsing_date': '2022-04-19',
  'price': '€860 ',
  'updating_date': '2022-04-19',
  'year': '2010'},
 '5fe1fd20dca897001014a1eb': {'artist': '&Tradition',
  'category_id': ['12'],
  'gallery': 'THEFOURTH',
  'gene_id': ['12004'],
  'link': 'https://d32dm0rphc51dk.cloudfront.net/pZp33YMFbCaZphlb7ptG6A/large.jpg',
  'name': 'Flowerpot VP7 Pendant ',
  'parsing_date': '2022-04-19',
  'price': '€670 ',
  'updating_date': '2022-04-19',
  'year': '1968'},
 '5fe302deb114a000129e5495': {'artist': '&Tradition',
  'category_id': ['12'],
  'gallery': 'THEFOURTH',
  'gene_id': ['12020', '12025'],
  'link': 'https://d32dm0rphc51dk.cloudfront.net/qAcfIoVZ_l6CybIGW-mzQw/large.jpg',
  'name': 'Shuffle Table ',
  'parsing_date': '2022-04-19',
  'price': 'Sold ',
  'updating_date': '2022-04-19',
  'year': '2010'}}

In [ ]:
filtered_dict = {k: v for k, v in artworks_dict.items() if v['artist']=='nendo,'}
len(filtered_dict)

1

In [ ]:
filtered_dict

{'59f065077622dd4d9e4b6418': {'artist': 'nendo,',
  'category_id': ['12'],
  'gallery': 'Sèvres Porcelain Manufactory',
  'gene_id': ['12013', '12008', '12025'],
  'link': 'https://d32dm0rphc51dk.cloudfront.net/UiOTOwq7gJ5PGDfQYRLwjA/large.jpg',
  'name': 'Hasu',
  'parsing_date': '2022-04-19',
  'price': 'Price on request ',
  'updating_date': '2022-04-19',
  'year': '2017'}}

In [ ]:
for k in filtered_dict.keys():
  print(k)

59f065077622dd4d9e4b6418

In [ ]:
artworks_dict['59f065077622dd4d9e4b6418'].update({'artist': 'nendo'}) # Unknown
artworks_dict['59f065077622dd4d9e4b6418']

{'artist': 'nendo',
 'category_id': ['12'],
 'gallery': 'Sèvres Porcelain Manufactory',
 'gene_id': ['12013', '12008', '12025'],
 'link': 'https://d32dm0rphc51dk.cloudfront.net/UiOTOwq7gJ5PGDfQYRLwjA/large.jpg',
 'name': 'Hasu',
 'parsing_date': '2022-04-19',
 'price': 'Price on request ',
 'updating_date': '2022-04-19',
 'year': '2017'}

In [ ]:
# !!!!!!!!!!!!!

In [350]:
real_not_title_name = {}
for n in not_title_name:
  filt_dict_1 = {k: v for k, v in artworks_dict.items() if v['artist'] == n}
  new_n_list = list(set([v['name'] + v['artist'] for v in filt_dict_1.values()]))
  for n_n in new_n_list:
    filt_dict_2 = {k: v for k, v in artworks_dict.items() if v['artist'] == n_n}
    if len(filt_dict_2)>0:
      real_not_title_name.update({n: n_n})

print(len(real_not_title_name))

0

In [ ]:
# !!!!!!!!!!!!!!

In [ ]:
real_not_title_name
# 'n and William Ladd' must be 'Steven and William Ladd' (name: Steve)
# 'horsten Kirchhoff' must be 'Thorsten Kirchhoff' (name: T)

{'n and William Ladd': 'Steven and William Ladd'}

In [ ]:
filtered_dict = {k: v for k, v in artworks_dict.items() if v['artist'] in real_not_title_name.keys()}
filtered_dict

{'56296c0a726169642d000160': {'artist': 'n and William Ladd',
  'category_id': ['10'],
  'gallery': 'Saint Louis Art Museum',
  'gene_id': ['10005'],
  'link': 'https://d32dm0rphc51dk.cloudfront.net/ywNOVSVs7bot7KElvh_TBw/large.jpg',
  'name': 'Steve',
  'parsing_date': '2022-04-19',
  'price': ' ',
  'updating_date': '2022-04-19',
  'year': '2014'},
 '564b5bf04b848064aa0000e8': {'artist': 'n and William Ladd',
  'category_id': ['10'],
  'gallery': 'Mingei International Museum',
  'gene_id': ['10005'],
  'link': 'https://d32dm0rphc51dk.cloudfront.net/awaOMMtcpWF8vgt_3MKpMA/large.jpg',
  'name': 'Steve',
  'parsing_date': '2022-04-19',
  'price': ' ',
  'updating_date': '2022-04-19',
  'year': '2012'}}

In [ ]:
for v in artworks_dict.values():
  if v['artist'] in real_not_title_name.keys():
    v.update({'artist': real_not_title_name[v['artist']]})
    v.update({'name': 'Untitled'})

In [ ]:
for id in filtered_dict.keys():
  print(artworks_dict[id])

{'name': 'Untitled', 'link': 'https://d32dm0rphc51dk.cloudfront.net/ywNOVSVs7bot7KElvh_TBw/large.jpg', 'artist': 'Steven and William Ladd', 'price': ' ', 'parsing_date': '2022-04-19', 'updating_date': '2022-04-19', 'year': '2014', 'gallery': 'Saint Louis Art Museum', 'category_id': ['10'], 'gene_id': ['10005']}
{'name': 'Untitled', 'link': 'https://d32dm0rphc51dk.cloudfront.net/awaOMMtcpWF8vgt_3MKpMA/large.jpg', 'artist': 'Steven and William Ladd', 'price': ' ', 'parsing_date': '2022-04-19', 'updating_date': '2022-04-19', 'year': '2012', 'gallery': 'Mingei International Museum', 'category_id': ['10'], 'gene_id': ['10005']}

In [ ]:
# !!!!!!!!!!!!!

In [351]:
for v in artworks_dict.values():
  v.update({'artist': v['artist'].title()}) # bad for not names

In [352]:
# New data
artists_name_list_new = [v['artist'] for v in artworks_dict.values()]

artists_name_list_new_ = list(set(artists_name_list_new))
print(len(artists_name_list_new_))

114

In [353]:
sample(artists_name_list_new_, 10)

['Marie Soliman',
 'Mary Ronayne',
 'Kim Mccarty',
 'Gregory Siff',
 'David Wiener',
 'Bored Ape Yacht Club',
 'Shiran Alec Sooriya-Arachchi',
 'Edward Rilke',
 'Jon Burgerman',
 'Archan Nair']

In [354]:
#save_dict(artworks_dict, artwork_dict, 'live') # 1. Save json dict
#save_dict(artworks_dict, '/artsy_genom_artwork_dict_add.txt', 'backup') # 1. Save json dict
save_dict(artworks_dict, '/artsy_genom_artwork_dict_new_gene.txt', 'backup') # 1. Save json dict

### artists_dict

#### initiation
!!! only first time

In [ ]:
#artists_dict = {'000000': {'name': 'Jacopo Bassano', 
#                           'artwork_id: ['000000', ''], # Portrait of a Man in Armour
#                           -- 'gallery_id': ['000000', ''], # Robilant+Voena
#                           'gene_id': ['21603', ''],
#                           'category_id': ['03', '']}}

In [ ]:
artworks_dict = open_dict(artwork_dict, 'live')
print(len(artworks_dict))

8094

In [ ]:
artists_name_list = list(set([v['artist'] for v in artworks_dict.values()]))
print(len(artists_name_list))

1176

In [ ]:
# artist_id creation
at_id_len = len(str(len(artists_name_list)))
at_id_list = []
c = 1
for a in artists_name_list:
  id = '0'*(at_id_len-len(str(c)))+str(c)
  at_id_list.append(id)
  c += 1

print(len(at_id_list))
print(len(artists_name_list))

1176
1176

***One to one connection***

In [ ]:
# Dict creation
artists_dict = pd.DataFrame({'id': at_id_list, 'name': artists_name_list}).set_index('id').to_dict('index')
len(artists_dict)

1176

In [ ]:
artists_dict_samp = {k: v for k, v in artists_dict.items() if v['name'] == 'R.C. Gorman'}
artists_dict_samp

{'0468': {'name': 'R.C. Gorman'}}

##### add 'artist_id'  in artworks_dict

In [ ]:
keys_list = list(artists_dict.keys())
values_list = [v['name'] for v in artists_dict.values()]

for value in artworks_dict.values():
  if value['artist'] in values_list:
    value.update({'artist_id': keys_list[values_list.index(value['artist'])]})
  else:
    value.update({'artist_id': ' '})

In [ ]:
artworks_dict['623f201d30b258000cc3053a']

{'artist': 'Tuukka Tammisaari',
 'artist_id': '33527',
 'category_id': ['03'],
 'gallery': 'Kristof De Clercq',
 'gene_id': ['03056', '03013', '03090'],
 'link': 'https://d32dm0rphc51dk.cloudfront.net/hrEVTH4ekjqm_iKE1HStzg/large.jpg',
 'name': 'Untitled',
 'parsing_date': '2022-04-01',
 'price': '€6,600 ',
 'updating_date': '2022-04-01',
 'year': '2021'}

In [ ]:
artists_dict['33527']

{'name': 'Tuukka Tammisaari'}

In [ ]:
# Replacing
#artworks_dict = {k: artworks_dict[k] for k in artworks_dict.keys() - {'artist'}}
#artworks_dict['623f201d30b258000cc3053a']

In [ ]:
save_dict(artworks_dict, artwork_dict, 'live') # 1. Save json dict

#### expansion
!!! only first time

with 'artwork_id', 'gene_id' and 'category_id'
- ***one to many connection***
- id info is in the artists_dict

In [ ]:
# category_id
cat = df_cat_dat_total['category_id'].unique().tolist()

#artists_dict = {k: v.update({'category_id': [cat[0]]}) for k, v in artists_dict.items()}
for k in artists_dict:
  artists_dict[k].update({'category_id': [cat[0]]})

In [ ]:
# one to many connection from df
def artist_dict_expan_otm(param):
  group_df = df_cat_dat_total.groupby(['artist'])[param].apply(list).apply(set).apply(list).reset_index(name=param)
  group_dict = group_df.set_index('artist').to_dict('index')

  for k, v in artists_dict.items():
    if v['name'] in group_dict.keys():
      artists_dict[k].update(group_dict[v['name']])
    else:
      artists_dict[k].update({param: [' ']})

In [ ]:
# gene_id
artist_dict_expan_otm('gene_id')

In [ ]:
# artsy_id
artist_dict_expan_otm('artsy_id')

In [ ]:
artists_dict_samp = {k: v for k, v in artists_dict.items() if v['name'] == 'Jacopo Bassano'}
artists_dict_samp

In [ ]:
save_dict(artists_dict, artist_dict, 'live') # 1. Save json dict

##### correction - not regular action

In [ ]:
#artworks_dict = open_dict(artwork_dict, 'live')
#print(len(artworks_dict))
# 215336

215336

In [ ]:
def artist_dict_expan(param):
  param_dict = {}
  for v in artworks_dict.values():
    if v['artist_id'] not in param_dict.keys():
      param_dict.update({v['artist_id']: v[param]})
    else:
      v_new = list(set(param_dict[v['artist_id']] + v[param]))
      param_dict.update({v['artist_id']: v_new})
  print(len(param_dict))

  for k in artists_dict:
    if k in param_dict.keys():
      artists_dict[k].update({param: param_dict[k]})
    else:
      artists_dict[k].update({param: ' '})
  print(len(artists_dict))

In [ ]:
artist_dict_expan('category_id')
artist_dict_expan('gene_id')

36975
36975
36975
36975

In [ ]:
#'artsy_id'

artsy_id_dict = {}
for k, v in artworks_dict.items():
  if v['artist_id'] not in artsy_id_dict.keys():
    artsy_id_dict.update({v['artist_id']: [k]})
  else:
    v_new = list(set(artsy_id_dict[v['artist_id']] + [k]))
    artsy_id_dict.update({v['artist_id']: v_new})
print(len(artsy_id_dict))

for key in artists_dict:
  if key in artsy_id_dict.keys():
    artists_dict[key].update({'artsy_id': artsy_id_dict[key]})
  else:
    artists_dict[key].update({'artsy_id': ' '})
print(len(artists_dict))

36975
36975

In [ ]:
artists_dict['33527']

{'artsy_id': ['5cfb7cb33741d9000f585a5e',
  '5dab31b68291a100122e8426',
  '5dab3142ff80ed000d869223',
  '5de11d7934dce00012f2186e',
  '5e26bfeee2b26b000dd2d623',
  '6056178c0d266100129a121b',
  '5de0f3458d9e2a00127034f0',
  '623f217a6d2c31000b9603b4',
  '604ca1dfb66fe900111318de',
  '5de140b78d19ce0012ce2e2b',
  '623f2108b8401b000c745e13',
  '623f201d30b258000cc3053a',
  '5de14c1b7fe05700136f442e',
  '5dab33258110c4000e2bf1ab',
  '5b3cd2cf139b21230e9f297b',
  '5dab308fb8e1a20011c39112',
  '5de11db47b22d6001202a6df',
  '5de1274647800700116a0973',
  '5de126b190b4bf0012548c16',
  '5de11e017b22d6001202a6f2',
  '5cfb7e2ed989710012310932',
  '5de1410a8533dd000ed36e8f',
  '60560b53bb73b30011a8b3f6',
  '5de13f1d8533dd00120eeede',
  '5de127ab34dce0000e3ca625',
  '5de12731f574de000d808f01',
  '623f22356eee8f000db6c352',
  '5de14bea7fe057000f189094',
  '5de14bc042f3b30012089d16',
  '5de0fd0456a016000e1f3a8a',
  '5dab341eea2ef7000f6a01dc',
  '623f20555f2256000dc92b3a',
  '5dab3278301916000e790690',
  '60560dabe684c30011842ccf',
  '5de127652545cd0012f04ac5',
  '5cfb82e2d98971000e4887cc',
  '5de1270647800700116a0960',
  '623f2213286f23000cb7bb9b',
  '623f21e4c657db000e609f5d',
  '5de0e8505a1c75000ea7a6d1',
  '5dab30cbea2ef7000f6a012d',
  '5dab303dff80ed000d8691e3',
  '5de0f7a334dce0000e3c9c1d',
  '60560bd295cbe40011f956b2',
  '5de11c1c5bedd6000e8dd7a0',
  '623f203c758d10000e840584',
  '5de0fbf7fe8fbe000d7e091b',
  '604ca0de9e96b200127e56f6',
  '5de1509c2545cd0012f054b3',
  '5de126c592a7bb000da38f5a'],
 'category_id': ['02', '03', '06'],
 'gene_id': ['03056',
  '02161',
  '02073',
  '06105',
  '03117',
  '03090',
  '06116',
  '02173',
  '03013'],
 'name': 'Tuukka Tammisaari'}

In [ ]:
len(artists_dict['33527']['artsy_id'])

50

In [ ]:
filtered_dict = {k: v for k, v in artworks_dict.items() if v['artist_id'] == '33527'}
len(filtered_dict)

50

In [ ]:
save_dict(artists_dict, artist_dict, 'live') # 1. Save json dict

#### addition

In [355]:
#artworks_dict = open_dict('/artsy_genom_artwork_dict_cat08.txt', 'backup')
print(len(artworks_dict))

263

In [356]:
artists_dict = open_dict(artist_dict, 'live')
len(artists_dict)

46708

In [357]:
artists_samp = sample(list(artists_dict.keys()), 3)
for id in artists_samp:
  print(artists_dict[id])

{'name': 'Vincent Valdez', 'category_id': ['06', '07'], 'gene_id': ['06128', '06131', '07010'], 'artsy_id': ['60149256c0bd7f0011981283', '601492562cdda20011fddcad', '5efb5d90c90c92000e4fc589']}
{'name': 'Darrel Ellis', 'category_id': ['06'], 'gene_id': ['06159'], 'artsy_id': ['5f451f6efafba60012875def']}
{'name': 'Alexander Rodchenko', 'category_id': ['01', '06', '03', '07', '02', '08', '13', '05', '04'], 'gene_id': ['05036', '01004', '02050', '02211', '03162', '03161', '02030', '03052', '08054', '05035', '02028', '02212', '02089', '07007', '04020', '02058', '02210', '02209', '06150', '06167', '02134', '02145', '04001', '02146', '02062', '05057', '13006', '05054', '05028', '06015', '05020'], 'artsy_id': ['58d931fb7622dd4d4de2dd05', '574eb2bd139b2152c0000a21', '5be98f048f6c3d18e11bd16f', '5be998e379966d002904297d', '5a2140377622dd4fc6e78350', '5b869c67d3d8d0002b53db9b', '5be05139432ce0002c4541fc', '594004668b3b816379d13a82', '5ce7343ab8ca7800127a13a7', '5be98d33bdc24e4ce662bc73', '5ab13a099c18db45fd55ed6c', '5d5bae210e3d95000e6ebe58', '5ac4c1bbc9dc2452a47fa054', '5beaf72c42a0f300280c255a', '574eb2c09c18db5ee6000a2b', '5b869f28c3d63a77273757e4', '5d5bae25faa8d00011d1c464', '5beaf7ba756f9b1ddcfeb44d', '58d007807622dd4cba5d817c', '56bb82d7b8bad466f7000098', '5ea046d94f7a38000ef165b0', '5be98ca2023c1728e18fdfba', '50800dfde0f1860002000123', '5d5bae2c36f71d000f6504cf', '5b869c79e429f528492d927d', '5be1b549c875ba028b7d598b', '59b853602a893a20d173310e', '5836262fa09a671da400039f', '5be04ed9be75f6768ee6f378', '5ab149459c18db45fd55f660', '5c50706febe2d81445fbd866', '58d00781a09a673a9f3e52eb', '5be99b3cbdc24e6d7774580b', '5aa170e57622dd5062d3df2b', '5be992aaa4685864f6a72c1b', '5b869c8d4420be4f32cf3943', '5b869f3d4420be60e330392c', '5beaf48485d20522c1cf0434', '5af597bf9c18db3a36cdaca5', '59bc046ab202a34d7cfe1ed6', '5baf6f813a91f31bcaf1030a', '5be98e73accc324cab257138', '5be459e0048ef34e2e4d6364', '5beaf6aa594ff173e1efddcb', '5d5bae4136f71d00134aa192', '542c54e87261692d3a330300', '5be9898ef2d3414eb3e04743', '5be98f9aec15ad75bb3e2607', '5cb8f52ccd721430e9d56e04', '5cffa7d9e70e8400129ce685', '5b230836275b241cf2711ac2', '574eb2b5139b2152c0000a17', '5ab139f8a09a6729c688de50', '5be459df08159d002835565b', '542c54e872616925c2d40700', '5c083668757e335cae9f14cd', '54e790677261692b98c30500', '5a904509a09a67123103da3d', '5be9972ff2d3417211bebaf7', '5be996c099ecda002968f4b0', '5be1b4cfe1062f0027ac1ec4', '5be04f3c7ffd417f65ff085c', '5940045ca09a674d71710c15', '5d83902a4cfb31000e7fe2bb', '5be997d8504b41026b24bbf7', '5baf6ea0e5a5ee0ee32f77a7', '5d5bae2413a5da000ecfa6d8', '58d9352ccd530e4d4c187e85']}

In [ ]:
artists_dict_samp = {k: v for k, v in artists_dict.items() if v['name'] == 'Moisès Villèlia'}
artists_dict_samp

{'01617': {'artsy_id': ['5f89e66b3dad4b00145cf188',
   '5f919d6a45d834001538c3bb'],
  'category_id': ['06', '05'],
  'gene_id': ['05015', '05007', '06054', '06012'],
  'name': 'Moisès Villèlia'}}

In [261]:
def artist_dict_add(param):
  param_dict = {}

  if param == 'artsy_id':
    for k, v in artworks_dict.items():
      if v['artist'] not in param_dict.keys():
        param_dict.update({v['artist']: [k]})
      else:
        v_new = list(set(param_dict[v['artist']] + [k]))
        param_dict.update({v['artist']: v_new})
  
  else:
    for v in artworks_dict.values():
      if v['artist'] not in param_dict.keys():
        param_dict.update({v['artist']: v[param]})
      else:
        v_new = list(set(param_dict[v['artist']] + v[param]))
        param_dict.update({v['artist']: v_new})

  return param_dict

In [358]:
# Dict updating
# {'id': {'artsy_id': [''], 'category_id': [''], 'gene_id': [''], 'name': ''}}

# Old dict data
c = len(artists_dict)+1 # for id creation
id_list = list(artists_dict.keys()) # list of str
name_list = [v['name'] for v in artists_dict.values()] # list of str

# New artworks_dict data
artists_list = list(set([v['artist'] for v in artworks_dict.values()]))
# category_id
#cat = df_cat_dat_total['category_id'].unique().tolist()
cat_dict = artist_dict_add('category_id')
# gene_id
gene_dict = artist_dict_add('gene_id')
# artsy_id
artwork_dict = artist_dict_add('artsy_id')

# New dict
new_artists_id = []
cross_artists_id = []
for name in artists_list:
  if name not in name_list:
    id = '0'*(artist_id_len-len(str(c)))+str(c)
    new_artists_id.append(id)
    artists_dict.update({id: {'artsy_id': artwork_dict[name], 'category_id': cat_dict[name], 'gene_id': gene_dict[name], 'name': name}})
    c += 1
  else:
    id = id_list[name_list.index(name)]
    cross_artists_id.append(id)
    new_cat = list(set(artists_dict[id]['category_id'] + cat_dict[name]))
    artists_dict[id].update({'category_id': new_cat})
    new_gene = list(set(artists_dict[id]['gene_id'] + gene_dict[name]))
    artists_dict[id].update({'gene_id': new_gene})
    new_artwork = list(set(artists_dict[id]['artsy_id'] + artwork_dict[name]))
    artists_dict[id].update({'artsy_id': new_artwork})

print('New total count of artists', len(artists_dict))
print('Count of new artists', len(new_artists_id))
print('Count of old artists', len(cross_artists_id))

46708
22
92

In [359]:
artists_dict[new_artists_id[len(new_artists_id)//2]]

{'artsy_id': ['6230ffb352889e000de4f15e'],
 'category_id': ['06'],
 'gene_id': ['06176'],
 'name': 'Gmunk'}

In [360]:
artists_dict[cross_artists_id[len(cross_artists_id)//2]]

{'artsy_id': ['62160d615ceac2000b951c22', '6219eff9c9112f000d36b4fb'],
 'category_id': ['06'],
 'gene_id': ['06176', '06038'],
 'name': 'Miguel Caravaca'}

In [361]:
save_dict(artists_dict, artist_dict, 'live') # 1. Save json dict

##### add 'artist_id'  in artworks_dict

In [362]:
len(artworks_dict)

263

In [363]:
keys_list = list(artists_dict.keys())
values_list = [v['name'] for v in artists_dict.values()]

for value in artworks_dict.values():
  if value['artist'] in values_list:
    value.update({'artist_id': keys_list[values_list.index(value['artist'])]})
  else:
    value.update({'artist_id': ' '})

In [364]:
artworks_dict[check_id_list[0]]

{'artist': 'Daniel Berman',
 'artist_id': '16827',
 'category_id': ['06'],
 'gallery': 'CAM Galería',
 'gene_id': ['06176'],
 'link': 'https://d32dm0rphc51dk.cloudfront.net/29qaUsaaRjov5tv5L-cwng/large.jpg',
 'name': 'La gente que canta y baila',
 'parsing_date': '2022-04-20',
 'price': 'US$1,600 ',
 'updating_date': '2022-04-20',
 'year': '2022'}

In [365]:
artists_dict[artworks_dict[check_id_list[0]]['artist_id']]

{'artsy_id': ['62190e6f3deebf000b70506d',
  '6230f14e83c045000c60e836',
  '62190e6f6eda7a000ce9d39a'],
 'category_id': ['06'],
 'gene_id': ['06176', '06006', '06099', '06038'],
 'name': 'Daniel Berman'}

In [ ]:
# Replacing
#artworks_dict = {k: artworks_dict[k] for k in artworks_dict.keys() - {'artist'}}
#artworks_dict['623f201d30b258000cc3053a']

In [366]:
#save_dict(artworks_dict, artwork_dict, 'live') # 1. Save json dict
#save_dict(artworks_dict, '/artsy_genom_artwork_dict_add.txt', 'backup') # 1. Save json dict
save_dict(artworks_dict, '/artsy_genom_artwork_dict_new_gene.txt', 'backup') # 1. Save json dict

### artworks_dict addition

In [368]:
artworks_dict_new = open_dict('/artsy_genom_artwork_dict_new_gene.txt', 'backup')
print(len(artworks_dict_new))
artworks_dict = open_dict(artwork_dict, 'live')
print(len(artworks_dict))

263
453765

Let's divide new dict ids data on two parts: artsy_id is already in the dict and not.

In [369]:
old_id_list = list(artworks_dict.keys()) # list of str

# New df data

new_id_list = list(artworks_dict_new.keys()) # list of str
cat_list = list(set([cat[0] for cat in [v['category_id'] for v in artworks_dict_new.values()]])) # list of lists with str
print('Category:', cat_list)
print('')

new_artwork_id = list(set(new_id_list) - set(old_id_list))
cross_artwork_id = list(set(old_id_list) & set(new_id_list))
print('New id count:', len(new_artwork_id))
print('Cross id count:', len(cross_artwork_id))
print('Check the division:', len(new_id_list)==len(new_artwork_id)+len(cross_artwork_id))
print('')

artworks_dict_total_len = len(old_id_list) + len(new_artwork_id)
print('New dict length must be:', artworks_dict_total_len)

Category: ['06']

New id count: 67
Cross id count: 196
Check the division: True

New dict length must be: 453832

#### cross_artwork_id updating

Name, link and artist of artsy_id that is already in the dict shoild be the same. Let's check it.

In [370]:
dif_name = []
dif_link = []
dif_artist = []

for id in cross_artwork_id:
  if artworks_dict[id]['name'] != artworks_dict_new[id]['name']:
    dif_name.append(id)
  if artworks_dict[id]['link'] != artworks_dict_new[id]['link']:
    dif_link.append(id)
  if artworks_dict[id]['artist'] != artworks_dict_new[id]['artist']:
    dif_artist.append(id)

print('Cross id count:', len(cross_artwork_id))
print(len(dif_name), 'ids have different name')
print(len(dif_link), 'ids have different link')
print(len(dif_artist), 'ids have different artist')

Cross id count: 196
6 ids have different name
0 ids have different link
6 ids have different artist

In [371]:
for id in sample(dif_name, 6): # 10
  print(id, ':', artworks_dict[id]['name'], '->', artworks_dict_new[id]['name'])

620a49f37c6699000c370794 : Ritratto di Musico (Portrait of a Musician) -> Leonardo da Vinci, Ritratto di Musico (Portrait of a Musician)
620a6687b5965e000cd08bb9 : Madonna del Cardellino (Madonna of the Goldfinch) -> Raffaello Santi, Madonna del Cardellino (Madonna of the Goldfinch)
620a6f82fc3035000dd22754 : Il Bacio (The Kiss) -> Francesco Hayez, Il Bacio (The Kiss)
620a68d953dd42000c9fa9ab : Canestra di frutta (Bowl of Fruit) -> Michelangelo Merisi da Caravaggio, Canestra di frutta (Bowl of Fruit)
620a49f2fea647000ba59c6c : Leonardo da Vinci La Scapiliata (Head of a Woman) -> Leonardo da Vinci,  La Scapiliata (Head of a Woman)
620a47e894b381000c755777 : Testa di Giovane Donna (Head of a Young Lady) -> Amedeo Modigliani, Testa di Giovane Donna (Head of a Young Lady)

In [373]:
for id in sample(dif_artist, 6): # 10
  print(id, ':', artworks_dict[id]['artist'], '->', artworks_dict_new[id]['artist'])

620a6687b5965e000cd08bb9 : Raffaello Santi -> Cinello
620a47e894b381000c755777 : Amedeo Modigliani -> Cinello
620a6f82fc3035000dd22754 : Francesco Hayez -> Cinello
620a68d953dd42000c9fa9ab : Michelangelo Merisi Da Caravaggio -> Cinello, Conceived Circa 1597 , 1600, Digitised In 2021
620a49f37c6699000c370794 : Leonardo Da Vinci -> Cinello
620a49f2fea647000ba59c6c : Leonardo Da Vinci -> Cinello, Conceived Circa 1492, 1501, Digitised In 2021

In [ ]:
for id in sample(dif_link, 1): # 10
  print(id, ':', artworks_dict[id]['link'], '->', artworks_dict_new[id]['link'])

624c243c1921db000e9153af : https://d32dm0rphc51dk.cloudfront.net/_I0WSM1SSE9Ub72ShrMnMQ/large.jpg -> https://d32dm0rphc51dk.cloudfront.net/QiE6n5L-JpRKf1Q82cDStw/large.jpg

In [ ]:
# excaption
artworks_dict['62280e48bd9211000cc4b47d'].update({'link': 'https://d32dm0rphc51dk.cloudfront.net/S9Gn8hpcc24pnRBCrghPwA/large.jpg'})

!!! But all of them can be different. At the same time, it's seen that changes aren't dromatic -> So, not good, but we won't change or add them.

It would be better for checking the info if I got artwork's page link...

And later we'll clean the artists_dict.

Also we won't change or add different price, year and gallery. In fact, we just add the category_id and gene_id info.

In [374]:
# Dict updating

# {'artsy_id': {'artist': ' ', 'artist_id': ' ', 'category_id': [''], 'gallery': ' ', 'gene_id': [''], 
#               'link': ' ', 'name': ' ', 'parsing_date': '', 'price': ' ', 'updating_date': '', 'year': ' '}}

for id in cross_artwork_id:
  new_cat = list(set(artworks_dict[id]['category_id'] + artworks_dict_new[id]['category_id']))
  artworks_dict[id].update({'category_id': new_cat})
  new_gene = list(set(artworks_dict[id]['gene_id'] + artworks_dict_new[id]['gene_id']))
  artworks_dict[id].update({'gene_id': new_gene})
  artworks_dict[id].update({'updating_date': artworks_dict_new[id]['parsing_date']})

print(len(artworks_dict))

453765

In [375]:
# cross_artwork_id sample
samp_id = sample(cross_artwork_id, 1)[0]
print(samp_id)
artworks_dict_new[samp_id]

61fd7fb13e73b9000cf9f02b

{'artist': 'Zina Saro-Wiwa',
 'artist_id': '32374',
 'category_id': ['06'],
 'gallery': 'Montague Contemporary',
 'gene_id': ['06176'],
 'link': 'https://d32dm0rphc51dk.cloudfront.net/B_0dqbt8oR6_H11QTKiuhA/large.jpg',
 'name': 'Sarogua Spirit - Akogbara (Oil Bean)',
 'parsing_date': '2022-04-20',
 'price': 'Price on request ',
 'updating_date': '2022-04-20',
 'year': '2022'}

In [376]:
artworks_dict[samp_id]

{'artist': 'Zina Saro-Wiwa',
 'artist_id': '32374',
 'category_id': ['02', '03', '06', '08'],
 'gallery': 'Montague Contemporary',
 'gene_id': ['06006',
  '08068',
  '08013',
  '03113',
  '03054',
  '02180',
  '06038',
  '06176'],
 'link': 'https://d32dm0rphc51dk.cloudfront.net/B_0dqbt8oR6_H11QTKiuhA/large.jpg',
 'name': 'Sarogua Spirit - Akogbara (Oil Bean)',
 'parsing_date': '2022-04-01',
 'price': 'Price on request ',
 'updating_date': '2022-04-20',
 'year': '2022'}

#### new_artwork_id addition

In [377]:
# {'artsy_id': {'artist': ' ', 'artist_id': ' ', 'category_id': [''], 'gallery': ' ', 'gene_id': [''], 
#               'link': ' ', 'name': ' ', 'parsing_date': '', 'price': ' ', 'updating_date': '', 'year': ' '}}

for id in new_artwork_id:
  artworks_dict.update({id: {'artist': artworks_dict_new[id]['artist'], 'artist_id': artworks_dict_new[id]['artist_id'], 'category_id': artworks_dict_new[id]['category_id'], 'gallery': artworks_dict_new[id]['gallery'], 'gene_id': artworks_dict_new[id]['gene_id'], 'link': artworks_dict_new[id]['link'], 'name': artworks_dict_new[id]['name'], 'parsing_date': artworks_dict_new[id]['parsing_date'], 'price': artworks_dict_new[id]['price'], 'updating_date': artworks_dict_new[id]['updating_date'], 'year': artworks_dict_new[id]['year']}})

print('New dict length must be:', artworks_dict_total_len)
print('New dict length is:', len(artworks_dict))

New dict length must be: 453832
New dict length is: 453832

In [378]:
# new_artwork_id sample
samp_id = sample(new_artwork_id, 1)[0]
print(samp_id)
artworks_dict_new[samp_id]

60898ff8a1a4c400126706b8

{'artist': 'Romina Ressia',
 'artist_id': '16168',
 'category_id': ['06'],
 'gallery': 'HOFA Gallery (House of Fine Art)',
 'gene_id': ['06176'],
 'link': 'https://d32dm0rphc51dk.cloudfront.net/0e6sClD9OM6GDDpFQWHcJQ/large.jpg',
 'name': 'Pop-Corn Pixel',
 'parsing_date': '2022-04-20',
 'price': 'Price on request ',
 'updating_date': '2022-04-20',
 'year': '2021'}

In [379]:
artworks_dict[samp_id]

{'artist': 'Romina Ressia',
 'artist_id': '16168',
 'category_id': ['06'],
 'gallery': 'HOFA Gallery (House of Fine Art)',
 'gene_id': ['06176'],
 'link': 'https://d32dm0rphc51dk.cloudfront.net/0e6sClD9OM6GDDpFQWHcJQ/large.jpg',
 'name': 'Pop-Corn Pixel',
 'parsing_date': '2022-04-20',
 'price': 'Price on request ',
 'updating_date': '2022-04-20',
 'year': '2021'}

In [380]:
save_dict(artworks_dict, artwork_dict, 'live') # 1. Save json dict

### artists_dict cleaning

In [381]:
dif_artist_id = []
c = 0
for id in cross_artwork_id:
  if artworks_dict[id]['artist'] != artworks_dict_new[id]['artist']:
    dif_artist_id.append(artworks_dict_new[id]['artist_id'])
    dif_artist_id = list(set(dif_artist_id))
    c += 1

print(c, 'ids have different artist')
print(len(dif_artist_id), 'artists are exstra new')

6 ids have different artist
3 artists are exstra new

In [382]:
#artists_dict = open_dict(artist_dict, 'live')
len(artists_dict)

46708

In [383]:
# Replacing
print(len(artists_dict) - len(dif_artist_id))
artists_dict = {k: v for k, v in artists_dict.items() if k not in dif_artist_id}
print(len(artists_dict))

46705
46705

In [384]:
artists_dict_samp = {k: v for k, v in artists_dict.items() if v['name'] == 'Matt Connors'}
artists_dict_samp

{'21007': {'artsy_id': ['61fe8114b9ff6c000b32bbb6',
   '622cb6e45463fe000bb811af'],
  'category_id': ['03', '05', '02', '06', '08'],
  'gene_id': ['02155', '08049', '03008', '06045', '05011', '06175'],
  'name': 'Matt Connors'}}

In [385]:
save_dict(artists_dict, artist_dict, 'live') # 1. Save json dict

### genes_dict - at the very end

#### expansion

In [ ]:
genes_dict = open_dict(gen_dict, 'live') # 2. Open json dict
genes_dict_old = open_dict(gen_dict, 'live') # 2. Open json dict
len(genes_dict)

1032

In [ ]:
artists_dict = open_dict(artist_dict, 'live') # 2. Open json dict
len(artists_dict)

46676

In [ ]:
artworks_dict = open_dict(artwork_dict, 'live') # 2. Open json dict
len(artworks_dict)

450574

In [ ]:
genes_dict_old['bad_painting']

{'artist_id': ['10640', '05253'],
 'artsy_id': ['54f0c97a7261693fa3ea1400',
  '553a8e737261697635630000',
  '54f0c97c726169731f9f1400',
  '553a8ea872616909c03a0000',
  '553a8e61726169623a4f0000',
  '553be2df7261692b035d0400'],
 'category_id': '03',
 'id': '03001',
 'link': '/gene/bad-painting',
 'name': '"Bad Painting"',
 'parsing_date': '2022-03-29',
 'updating_date': '2022-03-29'}

Update genes_dict with 'artist_id' and 'artwork_id':
- list type parametr - ***one to many connection***
- id info is in the **dict**

In [ ]:
artist_id_list_old = genes_dict_old['bad_painting']['artist_id']
artsy_id_list_old = genes_dict_old['bad_painting']['artsy_id']

In [ ]:
#param = 'artist_id'

for v in genes_dict.values():
  v.update({'artist_id': []})
  for key, value in artists_dict.items():
    if v['id'] in value['gene_id']:
      v_new = list(set(v['artist_id'] + [key]))
      v.update({'artist_id': v_new})

print(len(genes_dict))

1032

In [ ]:
#param = 'artsy_id'

for v in genes_dict.values():
  v.update({'artsy_id': []})
  for key, value in artworks_dict.items():
    if v['id'] in value['gene_id']:
      v_new = list(set(v['artsy_id'] + [key]))
      v.update({'artsy_id': v_new})

print(len(genes_dict))

1032

In [ ]:
artist_id_list_new = genes_dict['bad_painting']['artist_id']
artsy_id_list_new = genes_dict['bad_painting']['artsy_id']

print(list(set(artist_id_list_new))==list(set(artist_id_list_old)))
print(list(set(artsy_id_list_new))==list(set(artsy_id_list_old)))

False
True

In [ ]:
genes_dict['bad_painting']
#'William Nelson Copley'
#'Joan Brown'

{'artist_id': ['25055', '21189'],
 'artsy_id': ['553be2df7261692b035d0400',
  '553a8ea872616909c03a0000',
  '54f0c97a7261693fa3ea1400',
  '54f0c97c726169731f9f1400',
  '553a8e737261697635630000',
  '553a8e61726169623a4f0000'],
 'category_id': '03',
 'id': '03001',
 'link': '/gene/bad-painting',
 'name': '"Bad Painting"',
 'parsing_date': '2022-03-29',
 'updating_date': '2022-03-29'}

In [ ]:
artists_dict['25055']

{'artsy_id': ['553a8ea872616909c03a0000',
  '54f0c97a7261693fa3ea1400',
  '5da7b49cf52b8c00129b9694',
  '54f0c97c726169731f9f1400',
  '553a8e61726169623a4f0000',
  '553a8e737261697635630000'],
 'category_id': ['01', '03'],
 'gene_id': ['03001', '01005'],
 'name': 'Joan Brown'}

In [ ]:
save_dict(genes_dict, gen_dict, 'live') # 1. Save json dict

#### addition & updating

In [386]:
genes_dict = open_dict(gen_dict, 'live') # 2. Open json dict
len(genes_dict)

1033

In [387]:
genes_dict['bad_painting']

{'artist_id': ['25055', '21189'],
 'artsy_id': ['553be2df7261692b035d0400',
  '553a8ea872616909c03a0000',
  '54f0c97a7261693fa3ea1400',
  '54f0c97c726169731f9f1400',
  '553a8e737261697635630000',
  '553a8e61726169623a4f0000'],
 'category_id': '03',
 'id': '03001',
 'link': '/gene/bad-painting',
 'name': '"Bad Painting"',
 'parsing_date': '2022-03-29',
 'updating_date': '2022-03-29'}

In [388]:
#param = 'artist_id'

for v in genes_dict.values():
  for key, value in artists_dict.items():
    if v['id'] in value['gene_id'] and key not in v['artist_id']:
      v_new = list(set(v['artist_id'] + [key]))
      v.update({'artist_id': v_new})
      v.update({'updating_date': datetime.now().date().strftime('%Y-%m-%d')})

print(len(genes_dict))

1033

In [389]:
#param = 'artsy_id'

for v in genes_dict.values():
  for key, value in artworks_dict.items():
    if v['id'] in value['gene_id'] and key not in v['artsy_id']:
      v_new = list(set(v['artsy_id'] + [key]))
      v.update({'artsy_id': v_new})
      v.update({'updating_date': datetime.now().date().strftime('%Y-%m-%d')})

print(len(genes_dict))

1033

In [390]:
genes_dict['bad_painting']

{'artist_id': ['25055', '21189'],
 'artsy_id': ['553be2df7261692b035d0400',
  '553a8ea872616909c03a0000',
  '54f0c97a7261693fa3ea1400',
  '54f0c97c726169731f9f1400',
  '553a8e737261697635630000',
  '553a8e61726169623a4f0000'],
 'category_id': '03',
 'id': '03001',
 'link': '/gene/bad-painting',
 'name': '"Bad Painting"',
 'parsing_date': '2022-03-29',
 'updating_date': '2022-03-29'}

In [391]:
filtered_dict = {k: v for k, v in genes_dict.items() if v['updating_date'] == datetime.now().date().strftime('%Y-%m-%d')}
len(filtered_dict)

289

In [395]:
updated_sample = sample(list(filtered_dict.keys()), 1)[0]
filtered_dict[updated_sample]

{'artist_id': ['31742',
  '27685',
  '30140',
  '20003',
  '01526',
  '08930',
  '31460',
  '35131',
  '17143',
  '19162',
  '21373',
  '23780',
  '11052',
  '16309',
  '14187',
  '35629',
  '27911',
  '21695',
  '09587',
  '00339',
  '12099',
  '18106',
  '21967',
  '19437',
  '26070',
  '28871',
  '30479',
  '39633',
  '35847',
  '02680',
  '11984',
  '12486',
  '08554',
  '01046',
  '14158',
  '39170',
  '10135',
  '26308',
  '13582',
  '28265',
  '13786',
  '35811',
  '34526',
  '11981',
  '24035',
  '09139',
  '13787',
  '11553',
  '22307',
  '40585',
  '16172',
  '06536',
  '03538',
  '23352',
  '09901',
  '39745',
  '28322',
  '32089',
  '06176',
  '25795',
  '39521',
  '26285',
  '24116',
  '00737',
  '26616',
  '30950',
  '12839',
  '23925',
  '06357',
  '09066',
  '15393',
  '19859',
  '32077',
  '33522',
  '01571',
  '35592',
  '39795',
  '40064',
  '01351',
  '17871',
  '08533',
  '23065',
  '22968',
  '36706',
  '40561',
  '14979',
  '00326',
  '29340',
  '04617',
  '14970',
  '00011',
  '13026',
  '32125',
  '21768',
  '11866',
  '16872',
  '35801',
  '06024',
  '14068',
  '39266',
  '31738',
  '13250',
  '39748',
  '18427',
  '12102',
  '33569',
  '24706',
  '40483',
  '10365',
  '01796',
  '03760',
  '17248',
  '26147',
  '40151',
  '34424',
  '03919',
  '26789',
  '32223',
  '33354',
  '08455',
  '10824',
  '26496',
  '09599',
  '14319',
  '20428',
  '36621',
  '20427',
  '04892',
  '12497',
  '13905',
  '31559',
  '40377',
  '27140',
  '31157',
  '10384',
  '28618',
  '27066',
  '30446',
  '26150',
  '40645',
  '37878',
  '14808',
  '39103',
  '39692',
  '20132',
  '18696',
  '19133',
  '35001',
  '30359',
  '39355',
  '34653',
  '35270',
  '26043',
  '17118',
  '04395',
  '31315',
  '40402',
  '27987',
  '39534',
  '13645',
  '00641',
  '25172',
  '24413',
  '29240',
  '11429',
  '40127',
  '03613',
  '08954',
  '24109',
  '29216',
  '29661',
  '23507',
  '25793',
  '30505',
  '06082',
  '22319',
  '22625',
  '08219',
  '10121',
  '39727',
  '03739',
  '09036',
  '36623',
  '25797',
  '15277',
  '16509',
  '06783',
  '07119',
  '29035',
  '40554',
  '20082',
  '00113',
  '11029',
  '24043',
  '03116',
  '11962',
  '16685',
  '11178',
  '15530',
  '25292',
  '03834',
  '17845',
  '31957',
  '27791',
  '25108',
  '03063'],
 'artsy_id': ['5bfdbac61061bf36f6ed40d3',
  '5b463d4c66e7f30023720a71',
  '6244800ecca2aa000c564843',
  '5dfbddf5f5d37c000d2fd9f0',
  '5fe25beddc8c23000d6f6571',
  '61eead058bc56f000d4cc6e9',
  '603fa5fb79a2440011f6b846',
  '5c82864387a2943181ec554e',
  '59b3fab8b202a34d7a0e4ea2',
  '5ee7d92b4d9c1e000e1061ec',
  '5e60cbdd1e3f43000e48c62a',
  '54ac3ea67261692b4e8d0d00',
  '5e9c1c3aad3c23000ec9b354',
  '5d689bc2c4b393001127670a',
  '5c0025a6fb5530002c4846fa',
  '6092794bc952260012c8aed4',
  '60cc8724ef1551000e2a771d',
  '61ec0d1e0c8cc9000c197667',
  '5524046c7261693040ae0000',
  '61d6c3cf86c427000e7a5aff',
  '624f265d737883000d2490f3',
  '5e6cfb7ffdf009001153dfc8',
  '54ac34537261692b63340100',
  '603bd84485ddd242fa4b9f88',
  '61d49d34fb6de2000d45bd3a',
  '5fb6a04d029977000ead85db',
  '5f7336a3b2f29d0011539169',
  '5672ca039c18db5c900001ba',
  '5c894c00a27fbc1825ce0a27',
  '56d871b9275b240ab6000c56',
  '604ccc5fa995b1001134d787',
  '61e6ea32231190000db74774',
  '54b65dca726169170d5e0300',
  '5fad6284a72d5700127f30c8',
  '61e52ba1bf26fe000bdec138',
  '57be5bb69c18db64ae005270',
  '5f6483007476e400111d666d',
  '6019a976328b25000dcb8ad4',
  '5d56d04b3a8609000d59e84e',
  '59b7c8089c18db4d6f3bd26d',
  '61996a1d5ec882000bdbc99e',
  '619966f7dbbcfa000b8b1206',
  '5dd4206f1c825e0012007bd9',
  '6223568d1c9af3000e1da1d4',
  '572e165d9c18db360c00120e',
  '5f90544d68c14c000e6a9c90',
  '624ed3ba335dfd000e922693',
  '561cd1137261695e9e0000cb',
  '5ba46fe0335c92557f6dc0ec',
  '5763137eb202a338ba00071f',
  '606dd764051e70000ede9fdd',
  '62403e956d11ff000bae67d6',
  '5cfa6976a33b720012ed0a6b',
  '602ad19afc38e87a371210b6',
  '60195e9377a43d00128d7d93',
  '6065d3f44d5289001247a48d',
  '59b7d32bc9dc241d69d1d33f',
  '604156a642556d000e9b67ee',
  '5d7f85798f6936001279bce6',
  '62177b19ee6b52000d8c9718',
  '5fa35a347e6e02000e65bd14',
  '607447678ee16f001220219f',
  '6023b4deaf361800112e78c4',
  '5e9734ec839aa6001138758b',
  '5e5a60045c8590001029f15f',
  '5635322a726169640f0000b4',
  '5eee237fc146c4000e7a6b91',
  '5b9110fe2c36be00260eaeb7',
  '59b7d2a42a893a2b644b0bde',
  '56b0e8094b848076e200005e',
  '5c7fcd23e9a8cb34c47e86b6',
  '61c3521ce92806000cb40105',
  '5d56d0b5cadfd50012bd3db4',
  '5331b58d1a1e86daca000036',
  '615355995a02c4000cffaf41',
  '616fd3218fac10000cd97667',
  '5fbc46ad4377ed55edb9294c',
  '5cc1d1b5fa45ec4fb73acd3b',
  '601ad6972d006b000da7378b',
  '60337a4627daaf2e450090f6',
  '5afe7514cd530e2c69713bb4',
  '560a74487261696633000022',
  '589c89decd530e4cb4805e32',
  '619e9a643ea70a000d5b6859',
  '6197ba8807f1e0000defa2b9',
  '60356226bdf5dc0012c3e5d5',
  '57f41fd77622dd4f9a000152',
  '6221cccbd1f48f000eb8dbcb',
  '58af4489275b24335ccfbcfd',
  '5b535f69371f2f2c7b5c76e0',
  '6221ccd5eec1af000c4a0ac8',
  '56c3702d9acc8a67750000e9',
  '608ad027699db7000e6ba936',
  '54e70aa772616916c3770500',
  '60d0565c917e87000e25b19d',
  '606469c09a0f79000da116af',
  '61dfff4ca82207000b11c571',
  '5f6356076ea4920012c026ab',
  '6034f6e1758c5e000e850087',
  '61f126627bf851000cbcfd96',
  '61da59eeea8eb8000b6495d8',
  '5e9b0bf3c4a7a1000ec3b8b1',
  '61bb2576becfc9000c24d448',
  '59fd79c42a893a4cbc7a2f84',
  '6035642ae92154000e37d33d',
  '589e81128b3b8130939346ee',
  '5fbd1cfbba541a0918d8c82d',
  '5f20d2b5031e18000db0af9b',
  '56428ee04c0af53a240003be',
  '601945c1a09447000e76dd42',
  '565eeb9a864d821fa300017f',
  '5268375e9c18dbc47600040c',
  '61486ecbdeb484000d27d669',
  '5ca50e26894a14701d727e29',
  '5fbe60fcd3d9f4001284205b',
  '61dfff66f55c62000dfcada1',
  '5efe90ee6b0e190012e1e21c',
  '5e9b7bb9c313bd000eb4fcf4',
  '540092b67261692e32b10000',
  '6184b116fc53b8000c6c3f6e',
  '60927984e770f40010eaabb4',
  '61e52bab688368000c33647f',
  '6049f70a0d04c800129c0b73',
  '602abee3a24c14000e8725cb',
  '6032b6d6bac17c000ea2db91',
  '5cb24aefbbb361238afe45aa',
  '5e06070fdebee8001157b0c6',
  '603bd841e57c3b566049fa46',
  '57d5c056a09a671f24001f47',
  '618a50864e903f000dba4a12',
  '581b5d182a893a78d6001ecb',
  '5eeb7f4e0b00ef00126591cf',
  '5dd41e59a95d63000d7576bb',
  '605f4642db3ab1000e5d4d80',
  '62177b173ce20e000e1711ef',
  '5fbd1d80a39282001240f1e4',
  '606b5330b4c8690012e9885e',
  '5cc08d57cef63f100712ab2f',
  '60ef0337567109000eba5fa2',
  '616017e61c01cc000d567e61',
  '6049346fc26ce9000d4cc32c',
  '525969967622dd51d8000054',
  '5f31a9fdb2fbe70012dc43f8',
  '5ca51b165a2cde601d626714',
  '606c172e4a4daf000ef967d5',
  '5e6956ebdf4777000f618744',
  '618922c2333784000b35d58a',
  '53849ea74b848055b4000017',
  '5ebac11f0725fd001134a8c9',
  '5f4e79cdf793da0013d00fd6',
  '61a9ff29696b7e000bc3af93',
  '5e9d7a8622893400109dd519',
  '5c35dd6920ad392ed7ca0b5b',
  '5f7336d2b2f29d0011539184',
  '57251425cb4c2765ed000862',
  '59b7c8017622dd4d7459d0a4',
  '5c76b9fe11982e002874cd30',
  '5e3055b9a7f1f7001213b4af',
  '61dfff4b31297e000cca5da3',
  '5ba2042081503d26e4de9c34',
  '5fbf8b85a08fdd000d6f5ef3',
  '5f1af750f961c000129b8bcc',
  '5363b2cecb4c27f20e000027',
  '5dde997317bd34000e40524d',
  '58789f5ca09a677634000aea',
  '5f118e402272b40012a67421',
  '600a9fd09320c601f8c34e45',
  '5aa3b4c47622dd48401aa462',
  '5e4799fb5e565a0012d7cf5c',
  '58a88144139b21581572d105',
  '5fdb26e69277dd59f333a8af',
  '605fd2487f060300110d59d8',
  '5f50ed9972581e00134af939',
  '5aa3a94f9c18db2328d90cb2',
  '5fca69486f7f73000e684adb',
  '55f99a9f7261695c6300033c',
  '60788198a5cb33001206b5c9',
  '59b7e063a09a672551d08f23',
  '5790e235139b21317e00651e',
  '57dabecb8b3b81644d001cf0',
  '59ca706d7622dd4d70c1d570',
  '567ad905a09a67673d000016',
  '602e913e6f20a0000da093ec',
  '60202df9ba2e490011d00126',
  '5ba133f9ba98b618be389d9d',
  '5d18e45411192e000e05cec6',
  '560a744d7261697c4e000158',
  '6131dccbd11312000e8bde43',
  '53234b24b202a3f3970000c0',
  '5fe25bed8171fa0012730552',
  '61e6ea24441c85000cff491d',
  '5f857903349fab001299ade1',
  '604cae78a995b1000d8735d5',
  '61f95c5648e443000cb0fc35',
  '544b75e5726169293b1a0100',
  '61f912105d7180000c890283',
  '602abee3fc38e8000f8c0185',
  '53849fa6275b24f22e000756',
  '5f9d92229d05350012bedd88',
  '60678662a4c9e3000d747977',
  '606b532df1ec4200105f5115',
  '58b69d41c9dc246966f146bb',
  '61a3cbddeeb8c4000d740ab6',
  '5cc0d6fa0c8e5a023c84299e',
  '5d8a3599c59f24001236b85b',
  '61ec0dcec4ed54000d26ab49',
  '5dc1839fd48c45000ebdf120',
  '618d45fdf9587f000b4fafc1',
  '56d6ff81139b2166eb000b6b',
  '58af2450275b24329073b82c',
  '5979db67a09a6756374f941f',
  '56c440f58b3b814d610000c0',
  '5ebbd2df83fb4d000ed7581e',
  '5e7a218e0c9800000e389efb',
  '6074498047aaae0013080351',
  '5a7b3bec275b2429deb047f3',
  '5b535f4a03c8830027675256',
  '5e726db7efa470001247ee3a',
  '5db2aedb52b09f00129874cf',
  '5fdad3e6c5e43700121d2e66',
  '603accba095210246f6aefd9',
  '619975a63fa1f0000ca80e47',
  '59b7c820b202a34d79a474f1',
  '5f74ae46bb04b00011839125',
  '619966f23fa1f0000bf382cf',
  '5d740b5b2a9e7300130e54bc',
  '59b520719c18db4d6f3ba5c7',
  '5db1d97d3000c7000e9c6394',
  '5e7b69ffe15b9000125cf0e4',
  '6231f2f264803b000c8be055',
  '6218c3596394b0000db3e91d',
  '5b02e0d4139b211726de10d7',
  '6034f6e06ad37d000f3e64ac',
  '5822f723a09a675967000774',
  '603fdb2158aeea000e6d7466',
  '5e4596b489331c000db4f7b0',
  '603cbc918310980011de738b',
  '5c66feef885fd309ff413d16',
  '54ac341072616908fc941800',
  '625c6d5051a1d2000c68bbe4',
  '602e92b716e8ad5c1efca1b3',
  '59b799ec275b241a1da3d691',
  '552404907261692c53b30000',
  '5e4bf0501df4500012d95195',
  '59b55058c9dc241d69d1b1cb',
  '5d67d9a698cff6001235c067',
  '5e84a3a6193c4000100d6c13',
  '5e9b606d2289340014248513',
  '6065dc38ca9626001225ac3f',
  '578fe55fcd530e65e30009d8',
  '5dc1c4473267a50011e70678',
  '5ec86e6d2cca7a000e948d1d',
  '5e4e8f0a17a3090012b20122',
  '5822f27ac9dc2403b000060b',
  '54b90ce772616942eeec0100',
  '56ab85b2b8bad466a3000029',
  '60d1f8e49af67e0013647eaf',
  '6112eff0433769000d270da3',
  '5be57c3204579712b606fb78',
  '5938c2fc275b24214990f9ee',
  '5d4dd279f593190012abed4b',
  '5515986572616910e4d24500',
  '61f7fad5f387ec000ee6b512',
  '5fc8eeeba1ffd7000f6c8a1a',
  '5fc8ef571f0e79000e429839',
  '621dc9a41c6377000b4d8b45',
  '6024456330ad151897d9e725',
  '5a55def28b3b814e0f8d7811',
  '61181451de40c4000dde9089',
  '6249da15e68e5c000d617b37',
  '5d4606ea87c21d001233f2d1',
  '55b75514726169650a0001b5',
  '625ea6bce15f32000ba80dd4',
  '5fbf8b83d78f7f000d3691d7',
  '5f49076b5f5db400128c0e61',
  '547c90d37261692d7c920100',
  '577d66d58b3b8164440008fe',
  '54ac345f7261695ea9ea1a00',
  '624490cb854063000b53ba36',
  '6234ef22a528cf000eb04fd1',
  '545a0b5e726169283f0a1000',
  '5c33c5e44ce3b909dd6433a2',
  '6221cccb7b8d79000b7621d6',
  '5c49ecd1a313697aa8c61157',
  '5dd59f7d753b36000ef49cf2',
  '5c9b97dfae48ca0695136e02',
  '5e9b60519303560012ab8d4a',
  '6245c9d4fa9d68000ee89466',
  '5ffde7a51e70a900111ee6fa',
  '621dc9af3ba9a3000ec33b2b',
  '61d6c38ef2db59000c34345f',
  '5f6f6b341740bd0012e06cc3',
  '60d8e82e66567c000fed60e8',
  '5ec51a8d38d03c001249b24d',
  '5569d1f47261696637b20100',
  '616ee72143181c000cd17cde',
  '619bdd40ae0bbe000b8c3263',
  '560a746e72616923ef00014e',
  '5d56d0334d03e0000e795f6d',
  '602c76c2462d526df1cfb290',
  '6150678dbef633000cc3b447',
  '5c331c30bb2d0d5f42536598',
  '60734684c36b490013cfb57f',
  '6049266fc26ce9000d4cb8ae',
  '589b6c39139b2155a5eb9764',
  '60d4c226e1f6830012af07f0',
  '5eb3f12afb9a8f0014ae534e',
  '61b5dcfd3e5cf7000c40cc48',
  '5fe38e8441242500105f7cb4',
  '5cb24f53a8e3603cce1e5cab',
  '5d56d0175c28030011574821',
  '615efed975f2f7000bec6de5',
  '623df01930b258000e2b751a',
  '621d2581ae7e63000c1a1526',
  '60ef0701f8c11f0012a59fc8',
  '6196ce355409c1000ca074f9',
  '5dce74f7e3cf34000d8bf8d1',
  '530f99157622ddb75700015b',
  '6048dd91353ce80011612d17',
  '61e68b7d4babe3000b94962d',
  '5b463e483eb7110020449300',
  '5dd41c9aeb6427000fc626dc',
  '60081c7b5828a8000e1389cd',
  '618922d2c93729000b403097',
  '5268375eb202a3356c000450',
  '5e3be3e00a7705000d662a26',
  '5787f3a88b3b812eac0002de',
  '61e6ea28425e95000d6a5721',
  '5595706c7261691582000450',
  '540703bc72616906c1f11700',
  '5672cc22139b21427f0001c1',
  '6023b4d86610ca306048f5e8',
  '5f6b3a5865c179000d1f4eac',
  '546a3ad17261692d6df00100',
  '5e90beb617ae59000e9e0177',
  '5eebdd0d463215000e56f6cc',
  '5d7f85caea58fc000e8e5396',
  '55f994ae726169523d0002af',
  '5be57c36f620254e9403f28f',
  '61e68afe6b868e000e730913',
  '602abee390860000122fc88d',
  '5405aed472616906bed00d00',
  '61b4bf94117267000d2dc488',
  '6035643635c9fc0012cdba5b',
  '62013b22cae16c000cc35a77',
  '593148009c18db64a149274d',
  '6067867934e834000e7fa694',
  '61eaed3d7cf2d2000e42b4c3',
  '61ddf92a147777000e7dd4f8',
  '5e06070167809b000e157d81',
  '605f46b45134750012182708',
  '55fab31b7261696613000002',
  '601bc80fbf1327000d37d9f1',
  '603fa5f8b9eb7c001007f676',
  '5dfa1d5021bf040012664b5a',
  '59b6a7228b0c147e61a804f0',
  '5f788a5c94da2800121521ac',
  '615a36218e9cca000cb9d695',
  '62234a179e03a2000bb513db',
  '61d39476626007000bc2ca5a',
  '5e2722f3031c48001227090c',
  '5ece869c99e08a000ed28379',
  '53234b25cd530e297b000102',
  '5e726d7eefa470001247ee1e',
  '5afe700b7622dd4ba20d3f42',
  '58b17933cd530e4ca5a5ae1a',
  '622ef1ac7c3db2000dd558ef',
  '54593c86726169283b7a0b00',
  '61937b5138a09b000e36cecd',
  '61ddf29e173e0b000dfef7a0',
  '625c6cfc5ecbd8000cc1f3fe',
  '5f4e79df0a438c0012bd4939',
  '616b16d8ed3971000ce0d645',
  '6023b4de5443287f35927ad6',
  '4d8b92fc4eb68a1b2c000b3c',
  '619cfd8e738f4b000c8d5e6f',
  '5447d9117261692cdf590100',
  '54e706977261695fc2510400',
  '58af16e5139b215a84f7de8b',
  '5f8ef678961d4a000ed8a02f',
  '6242f87e2e4c83000be432b8',
  '6006fee72d567b5892e025f4',
  '61e4459c04dc00000ef6fe54',
  '5f64c46b9f13440015852976',
  '5f75f20befedac00122d100a',
  '616ee711e87c87000d27bccf',
  '5e6cb3cf3faea2000e9380bc',
  '5eb67fb225e828000ece1516',
  '5cc333cd0cfb4a00166c96c8',
  '5e29b05c01e28f000e81cab9',
  '57dad0889c18db6b92001fc3',
  '60202ea72de0520011c3ad08',
  '5eb46917a0b7fb000e8e0db0',
  '6225cfa3514017000d1e2d00',
  '606468b6198e34000ff47cdb',
  '5f635dcf6ea492000e4715d2',
  '61ddb89c440980000cefb44e',
  '5ee0ea3334696600120bb6f9',
  '5e78cf027b3e47000e6c1bd1',
  '572e165ecd530e6611000213',
  '5f490761aaca37001189bda0',
  '618d2ba874610b000d454a66',
  '542fc02572616958ae6d0600',
  '56d6ff81cb4c2766ed00026d',
  '5d6fc84cc4b393000d845ceb',
  '5e9b60806d80a900114eb704',
  '544b75e67261694296130100',
  '5fac760ffb86910011481ecb',
  '602445642254b214a88c1221',
  '6218c545ee6b52000d8dcaf2',
  '574dfa427622dd70b800087e',
  '5640e6e2c9dc2479090004fb',
  '61f7faeaf387ec000ee6b532',
  '603e2e3ed64176000f924fb6',
  '60118b417359c0000e96bc59',
  '5ecb9d5e4f575e000d5996aa',
  '5d4c5c1a123cb100131f5a42',
  '554132f57261692b84f40200',
  '5e58f61bffe20b00122bdba4',
  '61e6ea155d4dfa000b721133',
  '5fce91aaa30794331f65aab1',
  '602445640e871e15f6e1f50e',
  '61e30b5e2d28a5000b3d8e39',
  '58e8ac2d9c18db3e6f31b778',
  '5c1cef2ff889967885ba931a',
  '577d640b9c18db06460009c1',
  '5cc1d4b7a16d442b3fd9c2a1',
  '6032b6d8d0274500115f3900',
  '5e53ceef749a5e0011795899',
  '5f9d92ced35d22001124e45f',
  '623de55180884f000b7c4076',
  '5fbe9ec0e7bcc400127ce266',
  '5fe3997d9c0b6c00118d5d1a',
  '61b382eb5be0e4000cb2676d',
  '5c092bf66331422dc3b9c744',
  '5822f7c49c18db4c3400071a',
  '594cf9d9cd530e4d5ad14f5e',
  '5e071c498b10190012b980c1',
  '602c128bac99190011fd4cbf',
  '5adf6f5b1a1e861767e420fd',
  '5f50ee00807c56000ea94f86',
  '5838176a275b24342b000f66',
  '5baca8f1431ce102c5c8f42a',
  '5e58269fbd6710000d42a932',
  '5fa29faf03624e000e985981',
  '5ca8e9e421a9d531f06b32d7',
  '61a9feb86c936b000bc9c9a6',
  '5d460852077d36000e5cffeb',
  '618e92ea66564a000b5fd2f2',
  '557b501f7261694d5400059a',
  '616ee6ff43181c000cd17cc9',
  '5efb1a5ec90c9200124b1787',
  '60b3aa1f78d6a4000ec73862',
  '5c348c6ee1bf9e4620cf1d76',
  '620eadb6d38d97000b954dd1',
  '5f9da693d35d22000d008f12',
  '5fe25bee58a51f0012abf69b',
  '5bda1652ddd5a6407b4b832e',
  '620bd53ec63dff000ddcae15',
  '607444175ca7730012394f1a',
  '5e7a2261183416001170dbd6',
  '5a7b3e3f275b2429deb04968',
  '5e9b0bbc4c6f080013560a33',
  '5fbf8b7abb1aaa000e071875',
  '602abee3908600000eae2246',
  '5da86d91fb43cd000e7c3333',
  '5672ca0cb202a3646e000047',
  '6065c4cfe5f9dc000f057264',
  '525969969c18dbe56f001185',
  '59ca720a7622dd4d70c1d5ac',
  '5e4d2f6cbb2873000e704801',
  '5b55fe280029b65888d73303',
  '59b7d2aca09a6726186f932b',
  '5d5d08b9faa8d0000df0f378',
  '6229f34c39de7a000d55e8ef',
  '5b473b6f74723314d37e008e',
  '5c6d72db885fd3587d15081f',
  '5ee3904d42f0f40012a7d0bc',
  '563531b8726169640a0000fd',
  '5e9b608022893400109d76d3',
  '5be04ede3cc3707b19050f2a',
  '56902c2e258faf63a80001b4',
  '61dfff4a31297e000cca5d9d',
  '5f6355e812aa6e000d447048',
  '5e58f60ed0bbb7000ea182f1',
  '5da8b10e5f3f9d0012757650',
  '5ca8cfd8f360de6f42ec9175',
  '6041aa3ef8d1490012cd77cb',
  '60355f6cd8bc73000dc6be70',
  '5e4aacd3aecb810011f395e4',
  '61ddfcda499e0f000c7c4e6e',
  '5d687658849bc70012ae80f1',
  '605f4180571d39000d3a6e5e',
  '5340391d7622dd1dac0000c5',
  '614ce7d1f37d1a000ceaeeb5',
  '605f45b70c6460000e6c3c1f',
  '603a6309d024a000127f5134',
  '5ede2ecca7927400114eb19c',
  '560a747a72616970d6000183',
  '5672ca157622dd0cbd0001ae',
  '54db27cb7261695bbfe90900',
  '618a5071501c42000d0f0fe0',
  '61f920de5fe231000da6104a',
  '6221cccd32ab4f000bee0346',
  '5f91707b920b4b000fe654ba',
  '5fbe9e774f437c266926251a',
  '5869e888c9dc2445ea004886',
  '60f598d9b86f8b000fd06b1e',
  '60f5a93c29be760011266024',
  '5dce74f6fbb1590012ff14fc',
  '5ff73717495585000e143b5d',
  '5ff5ab0c71958700114eb82d',
  '5268375f275b24be38000486',
  '551d75717261692ae3990700',
  '56d7e91b9c18db55f80004c6',
  '60cc87aaa77503000ff6d0e8',
  '61ddfb39147777000c64e632',
  '55104f597261697fcf0a0600',
  '624d47098e07e9000da7551c',
  '60202d221cad42000d888447',
  '56b2c39e2a893a0152000016',
  '54ec6d3e7261692db90c0000',
  '5f7336a2f66db90012fb352d',
  '5f91b187e611060011b97e91',
  '61e6ea13803442000cb6d067',
  '615ad2374b7751000d3dff5d',
  '620e178b8739f2000e970e34',
  '53fa39907261692d75900000',
  '602e9fab4b434a57362486c9',
  '5b9abca38927d5002aca7ee8',
  '5ddf814406ed310012945f73',
  '59d90ab3a09a670e3c53189c',
  '6221cd150b606c000bf4e9d1',
  '5e9b6b2b99391a001351e130',
  '614ceee073293d000da1aef6',
  '5db2aee125fd6f0012692423',
  '5e173d5d0c4a2100125acb75',
  '621dc9a0c5217a000e79cfb3',
  '54ac33377261692c8f950200',
  '58a47b877622dd4136c1bbed',
  '613a7a7678b492000d57ffe9',
  '5a99894e2a893a5561200228',
  '561403cb7261691e5900092e',
  '5ddf8167e636a80012d5f821',
  '6127b5db2f35d3000fa8c2ee',
  '60b3ae2d78d6a40012285d01',
  '566069e3cd530e63f80000c8',
  '5a55def8a09a67304053ffd5',
  '5e726da9efa470000e74b1aa',
  '566c292c8b3b815e2400036c',
  '59b7e0347622dd4d78a0718c',
  '622f6d845756fa000c727fba',
  '563531f5726169693a000508',
  '5672cf787076d067a70001b7',
  '5bdc323c5ce683392754aa7d',
  '5a7b3e062a893a0bfdab9567',
  '5dfb96c46e010c00129cae06',
  '5f6f6b34f66db90012fa472d',
  '602abee336523d2084fdb06a',
  '5fb5210ee9c267000e5cff34',
  '61a2554e0c8a41000ce1ff5b',
  '60e75848dbbb8b001339a4cb',
  '5baca9095c4afd23599491d9',
  '5dcc2a5002bbb40012a2fc11',
  '6068ac5b9b952a000ea55d0c',
  '6038d2fbfd0395000df20eb1',
  '53248448275b24f3e9000294',
  '60081c7cce192e000d4b698f',
  '54c26c4c7261693706890500',
  '582e78902a893a2732000400',
  '5f8f09fa5c978e0011226c62',
  '60081c7cc0bbbb000eaeddf0',
  '608ad0247cbd02000e08d215',
  '61dd5a12b76629000bc8a730',
  '5c9b953b426dfa3fc6d6d7d4',
  '5d65adc5849bc7000e2be87f',
  '5d689bc298cff6000e435663',
  '5ced2ebe193b6c0a425d3ba7',
  '6203e08b8b35e6000cc5199a',
  '6074484ee0cbcc000e449781',
  '5b7eaf272fd9a807bb62c5c3',
  '61a7d27f307cc7000cfc1e80',
  '6232af240bc53e000b3abd73',
  '605cc72f7d34580012b7da56',
  '5e982eb8a5179a001200b697',
  '5e73ea5ddf95ea000e3204e2',
  '5569d1b97261695f278e0100',
  '5fc8ef40dc3145000edd4c95',
  '5d56d0045c28030011574807',
  '61eb00f05612ff000e3b9dc2',

In [396]:
genes_dict['nft']

{'artist_id': ['27594',
  '46719',
  '04041',
  '11053',
  '26219',
  '24911',
  '46715',
  '46710',
  '20712',
  '27147',
  '03848',
  '46721',
  '46713',
  '04081',
  '08581',
  '05536',
  '06705',
  '06752',
  '33053',
  '00169',
  '31242',
  '15867',
  '46714',
  '05160',
  '46727',
  '26734',
  '04183',
  '06720',
  '23290',
  '30970',
  '19602',
  '26485',
  '30167',
  '06868',
  '06570',
  '11408',
  '25295',
  '01823',
  '24326',
  '21779',
  '10503',
  '25145',
  '16525',
  '06557',
  '46728',
  '02560',
  '03702',
  '20026',
  '46723',
  '29563',
  '04867',
  '13573',
  '01121',
  '46730',
  '03140',
  '21772',
  '20893',
  '46726',
  '09949',
  '27539',
  '23303',
  '20273',
  '08515',
  '16827',
  '46716',
  '27692',
  '16920',
  '31326',
  '04449',
  '27875',
  '46718',
  '00040',
  '42438',
  '09778',
  '32374',
  '28251',
  '07413',
  '46717',
  '13584',
  '33838',
  '28779',
  '25685',
  '17724',
  '46725',
  '27412',
  '11886',
  '18653',
  '46720',
  '26660',
  '46709',
  '29946',
  '29662',
  '16168',
  '00754',
  '32575',
  '14713',
  '14899',
  '46724',
  '12877',
  '16040',
  '46729',
  '00417',
  '07999',
  '01672',
  '30020',
  '24226',
  '08108',
  '09308',
  '17981',
  '21196',
  '06625'],
 'artsy_id': ['622f578bc207b4000b17b3ba',
  '6230f918db8c27000d50df8d',
  '618cee1217066f000d98190c',
  '61f333da8a3d6c000d30e1ce',
  '61e597680d2da0000bf7ac49',
  '624c0f4c1921db000e913de4',
  '6220b6706633ce000eb17586',
  '6222121915c61f000c296aaf',
  '60ee92a620e2690012b1b1ac',
  '620d4e5c32fe75000b65e6b0',
  '622211a999b8f4000d8cff2e',
  '620d5084d42424000b5861c8',
  '61f58332b8a5b0000cc3829f',
  '622f578b775d1d000b1bb165',
  '6064efa9342cd0000e7477eb',
  '6231054817e616000b0b389e',
  '621919e5d8eecd000c47b135',
  '6230ffb352889e000de4f15e',
  '61be0fc6d8624f000d09ffba',
  '61fd7fb4e008a2000d6b93c3',
  '6195e7d0ec21a7000d25a8de',
  '615db41d2ebd74000b5bce84',
  '608987eb8b03f900135d1b76',
  '61aa2f36cccc29000bcf2e82',
  '62237fd43e609c000dc2ac58',
  '615da9cd2ebd74000dbca3fe',
  '6195268e1f44dc000c52e58e',
  '6193e22b373b73000b0fe943',
  '624a76c7a3259b000e7c3ef3',
  '60882a30acf36d000ef20e0e',
  '62003cdd5d6e68000be31211',
  '621917595d885f000b513576',
  '621919e41b2bbc000bab6747',
  '62500770d97b19000ce0225a',
  '61d8ac5b81af74000dfd9ff8',
  '60b8f973f0e8ae0013f20f2d',
  '60899160f76f96001366a467',
  '619d2547fa694a000b0e6f3d',
  '60f0123008278900128fca9f',
  '61aa307a97b819000ef9384e',
  '623103d964803b000e1c4568',
  '62186dfbee6b52000b06e989',
  '61a36f3a416a8d000bfccc27',
  '623dc4b4dc8515000c14fcb8',
  '624a73efa3259b000c26608b',
  '6223787ee8f791000e480487',
  '608a0017e38b350014d8669b',
  '61b0dd6cc93866000cfc891d',
  '61fd7fb13e73b9000cf9f02b',
  '6218146e3ce20e000e179d60',
  '620a77f2fea647000c202da1',
  '623e1f126d11ff000cbc184a',
  '621e60e7911401000b084b14',
  '621921db61a45e000dd19259',
  '620b7345682ce4000d8dc094',
  '622a30aaef8c99000c8ee197',
  '620fab3bc9a9f6000dab368d',
  '6089fe09aed126001290df11',
  '60882a6bdca50e0010682373',
  '62442c1eb77844000daa7a31',
  '6196a5361d916a000d204c6c',
  '62191759647b89000d89393c',
  '6047a3ac26161d001215b8df',
  '6170041241add2000ed3e203',
  '60898c56745e68000f2b6379',
  '621e1014d8e734000d7afe8b',
  '624ad400f15311000dc34719',
  '6233509f54bef5000c102eaa',
  '621e10d9fb725d000c6313c4',
  '624a6b63c77b5e000de0fdf8',
  '6219143bda6402000eaf4aca',
  '6195e4c1231ecc000c2e7689',
  '60898e9c0013cd000ee73dea',
  '62500769a15c60000dda1d56',
  '619572af9bb476000da5f24e',
  '61be0ce823eeeb000b55650a',
  '60898fa49b9048000e755cd1',
  '6149c4b511f501000b4db591',
  '6231f535c00656000ba3a539',
  '617aac989fb87e000b7bf85e',
  '61201d7d86ffad000c092688',
  '62224c630b606c000bf566ec',
  '61fcfd162a63f5000c236c91',
  '611c41916fca5b000fd0f059',
  '61a36fdcf12183000c30afaa',
  '6149fddaa02a13000e8b1365',
  '608923810396e100133cd428',
  '618fe2232a9dd5000d8e2d2a',
  '62442b9f4d4ea5000ccf5d00',
  '624a6d3241a9b0000c3326b6',
  '624a63de20573b000eb57c06',
  '619527b01ce16c000d8c8800',
  '620eb5f695eee1000d8e5a3c',
  '62442ac9060cc4000dab7865',
  '6149ed8ee45461000ca56262',
  '612f3ebcb31886000c0d4b57',
  '623119283acb43000b15e117',
  '622f0d96090708000e3d9483',
  '61fd6ea63644b6000ce3aa3e',
  '60898ff8a1a4c400126706b8',
  '6230fbc7656725000db54d4a',
  '6227176f59da54000c9e6ed5',
  '6193de66e957a3000d82f9ac',
  '621876a5d755e3000d4b727c',
  '6230fdce3af000000c8b8c43',
  '60411090d8c8da00118e6177',
  '6196a5241f1534000b8aec70',
  '621921dc787c88000e557651',
  '615ee80dea8c22000daf99dc',
  '620a68d953dd42000c9fa9ab',
  '614477b3d992e2000ede7222',
  '62164b5dff2aff000ede03ae',
  '62160d615ceac2000b951c22',
  '621f38846f6f54000d9b18ae',
  '6235314a8e0813000e8afff4',
  '608956074ca4de000eabc3ed',
  '620a6f82fc3035000dd22754',
  '6193ea2b08e6b2000b8de316',
  '60f00aa4c5aa79000f398f39',
  '62276ef97e307f000b4ddc7a',
  '61927918213cbd000c2721be',
  '6193df6b66eb75000c5e2fe9',
  '6217ddcd2f100e000d88e971',
  '6239735aabd80c000c4180aa',
  '621876a591ce4a000dca79b9',
  '622ddca5cf1fd3000d0b3eab',
  '614dd279436c6f000c54ea96',
  '6233509e747ab6000ba34bf9',
  '621f48db9eadd8000cd0902c',
  '6219104ed8eecd000c47a78a',
  '6135165178500e000cdb60ee',
  '61a0ff76772b49000be0a244',
  '6194e1a7d0bb7b000d90fc66',
  '6149c48e224e99000dba9b26',
  '61be0e0c3c517e000ef1ec68',
  '6149edb789a97b000ca5f0ff',
  '60898f24745e6800137c9a85',
  '6149f50cbec99e000b023ba4',
  '620fab3ba3ddbf000c805b19',
  '621919a1c08f34000d6e4e76',
  '621921dd61a45e000bc36767',
  '619277935e679c000c652edc',
  '623d6cef3a53c2000cc0f4c0',
  '619572ad4c4986000c652224',
  '615db5fb28b240000ca6a9df',
  '5fbd73601dd2c430506b1dd4',
  '6195d435b7a671000d029337',
  '60892382f76f96000f6db5f0',
  '623e46c60b71f5000d32f0db',
  '60b79e24dd9356001343493b',
  '61a36fbf41d6d9000b4f24ea',
  '61952b73b340a6000d9d436a',
  '604cd092f7a34400110d24ba',
  '60edb503f41ac30012620305',
  '6227e6f69dc15b000c2ee603',
  '61a0f6d1a4988a000c680c7f',
  '620a49f2fea647000ba59c6c',
  '61312033464e3c000ca82d63',
  '620a49f37c6699000c370794',
  '61a0fa2e1bb11c000b588a31',
  '62484e94f0d1fc000ecf2444',
  '61f277ded8310d000cca9b53',
  '62273fd2497244000dace621',
  '6220b5cefa3555000d1ca04f',
  '608992254163ac0012d8829d',
  '616abe28d55d48000bb1c305',
  '619572acb685c5000ceca694',
  '621dbe21caa7a5000c2604c4',
  '62190e6f6eda7a000ce9d39a',
  '620a47e894b381000c755777',
  '609a884edb50c2000e4eacff',
  '62191759647b89000d893941',
  '6149f02e23ce4c000cbb5ae5',
  '6196a6a037c5c1000ca1acb9',
  '620fab3b63368e000d7509b3',
  '611d35f1e643bb000caae58e',
  '624c0f8be36099000d49f0d2',
  '622211aa1c9af3000c715e21',
  '615ee6c978ead0000caa5f9f',
  '623d72bbd4c47f000c5a4ab2',
  '6193e0951f44dc000deea756',
  '61927a049d8acd000bc03429',
  '6193e3bedd2449000d677dfd',
  '619d23c58c9a7a000c92ebce',
  '60d4be0e83d13a001332cc14',
  '618cee12651427000c7fe7f0',
  '622da70b7c3db2000b4547c4',
  '6233509f0c6895000c5c4f65',
  '621921dcda6402000c858c86',
  '61e56a9b0c5ab3000ce3cbcc',
  '6198b0ff5cf1b2000eb2e8fc',
  '6241c2b5cab04c000bddb192',
  '61a36f6be3542d000bbe52e2',
  '6219143b61a45e000dd1867a',
  '613d05423c5e30000b2a3f33',
  '6149f82ee198cb000c069834',
  '6217d6f1ffb7d8000d90c1b4',
  '61aa735aac95c2000d636419',
  '624a63de628670000d5c44ad',
  '60e8522bc9a99b000eadc189',
  '62347b70c57009000d045ac7',
  '611c4d318d65ba000ff91547',
  '622ddf9169467d000ce2db01',
  '608982f810b9bb000ee1ec83',
  '60b3a710b1469f00123ff04f',
  '620a4853c38cc3000ecdce60',
  '6227514645db7a000e3a26b4',
  '6215fd4d45f8ad000da5c8ea',
  '620a6687b5965e000cd08bb9',
  '60f883b24321f000135a33b7',
  '602eff03f242f8000e0c18c2',
  '61f973808de4a4000bca2be4',
  '608987018ce284000f05eac8',
  '61a0fea5a4988a000bddbd7c',
  '624a63def972fe000c573865',
  '623109d5e25edd000c674868',
  '619205c4700954000c89b069',
  '623108c1c99f87000c29c407',
  '621921dc5fd5b9000d8d186a',
  '6219143b3deebf000b70563a',
  '62190e6f3deebf000b70506d',
  '61aa2d3a97b819000c6871e0',
  '615dca9dfa996d000d03d3db',
  '61fd7fb4b9ff6c000c84bbdc',
  '6194e2dbb4c185000c4882e1',
  '6149f3840acef0000cd662fc',
  '623a637b6119d1000c489109',
  '61fd7fb1c4a008000df1bdd4',
  '62186df9903ad1000de42cff',
  '624a6978e50923000d0b7cfb',
  '608992bf55d0920012d4edf4',
  '621e0d9e96d8a9000ce9aa5c',
  '624c0f94264644000b17def6',
  '61a91c8f8c6e81000dcbb1af',
  '60882a382e50cd0010b088be',
  '61a0fcee78e2a2000bc74dfd',
  '623101828714c1000d624fb8',
  '62180d213bd571000dfca223',
  '60898d944163ac0012d87f1c',
  '624a6e79a3259b000c265bc2',
  '623e1f135f2256000dc86f80',
  '61a92533fcbbf6000c06349d',
  '6089858566f4f500136f3514',
  '619572a89bb476000da5f243',
  '611c415207b8e3000d3036da',
  '619572aeec21a7000d2534fc',
  '621e0ac9a7e6c6000b7bbbc6',
  '612b65ae73c0b1000fffb651',
  '60e84b70557ad500132c62b1',
  '61e59775e24fc0000b7006d5',
  '6113ae4f6a4e5d000e2283e1',
  '6202a88dd3842f000e2bdeb1',
  '624a7173e50923000d0b844c',
  '608b41be45ae6a000f43d2a8',
  '60b3a48d44adcd000e04017c',
  '608923833506ec000e4f9837',
  '622212191b53d5000ddeb513',
  '623e1f12416876000b736563',
  '61aa72a66d4de6000ddd7969',
  '623b3a180a2803000e7672e1',
  '6217de69c02457000b3f7663',
  '62221219822734000e09cc9f',
  '6231076a3af000000b1d2477'],
 'category_id': '06',
 'id': '06176',
 'link': '/gene/nft',
 'name': 'NFT',
 'parsing_date': '2022-04-20',
 'updating_date': '2022-04-20'}

In [397]:
save_dict(genes_dict, gen_dict, 'live') # 1. Save json dict

## Backup saving

In [398]:
save_dict(artworks_dict, artwork_dict.replace('.txt', '') + '_' + str(datetime.now().date()) + '.txt', 'backup') # 1. Save json dict
save_dict(artists_dict, artist_dict.replace('.txt', '') + '_' + str(datetime.now().date()) + '.txt', 'backup') # 1. Save json dict
save_dict(genes_dict, gen_dict.replace('.txt', '') + '_' + str(datetime.now().date()) + '.txt', 'backup') # 1. Save json dict

# Images

In [ ]:
# Sample from API tables

# 'image': {'href': 'https://d32dm0rphc51dk.cloudfront.net/NOpIAwQa-3r51Cg9qXKbfA/{image_version}.jpg',
#                      'templated': True}
#i = 'https://d32dm0rphc51dk.cloudfront.net/NOpIAwQa-3r51Cg9qXKbfA/normalized.jpg'
#for p in i.split('.jpg')[0].split('/'):
#  print(len(p), p)

6 https:
0
29 d32dm0rphc51dk.cloudfront.net
22 NOpIAwQa-3r51Cg9qXKbfA
10 normalized

In [ ]:
#! pip install pillow --user

import PIL
from PIL import Image
import os
import cv2

%pylab inline
import matplotlib.pyplot as plt
import matplotlib.image as mpimg

Populating the interactive namespace from numpy and matplotlib

In [ ]:
image = requests.get(img, headers={'User-Agent': 'Chrome/97.0.4692.71'})
name = art_project_path + '/' + 'portrait_of_a_man_in_armour' + '.jpg'

img = open(name, 'wb')
img.write(image.content)
img.close()

img = Image.open(name)
plt.imshow(img)
plt.axis('off')
plt.show()

img.close()